---
import { Image } from "astro:assets";
import chap5Ic1 from '../../assets/chap5Ic01.jpg';
import chap5Ic2 from '../../assets/chap5Ic2.jpg';
import chap5Ic3 from '../../assets/chap5Ic3.jpg';
import chap5Ic4 from '../../assets/chap5Ic4.jpg';
import chap5Ic5 from '../../assets/chap5Ic5.jpg';
import chap5Ic6 from '../../assets/chap5Ic6.jpg';
import chap5Ic7 from '../../assets/chap5Ic7.jpg';
import chap5Ic8 from '../../assets/chap5Ic8.jpg';
import chap5Ic9 from '../../assets/chap5Ic9.jpg';
import chap5Ic10 from '../../assets/chap5Ic10.jpg';
import chap5Ic11 from '../../assets/chap5Ic11.jpg';
import chap5Ic12 from '../../assets/chap5Ic12.jpg';
import chap5Ic14 from '../../assets/chap5Ic14.jpg';
import chap5Ic15 from '../../assets/chap5Ic15.jpg';
import chap5Ic16 from '../../assets/chap5Ic16.jpg';
import chap5Ic17 from '../../assets/chap5Ic17.jpg';
import chap5Bot from '../../assets/chap5Bot.jpg';
---
<section class="chap5-sum" id="Sc1">
    <div class="container">
        <h2 class="heading txt-78 txt-bold chap5-sum-title" data-aos="fade-up">
            SUSTAINABLE DEVELOPMENT ACTIVITIES IN LINE WITH UNITED NATIONS' SUSTAINABLE DEVELOPMENT GOALS
        </h2>
        <div class="chap5-sum-main">
            <div class="chap5-sum-item" style="--bg-cl: #EA1B2D" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic1} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            01
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title">
                            No Poverty
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Employment for more than 9,243 workers.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                In 2023, Vinamilk continued to sponsor 500 million VND for the heart surgery program conducted by MD1 World Organization (US) and City Children's Hospital. Since 2019, Vinamilk has sponsored over 1.2 billion VND for the program that gives over 34 children the opportunity to live healthily.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Local economic development: 239,254 tons of purchased raw milk/year from farming households.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Distribution of gifts to the poor and victims of Agent Orange.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #D29F29" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic2} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            02
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title">
                            Zero hunger
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Over 250 SKUs in Vinamilk's portfolio covering all 63/63 provinces.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                42 million glasses of milk worth 200 billion VND brought to more than 500,000 children over the course of 16 years under the “Stand Tall Vietnam” Milk Fund, and in 2023, more than 1.5 million glasses of milk brought to over 16,300 disadvantaged children in 14 provinces/cities.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #279B48" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic3} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            03
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Good Health and Well-being
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                16 years of running the School milk program with a contribution of 55 billion VND.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                In 2023, Vinamilk maintained its extra care for the elderly by hosting well-being activities for this group. Notably, the series of events “Eat Well, Sleep Well, Live Well” from September to December 2023 was organized by Vinamilk in collaboration with the Vietnam Association of The Elderly in 10 provinces and cities nationwide.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                In the 4th year of collaboration with the Vietnam Chief Nursing Club, Vinamilk continued to raise awareness about the importance of nutritional care for over 1,000 healthcare professionals nationwide, contributing to improving treatment efficiency for millions of people.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #C21E32" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic4} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            04
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Quality Education
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                523 training courses with the participation of 30,221 attendees.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Vinamilk donated VND 200 million to the scholarship fund of Nguyen Thi Be Middle School.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Training courses for skills and professional development for farmers.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #EF402B" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic5} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            05
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title">
                            Gender Equality
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                No discrimination. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Females accounted for 27.6% of the management levels.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #00AED8" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic6} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            06
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Clean Water and Sanitation
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                100% compliance from member units regarding the permitted water consumption. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                100% of water used meeting standards. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                100% of wastewater treated through a standardized process. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                125,108 m3 of water in production activities is fully recovered, recycled, and reused.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #FCB612" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic7} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            07
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Affordable and clean energy
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                14,421,569 kWh of solar energy used, accounting for 8.49% of the total power consumption (for production).
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Solar power installed at the Headquarters, 11 Factories, and 13 Farms.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Biomass-fired steam systems used at 10 Factories.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #8F1737" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic8} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            08
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Decent work and economic growth
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Providing high-income jobs for 9,243 employees.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Prioritizing local labor hire, and supporting capacity and knowledge building.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Exporting products to 60 countries and territories. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Building an occupational safety and health management system according to ISO 45001.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                The most chosen dairy and dairy substitutes brand by Vietnamese consumers for the 11th consecutive year (Kantar Worldpanel). 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 3 most chosen FMCG manufacturers by consumers (Kantar Worldpanel).
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 1 Employer of Choice in 2022 - Fast Moving Consumer Goods Industry (surveyed by Career Builder).
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 50 Best Performing Companies in Vietnam by Nhip Cau Dau Tu Magazine (12th consecutive year).
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 10 Vietnamese Excellent Brands 2022 - 2023 by VnEconomy.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #F26C24" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic9} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            09
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Industry, innovation, and infrastructure
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                100% of the infrastructure reviewed to look for new investment opportunities.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #E01383" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic10} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            10
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Reduced inequalities
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                No complaints about inequality.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                No complaints about discrimination.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                No forced labor, no child labor.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #CE8C29" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic11} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            12
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Responsible consumption and production
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                50% reduction of the shrink wrapping for product pallets, saving 29,499 kg of plastic.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                All “Giac mo sua Viet” stores of Vinamilk say no to plastic bags.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Vinamilk's paper packaging is produced with Tetra Brik Aseptic technology. The packaging is fully recyclable and FSC-certified - guaranteeing environmental, economic, and social benefits.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Factory system certified to FSSC 22000, ISO 14001, ISO 50001, Organic EU.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Farm system certified to GlobalG.A.P, Organic EU.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Compliance with social responsibilities according to SMETA Sedex 4 Pillars standards.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Transparency of information to stakeholders.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Good customer services.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 10 Sustainable Enterprises Operating in the Manufacturing Sector by CSI 2023. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 5 Pioneers in Embracing Circular Economy and Reducing Carbon Footprint by CSI 2023.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #47773E" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic12} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            13
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Climate Action
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                In early 2023, Vinamilk launched a project to plant more than 1,000 trees in support of the “Net Zero Tree Planting” initiative by the Ministry of Natural Resources and Environment. This marks the beginning of a 5-year collaboration (2023-2027) with a budget of VND 15 billion.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                In August 2023, Vinamilk partnered with Gaia Nature Conservation and Mui Ca Mau National Park to launch a 25-ha mangrove reforestation program at Mui Ca Mau National Park with a budget of nearly VND 4 billion.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Application of renewable energy and circular economy.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                First prize for Sustainable Development Report and Awards for Enterprises with Excellent Greenhouse Gas Management.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Vinamilk Pathways to Dairy Net Zero program was awarded the most important category of the Human Act Prize 2023.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #007CBC" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic14} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            14
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Life below water
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Environmental commitment of over 65,000 students through the series of events “Promotion and education for primary students on waste sorting for environmental protection” coordinated by Vinamilk and the Departments of Education.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Production wastewater properly treated before discharge.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #3EB049" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic15} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            15
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Life on land
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                13 Farms and 01 Center for Dairy Technology and Embryo Transfer certified to GlobalG.A.P.  
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                02 farms certified to Organic EU.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                No field burning in cultivation.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                No hunting of wild animals.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Using organic fertilizers instead of inorganic and chemical fertilizers on farms with arable land.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Organizing the series of events “Promotion and education for primary students on waste sorting for environmental protection”, themed with Susu and Hero brands, in 10 provinces and cities, which attracted over 65,000 students. This helped to raise environmental protection awareness for future generations.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #02548B" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic16} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            16
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Peace, justice, and strong institutions
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Giving comments and feedback on the elaboration and amendment of legal documents.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Supporting and accompanying the government in achieving 17 Sustainable Development Goals.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #183667" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic17} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            17
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            Partnerships
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Promoting the application of technology in sustainable agriculture.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Establishing strategic partnerships with potential partners to seek opportunities for product portfolio expansion.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Enhancing trade promotion activities to seek new export customers.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Applying DSF framework and principles to the company's production and business practice.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="chap5-sum-img-bot" data-aos="fade-up">
        <Image src={chap5Bot} alt="" />
    </div>
</section>

<style lang="scss">
    .chap5-sum {
        padding-block: 9rem 10.5rem;
        @media screen and (max-width: 767px) {
            padding-block: 4.9rem 5.5rem;
        }
        .container {
            z-index: 2;
            position: relative;
        }
        &-title {
            text-align: center;
            margin-bottom: 8.4rem;
            color: var(--cl-blue);
            max-width: none;
            margin-inline: auto;
            line-height: 7.5rem;
            @media screen and (max-width: 767px) {
                font-size: 4.2rem;
                line-height: 1em;
                margin-bottom: 4.2rem;
            }
        }
        &-main {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: var(--grid-gap);
            row-gap: var(--grid-gap);
            @media screen and (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }
        &-item {
            display: flex;
            flex-direction: column;
            row-gap: .8rem;
            color: var(--cl-bg);
            --item-cl: var(--bg-cl);
            min-height: 100%;
            @media screen and (max-width: 767px) {
                grid-column: span 1 !important;
                grid-row: span 1 !important;
            }
            .head-wrap {
                display: flex;
                column-gap: .8rem;
                .ic-wrap {
                    width: 8rem;
                    height: 100%;
                    flex: none;
                    border-radius: 1.4rem;
                    overflow: hidden;
                    background-color: var(--item-cl);
                }
                .title-wrap {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    column-gap: 1.4rem;
                    padding-block: 1.2rem 1.7rem;
                    padding-inline: 2rem 1.6rem;
                    border-radius: 1.4rem;
                    overflow: hidden;
                    background-color: var(--item-cl);
                    .line-ver {
                        background-color: var(--cl-bg);
                    }
                    .title {
                        margin-top: .4rem;
                        &.mb-sm {
                            @media screen and (max-width: 767px) {
                                font-size: 2.6rem;
                                line-height: 1.2em;
                            }
                        }
                    }
                }
            }
            .body-wrap {
                padding-block: 3.4rem 4rem;
                padding-inline: 3.2rem 6rem;
                border-radius: 1.4rem;
                overflow: hidden;
                flex-grow: 1;
                background-color: var(--item-cl);
                @media screen and (max-width: 767px) {
                    padding-block: 1.6rem 2rem;
                    padding-inline: 1.2rem 1.6rem;
                }
                .list {
                    padding-left: 1.6rem;
                    .body {
                        line-height: 2.8rem;
                    }
                }
            }
            &:nth-child(1) {
                grid-column: span 7;
            }
            &:nth-child(2) {
                grid-column: span 5;
            }
            &:nth-child(3) {
                grid-column: span 7;
                grid-row: span 2;
            }
            &:nth-child(4) {
                grid-column: span 5;
            }
            &:nth-child(5) {
                grid-column: span 5;
            }
            &:nth-child(6) {
                grid-column: 1/7;
            }
            &:nth-child(7) {
                grid-column: 1/7;
            }
            &:nth-child(8) {
                grid-column: 7/13;
                grid-row: 4/7;
            }
            &:nth-child(9) {
                grid-column: 7/13;
            }
            &:nth-child(10) {
                grid-column: 7/13;
            }
            &:nth-child(11) {
                grid-column: 1/7;
                grid-row: 6/10;
            }
            &:nth-child(12) {
                grid-column: 1/7;
                grid-row: 10/12;
            }
            &:nth-child(13) {
                grid-column: 7/13;
                grid-row: 9/11;
            }
            &:nth-child(14) {
                grid-column: 7/13;
                grid-row: 11/13;
            }
            &:nth-child(15) {
                grid-column: 1/7;
                grid-row: 12/14;
            }
            &:nth-child(16) {
                grid-column: 7/13;
                grid-row: 13/15;
            }
        }
        &-img-bot {
            margin-top: -14.6rem;
            pointer-events: none;
            position: relative;
            z-index: 1;
            @media screen and (max-width: 767px) {
                margin-top: 5.4rem;
                width: 200%;
            }
        }
    }
</style>