---
import { Image } from "astro:assets";
import chap5Ic1 from '../../assets/chap5Ic01.jpg';
import chap5Ic2 from '../../assets/chap5Ic2.jpg';
import chap5Ic3 from '../../assets/chap5Ic3.jpg';
import chap5Ic4 from '../../assets/chap5Ic4.jpg';
import chap5Ic5 from '../../assets/chap5Ic5.jpg';
import chap5Ic6 from '../../assets/chap5Ic6.jpg';
import chap5Ic7 from '../../assets/chap5Ic7.jpg';
import chap5Ic8 from '../../assets/chap5Ic8.jpg';
import chap5Ic9 from '../../assets/chap5Ic9.jpg';
import chap5Ic10 from '../../assets/chap5Ic10.jpg';
import chap5Ic11 from '../../assets/chap5Ic11.jpg';
import chap5Ic12 from '../../assets/chap5Ic12.jpg';
import chap5Ic14 from '../../assets/chap5Ic14.jpg';
import chap5Ic15 from '../../assets/chap5Ic15.jpg';
import chap5Ic16 from '../../assets/chap5Ic16.jpg';
import chap5Ic17 from '../../assets/chap5Ic17.jpg';
import chap5Bot from '../../assets/chap5Bot.jpg';
---
<section class="chap5-sum" id="Sc1">
    <div class="container">
        <h2 class="heading txt-78 txt-bold chap5-sum-title" data-aos="fade-up">
            Hoạt động phát triển bền vững tại Vinamilk trong năm 2023 với các mục tiêu phát triển bền vững của Liên Hợp Quốc
        </h2>
        <div class="chap5-sum-main">
            <div class="chap5-sum-item" style="--bg-cl: #EA1B2D" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic1} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            01
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title">
                            Xóa nghèo
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Việc làm cho hơn 9.243 lao động.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Năm 2023, Vinamilk tiếp tục tài trợ 500 triệu đồng cho chương trình mổ tim do Tổ chức MD1 World (Mỹ) và Bệnh viện Nhi đồng Thành phối hợp thực hiện. Tính từ năm 2019, Vinamilk đã tài trợ hơn 1,2 tỷ đồng cho chương trình để giúp hơn 34 trẻ em có cơ hội được sống khỏe mạnh như những đứa trẻ khác. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Phát triển kinh tế địa phương: thu mua từ hộ dân liên kết 239.254 tấn sữa/năm.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Phát quà cho người nghèo, chất độc da cam.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #D29F29" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic2} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            02
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title">
                            XOÁ ĐÓI
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Danh mục sản phẩm trên 250 mặt hàng sữa và các sản phẩm từ sữa của Vinamilk được phủ đều 63/63 tỉnh thành.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Quỹ Sữa Vươn Cao Việt Nam đã trải qua 16 năm, trao tặng 42 triệu ly sữa cho hơn 500.000 trẻ em với tổng giá trị đóng góp là 200 tỷ đồng. Năm 2023 hơn 1,5 triệu ly sữa cho hơn 16.300 trẻ em khó khăn ở 14 tỉnh, thành phố.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #279B48" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic3} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            03
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            SỨC KHỎE TỐT VÀ CUỘC SỐNG HẠNH PHÚC
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                16 năm tổ chức Chương trình Sữa học đường đóng góp 55 tỷ đồng.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Năm 2023, Vinamilk tiếp tục dành sự quan tâm đặc biệt đến những người cao tuổi, thông qua các hoạt động chăm sóc  sức khỏe thể chất và tinh thần cho nhóm dân số này. Nổi bật là chuỗi sự kiện “Ăn ngon ngủ ngon, ngày trọn đêm vẹn” kéo dài từ tháng 9 đến tháng 12/2023 do Vinamilk đồng hành cùng Hội Người Cao tuổi 10 tỉnh, thành trên cả nước tổ chức. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Trong năm thứ 4 đồng hành cùng Câu lạc bộ Điều dưỡng trưởng Việt Nam, Vinamilk tiếp tục nâng cao nhận thức về tầm quan trọng của chăm sóc dinh dưỡng bệnh lý cho hơn 1.000 nhân viên y tế trên cả nước, góp phần gia tăng hiệu quả điều trị bệnh cho hàng triệu người dân.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #C21E32" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic4} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            04
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            GIÁO DỤC CHẤT LƯỢNG
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                523 khóa đào tạo với 30.221 lượt học viên.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Vinamilk đóng góp 200 triệu đồng vào quỹ  học bổng của Trường THCS Nguyễn Thị Bé. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Tổ chức các khóa đào tạo liên quan đến kỹ  năng, bồi dưỡng nghiệp vụ cho hộ nông dân.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #EF402B" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic5} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            05
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title">
                            BÌNH ĐẲNG GIỚI
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Không phân biệt đối xử. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                27,6% trong đội ngũ cấp quản lý là nữ
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #00AED8" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic6} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            06
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            NƯỚC SẠCH VÀ ĐIỀU KIỆN VỆ SINH
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                100% Đơn vị khai thác nước đúng công suất cho phép. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                100% Nước sử dụng đạt chuẩn. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                100% Nước thải được xử lý đạt chuẩn. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                125.108 m3 Lượng nước trong hoạt động sản xuất. Được tận thu tuần hoàn và tái sử dụng.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #FCB612" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic7} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            07
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            NĂNG LƯỢNG SẠCH VÀ GIÁ HỢP LÝ
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                14.421.569 Kwh năng lượng mặt trời được sử dụng chiếm 8,49% tổng điện năng sử dụng (mảng sản xuất).
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Trụ sở chính, 11 Nhà Máy, 13 Trang trại được lắp đặt Hệ thống năng lượng mặt trời.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                10 Nhà máy sử dụng hệ thống hơi - năng lượng xanh (Biomass).
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #8F1737" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic8} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            08
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            VIỆC LÀM BỀN VỮNG VÀ TĂNG TRƯỞNG KINH TẾ
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Tạo việc làm thu nhập cao cho 9.243 lao động.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Ưu tiên tuyển dụng lao động địa phương, hỗ trợ đào tạo nâng cao kỹ năng và kiến thức cho người lao động.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Xuất khẩu sản phẩm sang 60 quốc gia và vùng lãnh thổ. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Xây dựng hệ thống quản lý an toàn, sức khỏe nghề nghiệp theo ISO 45001
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Thương hiệu sữa được người tiêu dùng Việt Nam chọn mua nhiều nhất 11 năm liền (Báo cáo Kantar). 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 3 Nhà sản xuất ngành hàng tiêu dùng nhanh được người tiêu dùng chọn mua nhiều nhất (Báo cáo Kantar).
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 1 Nhà tuyển dụng được yêu thích nhất năm 2022 - Ngành Hàng Tiêu Dùng Nhanh (Khảo sát của Career Builder).
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 50 Công ty kinh doanh hiệu quả nhất Việt Nam của Tạp chí Nhịp cầu đầu tư (12 năm liên tiếp).
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 10 thương hiệu mạnh Việt Nam 2022 - 2023 của VnEconomy.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #F26C24" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic9} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            09
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            CÔNG NGHIỆP, ĐỔI MỚI VÀ CƠ SỞ HẠ TẦNG
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                100% cơ sở hạ tầng được đánh giá rà soát và tìm kiếm cơ hội đầu tư mới.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #E01383" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic10} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            10
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            GIẢM BẤT BÌNH ĐẲNG
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                100% cơ sở hạ tầng được đánh giá rà soát và tìm kiếm cơ hội đầu tư mới.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #CE8C29" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic11} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            12
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            TIÊU DÙNG VÀ SẢN XUẤT CÓ TRÁCH NHIỆM
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Giảm 50% khổ màng co quấn pallet sản phẩm, tiết giảm được 29.499 kg nhựa.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Tất cả các cửa hàng “Giấc Mơ Sữa Việt” của Vinamilk nói không với việc sử dụng túi nilon thông thường.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Bao bì hộp giấy Vinamilk đều sử dụng bao bì giấy theo công nghệ Tetra Brick Aspeptic. Bao bì có thể tái chế toàn bộ và được chứng nhận FSC - chứng nhận sản phẩm mang lại lợi ích về môi trường, kinh tế và xã hội.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Hệ thống nhà máy đạt chứng nhận FSSC 22000, ISO 14001, ISO 50001, Organic EU.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Hệ thống trang trại được chứng nhận GlobalG.A.P, Organic EU.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Tuân thủ trách nhiệm xã hội theo tiêu chuẩn SMETA Sedex 4 Pillars.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Minh bạch thông tin đến các bên liên quan.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Dịch vụ khách hàng tốt.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 10 doanh nghiệp bền vững hoạt động trong lĩnh vực sản xuất của CSI 2023. 
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Top 5 Doanh nghiệp tiên phong thực hiện kinh tế tuần hoàn và cắt giảm phát thải Carbon của CSI 2023.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #47773E" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic12} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            13
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            ỨNG PHÓ VỚI BIẾN ĐỔI KHÍ HẬU
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Đầu năm 2023, Vinamilk đã khởi động trồng hơn 1.000 cây xanh thuộc Hoạt đồng trồng cây hướng đến Net Zero. Đây là hoạt động hợp tác với Bộ Tài nguyên và Môi trường kéo dài trong 5 năm (2023-2027) với ngân sách 15 tỷ đồng.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Tháng 8/2023, Vinamilk đồng hành cùng Trung tâm bảo tồn thiên nhiên Gaia và Vườn Quốc gia Mũi Cà Mau khởi động chương trình khoanh nuôi giúp tái sinh 25 hecta (ha) rừng ngập mặn tại Vườn Quốc gia Mũi Cà Mau với ngân sách gần 4 tỷ đồng.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Ứng dụng năng lượng xanh, sạch và kinh tế tuần hoàn.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Giải nhất báo cáo phát triển bền vững và giải thưởng doanh nghiệp quản lý tốt phát khí thải nhà kính.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Chương trình hành động Vinamilk Pathways to Dairy Net Zero 2050 được trao giải thưởng “Hành động vì cộng đồng - Human Act Prize” - hạng mục lớn và quan trọng nhất.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #007CBC" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic14} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            14
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            ĐỜI SỐNG DƯỚI NƯỚC
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Hơn 65.000 học sinh cam kết chung tay bảo vệ môi trường thông qua chuỗi sự kiện “Tuyên truyền và giáo dục cho học sinh tiểu học cách phân loại rác bảo vệ môi trường” do Vinamilk phối hợp với các Sở Giáo dục tổ chức.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Nước thải hoạt động sản xuất được xử lý trước khi thải ra môi trường.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #3EB049" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic15} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            15
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            ĐỜI SỐNG TRÊN CẠN
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                13 Trang trại và 01 Trung tâm kỹ thuật bò sữa và Cấy truyền phôi đạt GlobalG.A.P.  
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                02 trang trại đạt chuẩn Organic EU.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Không đốt đồng trong trồng trọt.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Không săn bắt động vật hoang dã.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Trang trại có đất canh tác sử dụng phân hữu cơ thay thế phân vô cơ và hóa chất.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Thông qua thương hiệu Susu và Hero, tổ chức chương trình “Tuyên truyền và giáo dục cho học sinh tiểu học cách phân loại rác bảo vệ môi trường” tại 10 tỉnh thành, thu hút hơn 65.000 học sinh tham gia, góp phần nâng cao ý thức bảo vệ môi trường cho thế hệ tương lai.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #02548B" data-aos="fade-up-right">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic16} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            16
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            HÒA BÌNH, CÔNG LÝ VÀ THỂ CHẾ HIỆU QUẢ
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Tham vấn xây dựng và điều chỉnh văn bản pháp luật.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Hỗ trợ và đồng hành cùng Chính phủ hướng đến 17 mục tiêu phát triển bền vững.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chap5-sum-item" style="--bg-cl: #183667" data-aos="fade-up-left">
                <div class="head-wrap">
                    <div class="ic-wrap">
                        <Image src={chap5Ic17} alt="" class="img-fit"/>
                    </div>
                    <div class="title-wrap">
                        <div class="heading txt-40 txt-bold txt-up number">
                            17
                        </div>
                        <div class="line-ver"></div>
                        <div class="heading txt-36 txt-bold txt-up title mb-sm">
                            HỢP TÁC ĐẠT MỤC TIÊU
                        </div>
                    </div>
                </div>
                <div class="body-wrap">
                    <ul class="list">
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Đẩy mạnh ứng dụng công nghệ vào nông nghiệp bền vững.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Xây dựng hợp tác chiến lược với đối tác tiềm năng cho các cơ hội mở rộng danh mục sản phẩm.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Tăng cường hoạt động xúc tiến thương mại để tìm kiếm khách hàng xuất khẩu mới.
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="txt txt-17 txt-inter body">
                                Áp dụng các tiêu chuẩn và nguyên tắc của DSF vào hoạt động sản xuất, kinh doanh của doanh nghiệp.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="chap5-sum-img-bot" data-aos="fade-up">
        <Image src={chap5Bot} alt="" />
    </div>
</section>

<style lang="scss">
    .chap5-sum {
        padding-block: 9rem 10.5rem;
        @media screen and (max-width: 767px) {
            padding-block: 4.9rem 5.5rem;
        }
        .container {
            z-index: 2;
            position: relative;
        }
        &-title {
            text-align: center;
            margin-bottom: 8.4rem;
            color: var(--cl-blue);
            max-width: 99.4rem;
            margin-inline: auto;
            line-height: 7.5rem;
            @media screen and (max-width: 767px) {
                font-size: 4.2rem;
                line-height: 1em;
                margin-bottom: 4.2rem;
            }
        }
        &-main {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: var(--grid-gap);
            row-gap: var(--grid-gap);
            @media screen and (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }
        &-item {
            display: flex;
            flex-direction: column;
            row-gap: .8rem;
            color: var(--cl-bg);
            --item-cl: var(--bg-cl);
            min-height: 100%;
            @media screen and (max-width: 767px) {
                grid-column: span 1 !important;
                grid-row: span 1 !important;
            }
            .head-wrap {
                display: flex;
                column-gap: .8rem;
                .ic-wrap {
                    width: 8rem;
                    height: 100%;
                    flex: none;
                    border-radius: 1.4rem;
                    overflow: hidden;
                    background-color: var(--item-cl);
                }
                .title-wrap {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    column-gap: 1.4rem;
                    padding-block: 1.2rem 1.7rem;
                    padding-inline: 2rem 1.6rem;
                    border-radius: 1.4rem;
                    overflow: hidden;
                    background-color: var(--item-cl);
                    .line-ver {
                        background-color: var(--cl-bg);
                    }
                    .title {
                        margin-top: .4rem;
                        &.mb-sm {
                            @media screen and (max-width: 767px) {
                                font-size: 2.6rem;
                                line-height: 1.2em;
                            }
                        }
                    }
                }
            }
            .body-wrap {
                padding-block: 3.4rem 4rem;
                padding-inline: 3.2rem 6rem;
                border-radius: 1.4rem;
                overflow: hidden;
                flex-grow: 1;
                background-color: var(--item-cl);
                @media screen and (max-width: 767px) {
                    padding-block: 1.6rem 2rem;
                    padding-inline: 1.2rem 1.6rem;
                }
                .list {
                    padding-left: 1.6rem;
                    .body {
                        line-height: 2.8rem;
                    }
                }
            }
            &:nth-child(1) {
                grid-column: span 7;
            }
            &:nth-child(2) {
                grid-column: span 5;
            }
            &:nth-child(3) {
                grid-column: span 7;
                grid-row: span 2;
            }
            &:nth-child(4) {
                grid-column: span 5;
            }
            &:nth-child(5) {
                grid-column: span 5;
            }
            &:nth-child(6) {
                grid-column: 1/7;
            }
            &:nth-child(7) {
                grid-column: 1/7;
            }
            &:nth-child(8) {
                grid-column: 7/13;
                grid-row: 4/7;
            }
            &:nth-child(9) {
                grid-column: 7/13;
            }
            &:nth-child(10) {
                grid-column: 7/13;
            }
            &:nth-child(11) {
                grid-column: 1/7;
                grid-row: 6/10;
            }
            &:nth-child(12) {
                grid-column: 1/7;
                grid-row: 10/12;
            }
            &:nth-child(13) {
                grid-column: 7/13;
                grid-row: 9/11;
            }
            &:nth-child(14) {
                grid-column: 7/13;
                grid-row: 11/13;
            }
            &:nth-child(15) {
                grid-column: 1/7;
                grid-row: 12/14;
            }
            &:nth-child(16) {
                grid-column: 7/13;
                grid-row: 13/15;
            }
        }
        &-img-bot {
            margin-top: -14.6rem;
            pointer-events: none;
            position: relative;
            z-index: 1;
            @media screen and (max-width: 767px) {
                margin-top: 5.4rem;
                width: 200%;
            }
        }
    }
</style>