---
import { Image } from "astro:assets";
import Chap2Com1 from "../../assets/Chap2Com1.png";
import Chap2Com2 from "../../assets/Chap2Com2.jpg";
import Chap2Com3 from "../../assets/Chap2Com3.jpg";
import Chap2Com4 from "../../assets/Chap2Com4.jpg";
import Chap2Com5 from "../../assets/Chap2Com5.jpg";
import Chap2Com6 from "../../assets/Chap2Com6.jpg";
import Chap2Com7 from "../../assets/Chap2Com7.jpg";
import Chap2Com8 from "../../assets/Chap2Com8.jpg";
import Chap2Com9 from "../../assets/Chap2Com9.jpg";
import Chap2Com10 from "../../assets/Chap2Com10.jpg";
---
<section class="chap2-com">
    <div class="container">
        <h2 class="heading txt-78 txt-bold chap2-com-title" data-aos="fade-up">
            Các hoạt động cộng đồng năm 2023
        </h2>
        <div class="chap2-com-main">
            <div class="txt txt-17 txt-inter para" data-aos="fade-up">
                Tổng giá trị đã đóng góp cho cộng đồng, xã hội thông qua các chương trình, sáng kiến về hỗ trợ nhân đạo, phát triển cộng đồng, bảo vệ môi trường:
            </div>
            <div class="box-content box-1" data-aos="fade-up">
                <div class="box-left">
                    <div class="heading txt-206 txt-bold txt-up number-value">
                        81,5
                    </div>
                    <div class="txt txt-36 number-unit">
                        Tỷ đồng
                    </div>
                    <div class="txt txt-20 number-unit-sub">
                        Gồm
                    </div>
                    <div class="line-ver"></div>
                </div>
                <div class="box-right">
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                10
                            </div>
                            <div class="txt txt-14 number-unit">
                                tỷ đồng
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            Quỹ sữa <br>Vươn cao Việt Nam
                        </div>
                    </div>
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                5
                            </div>
                            <div class="txt txt-14 number-unit">
                                tỷ đồng
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            Hoạt động <br>trồng rừng
                        </div>
                    </div>
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                500
                            </div>
                            <div class="txt txt-14 number-unit">
                                triệu đồng
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            Hoạt động mổ tim <br>cùng MD1World
                        </div>
                    </div>
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                55
                            </div>
                            <div class="txt txt-14 number-unit">
                                tỷ đồng
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            Từ hỗ trợ chương trình <br>Sữa học đường
                        </div>
                    </div>
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                11
                            </div>
                            <div class="txt txt-14 number-unit">
                                tỷ đồng
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            Các hoạt động <br>hỗ trợ tài trợ khác
                        </div>
                    </div>
                </div>
                <Image src={Chap2Com1} alt="" />
            </div>
            <div class="txt txt-36 main-title title-1" data-aos="fade-up">
                Cột mốc 16 năm Quỹ Sữa Vươn Cao Việt Nam
            </div>
            <div class="box-content box-grid box-2" data-aos="fade-up">
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span>42</span>+
                    </div>
                    <div class="txt txt-20 sub">
                        triệu ly sữa
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span>500.000</span>+
                    </div>
                    <div class="txt txt-20 sub">
                        trẻ em tại 63 tỉnh, thành
                    </div>
                </div>
                <div class="box-item">
                    <div class="value-wrap">
                        <div class="txt txt-14 number-unit">
                            Tổng giá trị
                        </div>
                        <div class="heading txt-82 txt-bold txt-up number-value">
                            <span>200</span>
                        </div>
                    </div>
                    <div class="txt txt-14 number-unit-sub">
                        triệu đồng
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span>16</span> NĂM
                    </div>
                </div>
            </div>
            <div class="box-content box-grid box-3" data-aos="fade-up">
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span>1,5</span>
                    </div>
                    <div class="txt txt-20 sub">
                        triệu ly sữa
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span>16.400</span>+
                    </div>
                    <div class="txt txt-20 sub">
                        trẻ em thụ hưởng
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span>14</span>
                    </div>
                    <div class="txt txt-20 sub">
                        tỉnh/thành
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        NĂM <span>2023</span>
                    </div>
                </div>
            </div>
            <div class="col-content col-1" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Năm 2023, Quỹ Sữa Vươn Cao Việt Nam tiếp tục khẳng định vai trò là một chương trình chăm sóc dinh
                        dưỡng cho trẻ em có quy mô hỗ trợ
                        lớn nhất, được thực hiện bền vững
                        nhất nhằm tạo ra những cải thiện đáng
                        kể về sức khỏe, thể chất cho trẻ em
                        thông qua dinh dưỡng. Chương trình
                        cũng góp phần nâng cao nhận thức
                        của xã hội về tầm quan trọng của dinh
                        dưỡng cho con trẻ, hướng đến lối sống
                        khỏe mạnh, là nền tảng để chắp cánh
                        ước mơ cho thế hệ kế thừa vươn cao
                        và vươn xa.
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Với sứ mệnh “<span class="txt-bold txt-blue">Để mọi trẻ em được
                        uống sữa mỗi ngày</span>”, Quỹ Sữa Vươn
                        cao Việt Nam đã bền bỉ mang hàng
                        chục triệu hộp sữa dinh dưỡng và gửi
                        gắm yêu thương đến những em nhỏ có hoàn cảnh khó khăn ở tận miền núi, hải
                        đảo xa xôi cũng như các em có hoàn
                        cảnh đặc biệt tại các mái ấm, trung
                        tâm bảo trợ khắp cả nước.
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com2} alt="" />
                    </div>
                </div>
            </div>
            <div class="txt txt-36 main-title title-2" data-aos="fade-up">
                Vinamilk phát triển các “Cánh rừng Net Zero” trên cả nước hướng đến Net Zero 2050
            </div>
            <div class="col-content col-2" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Đầu năm 2023, Vinamilk đã khởi động
                        trồng hơn 1.000 cây xanh thuộc “Hoạt
                        động trồng cây hướng đến Net Zero”.
                        Đây là hoạt động hợp tác với Bộ Tài
                        nguyên và Môi trường kéo dài trong 5
                        năm (2023-2027) với ngân sách 15 tỷ
                        đồng. Trong thời gian tới, Vinamilk định
                        hướng tiếp tục đẩy mạnh để có thêm
                        nhiều “<span class="txt-bold txt-blue">Cánh rừng Net Zero Vinamilk</span>”
                        tại Việt Nam, đóng góp quan trọng
                        trong việc thực hiện lộ trình tiến đến
                        Net Zero của Vinamilk vào năm 2050.
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Tháng 8/2023, Vinamilk đồng hành
                        cùng Trung tâm bảo tồn thiên nhiên
                        Gaia và Vườn Quốc gia Mũi Cà Mau
                        khởi động chương trình khoanh nuôi
                        giúp tái sinh 25 hecta (ha) rừng ngập mặn tại Vườn Quốc gia Mũi Cà Mau với
                        ngân sách gần 4 tỷ đồng. Cũng nhân
                        dịp này, Vinamilk đã trao tặng cho
                        Vườn quốc gia Mũi Cà Mau 5 chiếc
                        thuyền để phục vụ cho công tác tuần
                        tra, kiểm tra, bảo vệ rừng và tặng cho
                        viên chức, người lao động Vườn Quốc
                        gia Mũi Cà Mau hơn 4.200 sản phẩm
                        dinh dưỡng.
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com3} alt="" />
                    </div>
                </div>
            </div>
            <div class="col-content col-3" data-aos="fade-up">
                <div class="col-item">
                    <div class="txt txt-36 main-title">
                        Hỗ trợ bệnh nhân nghèo mổ tim
                    </div>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Năm 2023, Vinamilk tiếp tục tài trợ <span class="txt-bold txt-blue">500 triệu đồng</span> cho chương trình mổ tim do
                        Tổ chức MD1 World (Mỹ) và Bệnh viện Nhi đồng Thành phối hợp thực hiện. Tính
                        từ năm 2019, Vinamilk đã tài trợ hơn <span class="txt-bold txt-blue">1,2 tỷ đồng</span> cho chương trình để giúp hơn
                        34 trẻ em có cơ hội được sống khỏe mạnh như những đứa trẻ khác. Chương
                        trình cũng là cơ hội quý báu để các bác sĩ Việt Nam cùng trao đổi kiến thức, kinh
                        nghiệm với các chuyên gia phẫu thuật tim nhi đến từ Hoa Kỳ, Canada.
                    </p>
                    <p class="txt txt-17 txt-inter">
                        Trước đó, Vinamilk cũng đã đồng hành cùng Hội Bảo trợ bệnh nhân nghèo TP.HCM
                        thực hiện chương trình mổ tim miễn phí cho trẻ em nghèo mắc bệnh tim bẩm sinh.
                        Bắt đầu từ năm 1995 đến nay, các chương trình đồng hành của Vinamilk đã
                        giúp gần <span class="txt-bold txt-blue">1.300 bệnh nhân</span> nghèo mổ tim và mắt, trong đó có nhiều trẻ em mắc
                        bệnh tim bẩm sinh được phẫu thuật, có thêm cơ hội được sống với một trái tim
                        khỏe mạnh.
                    </p>
                </div>
            </div>
            <div class="img-wrap img-1">
                <Image src={Chap2Com4} alt="" />
            </div>
            <div class="txt txt-36 main-title title-3" data-aos="fade-up">
                Tư vấn, chăm sóc sức khỏe cho hàng chục nghìn người cao tuổi trên cả nước
            </div>
            <div class="col-content col-4" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Năm 2023, Vinamilk tiếp tục dành sự
                        quan tâm đặc biệt đến những người
                        cao tuổi, thông qua các hoạt động
                        chăm sóc sức khỏe thể chất và tinh
                        thần cho nhóm dân số này. Nổi bật là
                        chuỗi sự kiện “Ăn ngon ngủ ngon, ngày
                        trọn đêm vẹn” kéo dài từ tháng 9 đến
                        tháng 12/2023 do Vinamilk đồng hành
                        cùng Hội Người Cao tuổi 10 tỉnh, thành
                        trên cả nước tổchức. Trong chương
                        trình, hàng chục nghìn người lớn tuổi
                        đã được thăm khám miễn phí cũng như
                        tư vấn các kiến thức về dinh dưỡng,
                        chăm sóc sức khỏe và các phương
                        pháp giúp phòng tránh những căn
                        bệnh thường gặp ở người cao tuổi như
                        loãng xương, tim mạch, tiểu đường...
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com5} alt="" />
                    </div>
                </div>
            </div>
            <div class="col-content col-5" data-aos="fade-up">
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com6} alt="" />
                    </div>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Tháng 10/2023, Vinamilk còn đồng
                        hành cùng Sở Văn hóa và Thể thao
                        Hà Nội, Hội Sức khỏe ngoài trời Người
                        trung - cao tuổi Hà Nội tổ chức Ngày
                        hội rèn luyện sức khỏe người cao tuổi.
                        Đây là sự kiện thường niên, với sự
                        chung tay của Vinamilk từ năm 2018,
                        nhằm tạo sân chơi thiết thực để người
                        cao tuổi trình diễn những bài thể dục
                        dưỡng sinh cũng như giao lưu, trao đổi,
                        chia sẻ kinh nghiệm và học hỏi những
                        bài tập hay. Với sự tham gia của hơn
                        2.000 người cao tuổi trong năm 2023,
                        chương trình còn mong muốn khuyến
                        khích, truyền cảm hứng tập luyện thể
                        thao đến mọi người.
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Đặc biệt trong năm nay, Vinamilk còn
                        đồng hành cùng VTV trong show
                        truyền hình thực tế “Có hẹn cùng
                        thành xuân”. Là chương trình đầu
                        tiên của VTV hướng đến nhóm khán
                        giả lớn tuổi, chương trình không chỉ
                        là một món ăn tinh thần độc đáo cho
                        người cao tuổi mà còn lồng ghép nhiều
                        thông điệp ý nghĩa cho mọi thế hệ về
                        lối sống tích cực. Chương trình nhanh
                        chóng trở thành show truyền hình hút
                        khách trên sóng VTV và tạo hiệu ứng
                        lan toả mạnh mẽ trên các nền tảng
                        xã hội.
                    </p>
                </div>
            </div>
            <div class="txt txt-36 main-title title-3" data-aos="fade-up">
                Tiếp tục đồng hành cùng Câu lạc bộ Điều dưỡng trưởng Việt Nam
            </div>
            <div class="col-content col-6" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Trong năm thứ 4 đồng hành cùng Câu
                        lạc bộ Điều dưỡng trưởng Việt Nam,
                        Vinamilk tiếp tục nâng cao nhận thức
                        về tầm quan trọng của chăm sóc dinh
                        dưỡng bệnh lý cho hơn 1.000 nhân
                        viên y tế trên cả nước, góp phần gia
                        tăng hiệu quả điều trị bệnh cho hàng
                        triệu người dân. Hợp tác bắt đầu từ
                        năm 2020, với 2 hoạt động chính: <br><br>
                        • Cập nhật và tái bản sách Truyền
                        thông, giáo dục sức khoẻ dinh
                        dưỡng cho người bệnh; <br><br>
                        • Tổ chức các lớp đào tạo về chăm
                        sóc dinh dưỡng bệnh lý cho người
                        bệnh đến các hội viên tại 3 miền
                        Bắc, Trung, Nam. <br><br>
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Qua chia sẻ của các chuyên gia đầu
                        ngành đến từ khoa dinh dưỡng hoặc
                        phòng điều dưỡng của các bệnh viện
                        hàng đầu như: Chợ Rẫy, Nhi Trung
                        Ương, Quân Y 175, Y Dược TPHCM...,
                        các điều dưỡng, nhân viên y tế tại 3
                        khu vực đã được cập nhật những kiến
                        thức chăm sóc - điều trị dinh dưỡng
                        chuyên sâu dành cho từng nhóm bệnh
                        cụ thể như: bệnh nhi suy dinh dưỡng
                        điều trị nội trú, bệnh nhi tiêu chảy,
                        bệnh tim mạch, bệnh thận mạn, bệnh
                        ung thư... Qua đó, họ được nâng cao
                        chuyên môn và tự tin hơn trong quá
                        trình thực hành nghiệp vụ cũng như tư
                        vấn dinh dưỡng cho bệnh nhân.
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com7} alt="" />
                    </div>
                    <div class="img-wrap">
                        <Image src={Chap2Com8} alt="" />
                    </div>
                </div>
            </div>
            <div class="col-content col-count-2 col-7" data-aos="fade-up">
                <div class="col-item">
                    <div class="txt txt-36 main-title">
                        Sữa học đường
                    </div>
                    <p class="txt txt-17 txt-inter">
                        Triển khai đề án với 04 tỉnh Bắc Ninh, Lạng Sơn, Hậu Giang, 
                        Cà Mau và 01 đối tác là Công ty Hà Quang.
                    </p>
                    <p class="txt txt-17 txt-bold txt-inter">
                        Các hoạt động cộng đồng khác:
                    </p>
                    <p class="txt txt-17 txt-inter">
                        Ngoài ra, trong năm 2023, Vinamilk còn tích cực tham gia
                        nhiều hoạt động cộng đồng ý nghĩa như: <br><br>
                        • Tặng quà trung thu cho trẻ em có hoàn cảnh khó khăn,
                        trẻ em người Khmer tại Đồng Nai và Vĩnh Long.<br><br>
                        • Đồng hành cùng giải bóng chuyền của 16 trường đại học
                        phía Nam do RMIT đăng cai tổ chức.<br><br>
                        • Vinamilk nhận phụng dưỡng các mẹ Việt Nam anh hùng
                        ở Bến Tre và Quảng Nam. Vào những dịp đặc biệt như kỷ
                        niệm Ngày Thương binh - Liệt sĩ (27/7) và Tết Nguyên
                        đán, đại diện công đoàn công ty luôn tới tận nơi thăm
                        các mẹ và gia đình, tri ân những đóng góp mà các mẹ đã
                        dành cho Tổ quốc.<br><br>
                        • Đến thăm và tặng quà cho trẻ em tại 2 trung tâm bảo trợ
                        trẻ em tại Gò Vấp và Bình Thạnh.
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com9} alt="" />
                    </div>
                </div>
            </div>
            <div class="col-content col-8" data-aos="fade-up">
                <div class="col-item">
                    <div class="txt txt-36 main-title">
                        Giá trị thương hiệu ghi
                        dấu ấn phát triển bền
                        vững, sánh ngang với các tên tuổi lớn trên thế giới
                    </div>
                    <p class="txt txt-17 txt-inter">
                        Theo Bảng xếp hạng 100 thương
                        hiệu giá trị nhất Việt Nam năm 2023 do Brand Finance (tổ chức định giá
                        thương hiệu hàng đầu thế giới, trụ
                        sở tại Anh quốc) công bố, Vinamilk là
                        doanh nghiệp dẫn đầu top 10 Thương
                        hiệu có tính bền vững cao, góp phần
                        nâng giá trị thương hiệu lên mốc <span class="txt-bold txt-blue">3 tỷ
                        USD</span> (từ mức hơn 2,8 tỷ USD vào năm
                        2022). <br><br>
                        Không dừng lại ở phạm vi quốc gia,
                        những đóng góp cho phát triển bền
                        vững của Vinamilk còn được cộng
                        đồng quốc tế đánh giá cao. Theo Báo
                        cáo thực phẩm và đồ uống toàn cầu
                        năm 2023, do Brand Finance công bố
                        mới đây, Vinamilk là đại diện duy nhất
                        của Đông Nam Á lọt <span class="txt-bold txt-blue">top 5 Thương
                        hiệu sữa có tính bền vững cao nhất
                        toàn cầu.</span>
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com10} alt="" />
                    </div>
                    <div class="col-content-inner">
                        <div class="col-inner-item">
                            <p class="txt txt-17 txt-inter">
                                Cụ thể, theo bảng xếp hạng này, giá
                                trị nhận thức về tính bền vững tại
                                Vinamilk được Brand Finance định
                                lượng là 253 triệu USD, <span class="txt-bold txt-blue">xếp thứ 5
                                trong top 10</span>. Trong khi đó, điểm nhận
                                thức về tính bền vững (tính trên thang
                                điểm 10) của Vinamilk <span class="txt-bold txt-blue">cao nhất top 10</span>
                                với 5,75 điểm, vượt qua nhiều thương
                                hiệu khác đến từ các quốc gia có
                                ngành sữa phát triển, như Trung Quốc,
                                Pháp, Nhật Bản... Đây là kết quả rất
                                đáng khích lệ khi ngành sữa Việt Nam
                                còn non trẻ so với nhiều quốc gia, đặc
                                biệt là về lĩnh vực phát triển bền vững.
                            </p>
                        </div>
                        <div class="col-inner-item">
                            <p class="txt txt-17 txt-inter">
                                Vinamilk tiếp tục duy trì thứ <span class="txt-bold txt-blue">hạng 6
                                trong top 10 Thương hiệu sữa giá
                                trị nhất toàn cầu và top 2 Thương
                                hiệu mạnh toàn cầu của ngành sữa.</span>
                                Có thể thấy, bên cạnh giá trị và sức
                                mạnh, yếu tố “phát triển bền vững” của
                                thương hiệu là điểm nổi bật trong báo
                                cáo năm nay, khi xu hướng này đang
                                được đẩy mạnh trên phạm vi quốc tế.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap2-com {
        padding-bottom: 21.6rem;
        &-title {
            text-align: center;
            margin-bottom: 4.8rem;
            color: var(--cl-blue);
        }
        &-main {
            .para {
                max-width: 68.7rem;
                margin-bottom: 3.2rem;
            }
            .box-content {
                border-radius: 1.4rem;
                overflow: hidden;
            }
            .box-1 {
                display: grid;
                grid-template-columns: 3.15fr 6.85fr;
                background-color: var(--cl-blue);
                color: var(--cl-bg);
                position: relative;
                margin-bottom: 6.7rem;
                .box-left {
                    padding-block: 1.2rem 4.8rem;
                    padding-right: 4.8rem;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    position: relative;
                    .number-value {
                        margin-bottom: -1.7rem;
                    }
                    .number-unit {
                        margin-bottom: .6rem;
                        margin-right: .7rem;
                    }
                    .number-unit-sub {
                        margin-right: .7rem;
                    }
                    .line-ver {
                        position: absolute;
                        top: 2.4rem;
                        bottom: 2.4rem;
                        height: auto;
                        right: 0;
                        background-color: currentColor;
                    }
                }
                .box-right {
                    padding-block: 1.7rem 4.3rem;
                    padding-inline: 3.2rem;
                    display: grid;
                    grid-template-columns: 3.2fr 2.3fr 4.5fr;
                    row-gap: 3.2rem;
                    .box-item {
                        .value-wrap {
                            display: flex;
                            align-items: end;
                            margin-bottom: -.8rem;
                            .number-unit {
                                margin-left: .9rem;
                                margin-bottom: 1.7rem;
                            }
                        }
                    }
                }
                img {
                    position: absolute;
                    width: 25.1rem;
                    right: 7rem;
                    bottom: 1.9rem;
                }
            }
            .main-title {
                color: var(--cl-green);
                max-width: 78.9rem;
                &.title-1 {
                    margin-bottom: 5.5rem;
                }
                &.title-2 {
                    margin-bottom: 3.2rem;
                }
                &.title-3 {
                    margin-bottom: 3.2rem;
                }
            }
            .box-grid {
                padding-block: 1.8rem 3.5rem;
                padding-inline: 5rem;
                display: grid;
                grid-template-columns: 1.6fr 3fr 2.1fr 3.3fr;
                align-items: center;
                column-gap: 3rem;
                .box-item {
                    .title {
                        margin-bottom: -1.3rem;
                    }
                    .value-wrap {
                        display: flex;
                        align-items: end;
                        margin-bottom: -1.3rem;
                        .number-unit {
                            margin-right: 1rem;
                            margin-bottom: 1.7rem;
                            max-width: 3.8rem;
                        }
                    }
                    .number-unit-sub {
                        margin-left: 4.8rem;
                    }
                    &:last-child {
                        justify-self: end;
                    }
                }
            }
            .box-2 {
                background-color: var(--cl-green-dark);
                color: var(--cl-bg);
                margin-bottom: 3.2rem;
            }
            .box-3 {
                background-color: var(--cl-green);
                color: var(--cl-bg);
                margin-bottom: 3.2rem;
            }
            .col-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: var(--grid-gap);
                &.col-count-2 {
                    grid-template-columns: repeat(2, 1fr);
                }
                .col-content-inner {
                    display: grid;
                    column-gap: var(--grid-gap);
                    grid-template-columns: repeat(2, 1fr);
                }
                .col-item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;
                    justify-content: space-between;
                    p {
                        color: var(--cl-txt);
                    }
                    .img-wrap {
                        overflow: hidden;
                        border-radius: 1.4rem;
                    }
                }
            }
            .col-1 {
                margin-bottom: 2.2rem;
            }
            .col-2 {
                margin-bottom: 3.2rem;
            }
            .col-3 {
                margin-bottom: 3.2rem;
                .col-item:nth-child(2) {
                    grid-column: span 2;
                }
            }
            .img-wrap {
                overflow: hidden;
                border-radius: 1.4rem;
            }
            .img-1 {
                margin-bottom: 4.8rem;
            }
            .col-4 {
                margin-bottom: 3.2rem;
                .col-item:nth-child(2) {
                    grid-column: span 2;
                }
            }
            .col-5 {
                margin-bottom: 5rem;
            }
            .col-6 {
                margin-bottom: 3.2rem;
            }
            .col-7 {
                margin-bottom: 4.8rem;
            }
            .col-8 {
                .col-item {
                    .main-title {
                        max-width: 37rem;
                    }
                }
                .col-item:nth-child(2) {
                    grid-column: span 2;
                }
            }
        }
    }
</style>
