---
import { Image } from "astro:assets";
import Chap2Com1 from "../../assets/Chap2Com1.png";
import Chap2Com2 from "../../assets/Chap2Com2.jpg";
import Chap2Com3 from "../../assets/Chap2Com3.jpg";
import Chap2Com4 from "../../assets/Chap2Com4.jpg";
import Chap2Com5 from "../../assets/Chap2Com5.jpg";
import Chap2Com6 from "../../assets/Chap2Com6.jpg";
import Chap2Com7 from "../../assets/Chap2Com7.jpg";
import Chap2Com8 from "../../assets/Chap2Com8.jpg";
import Chap2Com9 from "../../assets/Chap2Com9.jpg";
import Chap2Com10 from "../../assets/Chap2Com10.jpg";
---
<section class="chap2-com" id="Sc3">
    <div class="container">
        <h2 class="heading txt-78 txt-bold chap2-com-title" data-aos="fade-up">
            Community activities in 2023
        </h2>
        <div class="chap2-com-main">
            <div class="txt txt-17 txt-inter para" data-aos="fade-up">
                Total value has been provided to the community through programs and initiatives for humanitarian support, community development and environmental protection. Specifically:
            </div>
            <div class="box-content box-1" data-aos="fade-up">
                <div class="box-left">
                    <div class="heading txt-206 txt-bold txt-up number-value">
                        <span data-counter>81.5</span>
                    </div>
                    <div class="txt txt-36 number-unit">
                        Billion VND
                    </div>
                    <div class="txt txt-20 number-unit-sub">
                        Includes
                    </div>
                    <div class="line-ver"></div>
                </div>
                <div class="box-right">
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                <span data-counter>10</span>
                            </div>
                            <div class="txt txt-14 number-unit">
                                Billion VND
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            “Stand Tall Vietnam” <br>Milk Fund
                        </div>
                    </div>
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                <span data-counter>5</span>
                            </div>
                            <div class="txt txt-14 number-unit">
                                Billion VND
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            Tree planting
                        </div>
                    </div>
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                <span data-counter>500</span>
                            </div>
                            <div class="txt txt-14 number-unit">
                                Billion VND
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            Heart surgery donation to MD1World
                        </div>
                    </div>
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                <span data-counter>55</span>
                            </div>
                            <div class="txt txt-14 number-unit">
                                Billion VND
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            School Milk Program
                        </div>
                    </div>
                    <div class="box-item">
                        <div class="value-wrap">
                            <div class="heading txt-82 txt-bold txt-up number-value">
                                <span data-counter>11</span>
                            </div>
                            <div class="txt txt-14 number-unit">
                                Billion VND
                            </div>
                        </div>
                        <div class="txt txt-20 sub">
                            Other activities
                        </div>
                    </div>
                </div>
                <Image src={Chap2Com1} alt="" />
            </div>
            <div class="txt txt-36 main-title title-1" data-aos="fade-up">
                16-Year journey of “Stand Tall Vietnam” milk fund
            </div>
            <div class="box-content box-grid box-2" data-aos="fade-up">
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span data-counter>42</span>+
                    </div>
                    <div class="txt txt-20 sub">
                        million cups of milk 
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span data-counter>500,000</span>+
                    </div>
                    <div class="txt txt-20 sub">
                        in 63 provinces and cities 
                    </div>
                </div>
                <div class="box-item">
                    <div class="value-wrap">
                        <div class="txt txt-14 number-unit">
                            Total value
                        </div>
                        <div class="heading txt-82 txt-bold txt-up number-value">
                            <span data-counter>200</span>
                        </div>
                    </div>
                    <div class="txt txt-14 number-unit-sub">
                        Million VND
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span data-counter>16</span> years
                    </div>
                </div>
            </div>
            <div class="box-content box-grid box-3" data-aos="fade-up">
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span data-counter>1.5</span>
                    </div>
                    <div class="txt txt-20 sub">
                        million cups of milk 
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span data-counter>16,400</span>+
                    </div>
                    <div class="txt txt-20 sub">
                        underprivileged children 
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span data-counter>14</span>
                    </div>
                    <div class="txt txt-20 sub">
                        provinces/cities
                    </div>
                </div>
                <div class="box-item">
                    <div class="heading txt-82 txt-bold txt-up title">
                        <span data-counter>2023</span>
                    </div>
                </div>
            </div>
            <div class="col-content col-1" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        In 2023, the “Stand Tall Vietnam” Milk Fund solidified its position as the largest and most established child nutrition program. In addition to delivering substantial health benefits through nutrition, the program seeks to develop societal awareness of the importance of nutrition in children's development, and subsequently promote a healthy lifestyle among children, which enables them to pursue their dreams and be well-prepared for the future.
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        With the mission <span class="txt-bold txt-blue">“For every child to drink milk every day”</span>, the Milk Fund has been a consistent provider of nutritious milk to disadvantaged children in mountainous areas and distant islands, as well as those with special circumstances in shelters and care facilities across the country.
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com2} alt="" />
                    </div>
                </div>
            </div>
            <div class="txt txt-36 main-title title-2" data-aos="fade-up">
                Vinamilk develops “Net Zero forests” across Vietnam towards Net Zero 2050
            </div>
            <div class="col-content col-2" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        In early 2023, Vinamilk launched a project to plant more than 1,000 trees in support of the <span class="txt-bold txt-blue">“Planting Trees for Net Zero”</span> initiative by the Ministry of Natural Resources and Environment. This marks the beginning of a 5-year collaboration (2023-2027) with a budget of VND 15 billion. Vinamilks direction in the near future is to establish more <span class="txt-bold txt-blue">“Vinamilk Net Zero Forests”</span> across Vietnam, an important component in achieving the broader goal of Net Zero by 2050.
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        In August 2023, with a budget of nearly VND 4 billion, Vinamilk partnered with Gaia Nature Conservation and Mui Ca Mau National Park to launch a 25-ha mangrove reforestation program at Mui Ca Mau National Park. Additionally, Vinamilk gave five patrol boats and more than 4,200 nutritional goods to Mui Ca Mau National Park patrols and employees.
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com3} alt="" />
                    </div>
                </div>
            </div>
            <div class="col-content col-3" data-aos="fade-up">
                <div class="col-item">
                    <div class="txt txt-36 main-title">
                        Supporting impoverished patients to receive heart surgeries 
                    </div>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        In 2023, Vinamilk continued the sponsorship of <span class="txt-bold txt-blue">500 million VND</span> for a program run by MD1 World (USA) in association with Children's Hospital in Ho Chi Minh City, which aims to provide heart surgeries for children and facilitate knowledge transfer between Vietnamese doctors and pediatric heart surgeons from the U.S. and Canada. Vinamilk started this activity in 2019, and has since contributed over <span class="txt-bold txt-blue">1.2 billion VND</span> to help more than 34 children have access to a healthy life.
                    </p>
                    <p class="txt txt-17 txt-inter">
                        Vinamilk also partnered with the Association for Sponsoring Poor Patients in Ho Chi Minh City to provide underprivileged children with free congenital heart operations. Since becoming involved in this endeavor in 1995, Vinamilk has helped nearly <span class="txt-bold txt-blue">1,300 economically challenged</span> patients receive heart and eye procedures. Many of these patients are children with congenital heart abnormalities who now have the opportunity to live healthily.
                    </p>
                </div>
            </div>
            <div class="img-wrap img-1" data-aos="fade-up">
                <Image src={Chap2Com4} alt="" />
            </div>
            <div class="txt txt-36 main-title title-3" data-aos="fade-up">
                Taking care of tens of thousands of elderly across Vietnam
            </div>
            <div class="col-content col-4" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Physical and mental health activities for the elderly continued to be one of the key focuses of Vinamilk in 2023. A noteworthy initiative was the series of events titled “Eat Well, Sleep Well, Live Well,” held from September to December 2023, organized by Vinamilk in collaboration with the Association of the Elderly across 10 provinces and cities. In this program, tens of thousands of elderly individuals received free health check-ups and consultations on nutrition, medical care, and preventive measures against common age-related ailments such as osteoporosis, cardiovascular issues, and diabetes.
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com5} alt="" />
                    </div>
                </div>
            </div>
            <div class="col-content col-5" data-aos="fade-up">
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com6} alt="" />
                    </div>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        In October 2023, Vinamilk worked with the Hanoi Department of Culture and Sports and the Hanoi Association of Outdoor Health for the Middle-aged and Elderly to organize the Senior Health and Fitness Day. As an annual event supported by Vinamilk since 2018, it provides a platform for seniors to perform physical exercises and share information about exercises that are helpful to them. With the participation of over 2,000 seniors in 2023, the goal is also to encourage everyone to be more active.
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Of special note was the collaboration between Vinamilk and VTV on the reality TV show “A Date with Youth.” As VTV's first program targeting a senior audience, it not only provides a fresh reality show for the elderly but also incorporates meaningful messages for all generations about maintaining a positive lifestyle. The program quickly became a sensation on VTV, and then across social media platforms.
                    </p>
                </div>
            </div>
            <div class="txt txt-36 main-title title-3" data-aos="fade-up">
                Supporting Vietnam chief nursing club’s activities
            </div>
            <div class="col-content col-6" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        In the 4th year of collaboration with the Vietnam Chief Nursing Club, Vinamilk continued to raise awareness about the importance of nutritional care for over 1,000 healthcare professionals nationwide, contributing to improving treatment efficiency for millions of people. This collaboration, initiated in 2020, focuses on two main activities: <br><br>
                        • Updating and reprinting Health Communication Education on Nutrition Care for Patients guideline; <br><br>
                        • Organizing training on nutritional care for patients for club members across Vietnam. <br><br>
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        Through insights shared by leading experts from nutrition departments or nursing units of top hospitals such as Cho Ray, National Children’s Hospital, Military Hospital 175, and Ho Chi Minh City Medicine and Pharmacy University, nurses and healthcare staff have been updated with in-depth knowledge of nutritional care and treatment for specific patient groups such as inpatient malnourished children, children with diarrhea, cardiovascular patients, chronic kidney disease patients, and cancer patients. This has improved their professional skills and confidence in performing practical nursing duties and providing nutritional advice for patients.
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com7} alt="" />
                    </div>
                    <div class="img-wrap">
                        <Image src={Chap2Com8} alt="" />
                    </div>
                </div>
            </div>
            <div class="col-content col-count-2 col-7" data-aos="fade-up">
                <div class="col-item">
                    <div class="txt txt-36 main-title">
                        School milk program
                    </div>
                    <p class="txt txt-17 txt-inter">
                        The program is implemented in collaboration with 04 provinces including Bac Ninh province, Lang Son province, Hau Giang province, Ca Mau province and 01 partner is Ha Quang company.
                    </p>
                    <p class="txt txt-17 txt-bold txt-inter">
                        Other community activities
                    </p>
                    <p class="txt txt-17 txt-inter">
                        In 2023, Vinamilk expanded the program to various meaningful community activities, including: <br><br>
                        • Giving Mid-Autumn Festival gifts to underprivileged children and Khmer children in Dong Nai and Vinh Long provinces.<br><br>
                        • Sponsoring the RMIT's volleyball tournament of 16 Southern universities.<br><br>
                        • Caring for the Heroic Vietnamese Mothers in Ben Tre and Quang Nam provinces. On special occasions such as the Commemoration of War Invalids and Martyrs Day (July 27) and Tet Holiday, Vinamilk’s union representatives always pay a visit to mothers and their families to express gratitude for their contributions to the country.<br><br>
                        • Visiting and gifting children at 2 orphanages in Go Vap and Binh Thanh districts.
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com9} alt="" />
                    </div>
                </div>
            </div>
            <div class="col-content col-8" data-aos="fade-up">
                <div class="col-item">
                    <div class="txt txt-36 main-title">
                        Brand value makes sustainable impact, helping Vinamilk keep up with global giants
                    </div>
                    <p class="txt txt-17 txt-inter">
                        According to the 2023 ranking of the top 100 most valuable brands in Vietnam by Brand Finance (the world's leading independent brand valuation consultancy based in the UK), Vinamilk led the Top 10 Highly Sustainable Brands, which helped push the brand value to over <span class="txt-bold txt-blue">3 billion USD</span> (from over USD 2.8 billion in 2022). <br><br>
                        Vinamilk's contributions to sustainable development are also highly regarded on the international landscape. In the Brand Finance Food & Drink 2023, Vinamilk was the sole representative from Southeast Asia to enter the top <span class="txt-bold txt-blue">5 Most Sustainable Dairy Brands globally.</span>
                    </p>
                </div>
                <div class="col-item">
                    <div class="img-wrap">
                        <Image src={Chap2Com10} alt="" />
                    </div>
                    <div class="col-content-inner">
                        <div class="col-inner-item">
                            <p class="txt txt-17 txt-inter">
                                Specifically, Vinamilk <span class="txt-bold txt-blue">ranked fifth in the top 10</span>. with a sustainability perceptions value of USD 253 million. As for the sustainability perceptions score (which is based on a 10-point scale), Vinamilk <span class="txt-bold txt-blue">topped the chart</span> with 5.75 points, outperforming many brands from nations with developed dairy sectors, like China, France, Japan, and others. Taking into account Vietnam's relatively new dairy sector, particularly in terms of sustainable development, this result is exceedingly favorable.
                            </p>
                        </div>
                        <div class="col-inner-item">
                            <p class="txt txt-17 txt-inter">
                                Vinamilk safeguarded the 6th position in the <span class="txt-bold txt-blue">top 10 Most Valuable Dairy Brands globally and the 2nd position in the Top 10 Strongest Dairy Brands.</span> It is evident that, alongside value and strength, the “sustainable development” factor of the brand is a highlight in this year’s report, as this trend is gaining momentum internationally.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap2-com {
        padding-bottom: 21.6rem;
        @media screen and (max-width: 767px) {
            padding-bottom: 5rem;
        }
        &-title {
            text-align: center;
            margin-bottom: 4.8rem;
            color: var(--cl-blue);
            @media screen and (max-width: 767px) {
                font-size: 4.2rem;
                line-height: 1em;
                margin-bottom: 2rem;
            }
        }
        &-main {
            .para {
                max-width: 68.7rem;
                margin-bottom: 3.2rem;
                @media screen and (max-width: 767px) {
                    margin-bottom: 2.4rem;
                }
            }
            .box-content {
                border-radius: 1.4rem;
                overflow: hidden;
            }
            .box-1 {
                display: grid;
                grid-template-columns: 3.15fr 6.85fr;
                background-color: var(--cl-blue);
                color: var(--cl-bg);
                position: relative;
                margin-bottom: 6.7rem;
                @media screen and (max-width: 767px) {
                    margin-bottom: 3.4rem;
                    display: flex;
                    flex-direction: column;
                }
                .box-left {
                    padding-block: 1.2rem 4.8rem;
                    padding-right: 4.8rem;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    position: relative;
                    @media screen and (max-width: 767px) {
                        padding-block: 0 1.3rem;
                        padding-inline: 2rem 4rem;
                    }
                    .number-value {
                        margin-bottom: -1.7rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: -1.5rem;
                            font-size: 12.8rem;
                            margin-right: 5.3rem;

                        }
                    }
                    .number-unit {
                        margin-bottom: .6rem;
                        margin-right: .7rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: .2rem;
                            margin-right: 5.5rem;
                        }
                    }
                    .number-unit-sub {
                        margin-right: .7rem;
                        @media screen and (max-width: 767px) {
                            margin-right: 5.5rem;
                        }
                    }
                    .line-ver {
                        position: absolute;
                        top: 2.4rem;
                        bottom: 2.4rem;
                        height: auto;
                        right: 0;
                        background-color: currentColor;
                        @media screen and (max-width: 767px) {
                            width: auto;
                            height: 1px;
                            top: auto;
                            bottom: 0;
                            left: 2rem;
                            right: 4rem;
                        }
                    }
                }
                .box-right {
                    padding-block: 1.7rem 4.3rem;
                    padding-inline: 3.2rem;
                    display: grid;
                    grid-template-columns: 3.2fr 2.3fr 4.5fr;
                    row-gap: 3.2rem;
                    @media screen and (max-width: 767px) {
                        padding-block: 1rem 12.5rem;
                        padding-inline: 2rem 1.2rem;
                        grid-template-columns: 1.4fr 1fr;
                        column-gap: 2rem;
                        row-gap: .5rem;
                    }
                    .box-item {
                        @media screen and (max-width: 767px) {
                            grid-column: span 2;
                        }
                        &:nth-child(1) {
                            @media screen and (max-width: 767px) {
                                .sub {
                                    margin-right: -1.2rem;
                                }
                            }
                        }
                        &:nth-child(1) ,&:nth-child(2) {
                            @media screen and (max-width: 767px) {
                                grid-column: span 1;
                            }
                        }
                        .value-wrap {
                            display: flex;
                            align-items: end;
                            margin-bottom: -.8rem;
                            .number-unit {
                                margin-left: .9rem;
                                margin-bottom: 1.7rem;
                                @media screen and (max-width: 767px) {
                                    margin-left: .6rem;
                                }
                            }
                        }
                    }
                }
                img {
                    position: absolute;
                    width: 25.1rem;
                    right: 7rem;
                    bottom: 1.9rem;
                    @media screen and (max-width: 767px) {
                        width: 17.7rem;
                        right: 1rem;
                        bottom: 1.6rem;
                    }
                }
            }
            .main-title {
                color: var(--cl-green);
                max-width: 78.9rem;
                @media screen and (max-width: 767px) {
                    font-size: 2.8rem;
                    line-height: 1.2em;
                }
                &.title-1 {
                    margin-bottom: 5.5rem;
                    @media screen and (max-width: 767px) {
                        margin-bottom: 1.6rem;
                    }
                }
                &.title-2 {
                    margin-bottom: 3.2rem;
                    @media screen and (max-width: 767px) {
                        margin-bottom: 2.2rem;
                        margin-top: 4.2rem;
                    }
                }
                &.title-3 {
                    margin-bottom: 3.2rem;
                    @media screen and (max-width: 767px) {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                        margin-right: -1rem;
                    }
                }
            }
            .box-grid {
                padding-block: 1.8rem 3.5rem;
                padding-inline: 5rem;
                display: grid;
                grid-template-columns: 2fr 3fr 2.1fr 3.3fr;
                align-items: center;
                column-gap: 3rem;
                @media screen and (max-width: 767px) {
                    grid-template-columns: 8rem 2.5rem 1fr;
                    padding-block: 2rem 3.5rem;
                    padding-inline: 2rem 1.8rem;
                    column-gap: 2rem;
                    row-gap: 1.4rem;
                }
                .box-item {
                    @media screen and (max-width: 767px) {
                        align-self: start;
                    }
                    .title {
                        margin-bottom: -1.3rem;
                        @media screen and (max-width: 767px) {
                            font-size: 6.6rem;
                            line-height: 1.2em;
                            margin-bottom: -.9rem;
                        }
                    }
                    .sub {
                        @media screen and (max-width: 767px) {
                            font-size: 1.4rem;
                        }
                    }
                    .value-wrap {
                        display: flex;
                        align-items: end;
                        margin-bottom: -1.3rem;
                        .number-value {
                            @media screen and (max-width: 767px) {
                                font-size: 6.6rem;
                                line-height: 1.2em;
                            }
                        }
                        .number-unit {
                            margin-right: 1rem;
                            margin-bottom: 1.7rem;
                            max-width: 3.8rem;
                            @media screen and (max-width: 767px) {
                                margin-right: .4rem;
                                margin-bottom: 1.3rem;
                                flex: none;
                            }
                        }
                    }
                    .number-unit-sub {
                        margin-left: 4.8rem;
                    }
                    &:last-child {
                        justify-self: end;
                    }
                }
            }
            .box-2 {
                background-color: var(--cl-green-dark);
                color: var(--cl-bg);
                margin-bottom: 3.2rem;
                @media screen and (max-width: 767px) {
                    margin-bottom: 1rem;
                    .box-item {
                        &:nth-child(2) {
                            @media screen and (max-width: 767px) {
                                grid-column: span 2;
                            }
                        }
                        &:nth-child(3) {
                            @media screen and (max-width: 767px) {
                                grid-column: span 2;
                            }
                        }
                    }
                }
            }
            .box-3 {
                background-color: var(--cl-green);
                color: var(--cl-bg);
                margin-bottom: 3.2rem;
                @media screen and (max-width: 767px) {
                    margin-bottom: 4.4rem;
                    .box-item {
                        &:nth-child(2) {
                            @media screen and (max-width: 767px) {
                                grid-column: span 2;
                            }
                        }
                        &:nth-child(4) {
                            @media screen and (max-width: 767px) {
                                grid-column: span 2;
                                .title {
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }
            }
            .col-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: var(--grid-gap);
                @media screen and (max-width: 767px) {
                    grid-template-columns: 1fr;
                    row-gap: 2.4rem;
                }
                &.col-count-2 {
                    grid-template-columns: repeat(2, 1fr);
                    @media screen and (max-width: 767px) {
                        grid-template-columns: 1fr;
                    }
                }
                .col-content-inner {
                    display: grid;
                    column-gap: var(--grid-gap);
                    grid-template-columns: repeat(2, 1fr);
                    @media screen and (max-width: 767px) {
                        grid-template-columns: 1fr;
                        row-gap: 2.4rem;
                    }
                }
                .col-item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;
                    justify-content: space-between;
                    p {
                        color: var(--cl-txt);
                    }
                    .img-wrap {
                        overflow: hidden;
                        border-radius: 1.4rem;
                    }
                }
            }
            .col-1 {
                margin-bottom: 2.2rem;
            }
            .col-2 {
                margin-bottom: 3.2rem;
            }
            .col-3 {
                margin-bottom: 3.2rem;
                .col-item:nth-child(2) {
                    grid-column: span 2;
                }
            }
            .img-wrap {
                overflow: hidden;
                border-radius: 1.4rem;
            }
            .img-1 {
                margin-bottom: 4.8rem;
                @media screen and (max-width: 767px) {
                    margin-bottom: 2.4rem;
                }
            }
            .col-4 {
                margin-bottom: 3.2rem;
                .col-item:nth-child(2) {
                    grid-column: span 2;
                }
            }
            .col-5 {
                margin-bottom: 5rem;
            }
            .col-6 {
                margin-bottom: 3.2rem;
            }
            .col-7 {
                margin-bottom: 4.8rem;
                @media screen and (max-width: 767px) {
                    margin-bottom: 3.2rem;
                }
            }
            .col-8 {
                .col-item {
                    .main-title {
                        max-width: 37rem;
                    }
                }
                .col-item:nth-child(2) {
                    grid-column: span 2;
                }
            }
        }
    }
</style>
