---
import { Image } from "astro:assets";
import Chap2Award1 from "../../assets/Chap2Award1.png";
import Chap2Award2 from "../../assets/Chap2Award2.png";
import Chap2Award3 from "../../assets/Chap2Award3.png";
import Chap2Award4 from "../../assets/Chap2Award4.png";
import Chap2Award5 from "../../assets/Chap2Award5.png";
import Chap2Award6 from "../../assets/Chap2Award6.png";
import Chap2Award7 from "../../assets/Chap2Award7.png";
import Chap2Award8_1 from "../../assets/Chap2Award8_1.png";
import Chap2Award8_2 from "../../assets/Chap2Award8_2.png";
import Chap2Award9 from "../../assets/Chap2Award9.png";
import Chap2Award10 from "../../assets/Chap2Award10.png";
import Chap2Award11 from "../../assets/Chap2Award11.png";
import Chap2Award12 from "../../assets/Chap2Award12.png";
import Chap2Award13 from "../../assets/Chap2Award13.png";
import Chap2Award14 from "../../assets/Chap2Award14.png";
import Chap2Award15 from "../../assets/Chap2Award15.png";
import Chap2Award17 from "../../assets/Chap2Award17.jpg";
import Chap2Award18 from "../../assets/Chap2Award18.jpg";
import Chap2Award20 from "../../assets/Chap2Award20.png";
import Chap2Award21 from "../../assets/Chap2Award21.png";
import Chap2Award22 from "../../assets/Chap2Award22.png";
import Chap2Award23 from "../../assets/Chap2Award23.jpg";
---
<section class="chap2-award" id="Sc2">
    <div class="container">
        <h2 class="heading txt-78 txt-bold chap2-award-title" data-aos="fade-up">
            Giải thưởng và danh hiệu 2023
        </h2>
        <div class="chap2-award-grid">
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="heading txt-64 txt-bold txt-up title">
                        Thương hiệu vàng tphcm năm 2022
                    </div>
                    <div class="txt txt-20 sub">
                        (lần thứ 3 liên tiếp)
                    </div>
                    <Image src={Chap2Award1} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-content">
                    <Image src={Chap2Award2} alt="" />
                    <div class="list">
                        <div class="txt txt-20 list-item">
                            <div class="dot"></div>
                            <div>Vinamilk có sản phẩm sữa tươi đầu tiên trên thế giới đạt chứng nhận Clean Label Project</div>
                        </div>
                        <div class="txt txt-20 list-item">
                            <div class="dot"></div>
                            <div>Vinamilk là công ty đầu tiên và duy nhất của Châu Á sở hữu giải thưởng Purity Award cho sữa bột trẻ em.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="heading txt-64 txt-bold txt-up title">
                        Hàng việt nam chất lượng cao
                    </div>
                    <div class="txt txt-20 sub">
                        27 năm liền
                    </div>
                    <Image src={Chap2Award3} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-content">
                    <div class="heading txt-64 txt-bold txt-up title">
                        Top công nghệ 4.0 việt nam
                    </div>
                    <div class="txt txt-20 sub">
                        Liên hiệp các Hội Khoa học và Kỹ thuật Việt Nam (VUSTA)
                    </div>
                    <Image src={Chap2Award4} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="txt txt-inter txt-20 label">
                        Giải thưởng
                    </div>
                    <div class="heading txt-64 txt-bold txt-up title">
                        Vị ngon thượng hạng
                    </div>
                    <div class="txt txt-16 txt-ari sub">
                        (Superior Taste Award do tổ chức  International Taste Institute công bố)
                    </div>
                    <div class="txt txt-20 body">
                        Sữa tươi Vinamilk Green Farm, Vinamilk  100% Organic, Vfresh Nước ép Lựu Táo,  Vfresh Trà Atiso không đường và sữa  đặc Ngôi Sao Phương Nam. <br><br>
                        Đặc biệt có 2 sản phẩm xếp hạng 3 sao: sữa đặc Ông Thọ và sữa 9 loại hạt Vinamilk Super Nut.
                    </div>
                    <Image src={Chap2Award5} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-content">                    
                    <Image src={Chap2Award6} alt="" />
                    <div class="box-wrap">
                        <div class="box-item">
                            <div class="txt txt-inter txt-20 label">
                                Giải thưởng
                            </div>
                            <div class="title-wrap">
                                <div class="heading txt-64 txt-bold txt-up title">
                                    MONDE SELECTION
                                </div>
                                <div class="txt txt-16 txt-ari title-unit">
                                    (Bỉ)
                                </div>
                            </div>
                            <div class="txt txt-inter txt-17 sub">
                                2 giải Gold Award cho sản phẩm Sữa 9 loại hạt Vinamilk Super Nut và Sữa tươi nguyên chất tiệt trùng
                            </div>
                            <div class="line line-ver bg-stripe"></div>
                        </div>
                        <div class="box-item">
                            <div class="txt txt-inter txt-20 label">
                                Giải thưởng
                            </div>
                            <div class="heading txt-40 txt-bold txt-up title">
                                NGÀNH SỮA TOÀN CẦU VỀ ĐỔI MỚI NĂM 2023
                            </div>
                            <div class="txt txt-16 txt-ari title-unit">
                                (The World Dairy Innovation Awards 2023)
                            </div>
                            <div class="txt txt-inter txt-17 sub">
                                Hạng mục “Sản phẩm thay thế sữa” với sản phẩm Sữa 9 loại hạt Super Nut.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="list">
                        <div class="list-item">
                            <div class="heading txt-40 txt-bold txt-up title">
                                TOP 50 CÔNG TY ĐỔI MỚI SÁNG TẠO
                            </div>
                            <div class="txt txt-16 txt-ari sub">
                                (Báo Đầu tư)
                            </div>
                            <div class="line bg-stripe"></div>
                        </div>
                        <div class="list-item">
                            <div class="heading txt-40 txt-bold txt-up title">
                                TOP 50 DOANH NGHIỆP PHÁT TRIỂN BỀN VỮNG 2023
                            </div>
                            <div class="txt txt-16 txt-ari sub">
                                (Báo Nhịp cầu đầu tư)
                            </div>
                            <div class="line bg-stripe"></div>
                        </div>
                        <div class="list-item">
                            <div class="heading txt-40 txt-bold txt-up title">
                                TOP 50 CÔNG TY NIÊM YẾT <br>TỐT NHẤT 2023
                            </div>
                            <div class="txt txt-16 txt-ari sub">
                                (Tạp chí Forbes Việt Nam)
                            </div>
                            <div class="line bg-stripe"></div>
                        </div>
                        <div class="list-item">
                            <div class="heading txt-40 txt-bold txt-up title">
                                TOP 50 CÔNG TY KINH DOANH <br>HIỆU QUẢ NHẤT VIỆT NAM
                            </div>
                            <div class="txt txt-16 txt-ari sub">
                                (Tạp chí Nhịp cầu đầu tư) (12 năm liên tiếp)
                            </div>
                            <div class="line bg-stripe"></div>
                        </div>
                    </div>
                    <Image src={Chap2Award7} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-content">
                    <Image src={Chap2Award8_1} alt="" class="img-1" />
                    <Image src={Chap2Award8_2} alt="" class="img-2" />
                    <div class="heading txt-64 txt-up txt-bold title">
                        GREAT PLACE TO WORK
                    </div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up">
                <div class="box-content">
                    <div class="box-left">
                        <div class="txt txt-20 txt-bold label">
                            Bình chọn của Kantar World Panel Việt Nam
                        </div>
                        <div class="txt txt-20 body">
                            • Vinamilk - Top 3 nhà sản xuất được người tiêu dùng Việt Nam chọn mua nhiều nhất 11 năm liền, trong ngành hàng tiêu dùng nhanh. <br><br>
                            • Vinamilk - Thương hiệu được người tiêu dùng Việt Nam chọn mua nhiều nhất 11 năm liền, sữa và các sản phẩm từ sữa. <br><br>
                            • Ông Thọ và Ngôi Sao Phương Nam - thương hiệu được người tiêu dùng Việt Nam chọn mua nhiều nhất, trong sữa và các sản phẩm từ sữa.
                        </div>
                    </div>
                    <div class="box-right">
                        <div class="heading txt-260 txt-bold txt-up number-value">
                            11
                        </div>
                        <div class="heading txt-64 txt-bold number-unit">
                            năm
                        </div>
                        <Image src={Chap2Award9} alt="" />
                    </div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="heading txt-64 txt-bold txt-up title">
                        IR AWARD
                    </div>
                    <div class="txt txt-20 sub">
                        Doanh nghiệp đạt chuẩn công bố thông tin
                    </div>
                    <Image src={Chap2Award10} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-content">
                    <div class="txt txt-20 body">
                        • HR Asia Award - Nơi làm việc tốt nhất Châu Á  (Tạp chí HR Asia). <br><br>
                        • Nhà tuyển dụng được yêu thích nhất năm 2022  theo Career Builder. <br><br>
                        • Thương hiệu thực phẩm có giá trị cao nhất Việt Nam do Brand Finance định giá. <br><br>
                        • Thương hiệu sữa lớn thứ 6 toàn cầu do Brand Finance định giá.
                    </div>
                    <Image src={Chap2Award11} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="txt txt-20 body">
                        • Thương hiệu thực phẩm có giá trị cao nhất  ASEAN do Brand Finance định giá. <br><br>
                        • Top 5 Thương hiệu sữa có tính bền vững  cao nhất toàn cầu, theo Brand Finance.
                    </div>
                    <Image src={Chap2Award12} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-content">
                    <div class="heading txt-40 txt-bold txt-up title">
                        TOP 10 THƯƠNG HIỆU MẠNH VIỆT NAM 2022 - 2023
                    </div>
                    <Image src={Chap2Award13} alt="" />
                    <div class="txt txt-14 txt-inter src">
                        (VnEconomy)
                    </div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="txt txt-20 body">
                        Tổng Giám Đốc Vinamilk Bà Mai Kiều Liên nhận bằng khen của Trung ương Hội Người Cao Tuổi Việt Nam vinh danh.
                    </div>
                    <div class="heading txt-64 txt-bold txt-up sub">
                        “NGƯỜI CAO TUỔI LÀM KINH TẾ GIỎI”
                    </div>
                    <Image src={Chap2Award14} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-content">
                    <div class="heading txt-40 txt-bold txt-up title">
                        TOP 20 DOANH NGHIỆP ĐẠT CHUẨN VĂN HÓA KINH DOANH VIỆT NAM NĂM 2023
                    </div>
                    <Image src={Chap2Award15} alt="" />
                    <div class="txt txt-14 txt-inter src">
                        (Hiệp hội Phát triển văn hóa Việt Nam)
                    </div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="heading txt-40 txt-bold txt-up title">
                        GIẢI THƯỞNG HÀNH ĐỘNG VÌ CỘNG ĐỒNG - HUMAN ACT PRIZE 2023
                    </div>
                    <div class="txt txt-20 body">
                        • Chương trình hành động Vinamilk Pathways to Dairy Net Zero 2050 được trao giải “Human Act  Prize”. <br><br>
                        • Chương trình Quỹ sữa Vươn cao Việt Nam được vinh danh ở hạng mục “Dự án bền bỉ”.
                    </div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-img">
                    <Image src={Chap2Award17} alt="" class="img-fill"/>
                    <div class="border"></div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-img">
                    <Image src={Chap2Award18} alt="" class="img-fill"/>
                    <div class="border"></div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-content">
                    <div class="heading txt-40 txt-bold txt-up title">
                        CHƯƠNG TRÌNH CÁC DOANH NGHIỆP BỀN VỮNG TẠI VIỆT NAM 2023 (CSI 2023)
                    </div>
                    <div class="list">
                        <div class="list-item">
                            <div class="dot-wrap">
                                <div class="dot"></div>
                            </div>
                            <div class="txt txt-20 body">
                                <span class="heading txt-36 txt-bold title">Top 5</span>
                                Doanh nghiệp tiên phong thực hiện kinh tế tuần hoàn và cắt giảm phát thải Carbon. 
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="dot-wrap">
                                <div class="dot"></div>
                            </div>
                            <div class="txt txt-20 body">
                                <span class="heading txt-36 txt-bold title">Top 10</span>
                                doanh nghiệp bền vững hoạt động trong lĩnh vực sản xuất.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="heading txt-40 txt-bold txt-up title">
                        CUỘC BÌNH CHỌN DOANH NGHIỆP NIÊM YẾT 2023
                    </div>
                    <div class="list">
                        <div class="txt txt-20 list-item">
                            <div class="dot"></div>
                            <div>Giải nhất báo cáo phát triển bền vững.</div>
                        </div>
                        <div class="txt txt-20 list-item">
                            <div class="dot"></div>
                            <div>Giải thưởng doanh nghiệp quản lý tốt phát khí thải nhà kính.</div>
                        </div>
                        <div class="txt txt-20 list-item">
                            <div class="dot"></div>
                            <div>Hạng nhì trong top 10 giải thưởng quản trị công ty dành cho nhóm doanh nghiệp vốn hóa lớn. 
                            </div>
                        </div>
                        <div class="txt txt-20 list-item">
                            <div class="dot"></div>
                            <div>Giải thưởng quản trị công ty vượt trên các tuân thủ.</div>
                        </div>
                    </div>
                    <Image src={Chap2Award20} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-content">
                    <Image src={Chap2Award21} alt="" />
                    <div class="txt txt-20 label">
                        Báo cáo thường niên nhóm ngành phi tài chính
                    </div>
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-right">
                <div class="box-content">
                    <div class="txt txt-20 label">
                        Sữa Ông Thọ của Vinamilk đạt giải thưởng
                    </div>
                    <div class="heading txt-40 txt-bold txt-up title">
                        Chiến dịch mạng xã hội xuất sắc nhất
                    </div>
                    <div class="txt txt-14 txt-italic txt-inter src">
                        Giải thưởng Quảng cáo sáng tạo Việt Nam, Bộ Văn hóa Thể thao và Du lịch Việt Nam tổ chức).
                    </div>
                    <Image src={Chap2Award22} alt="" />
                </div>
            </div>
            <div class="chap2-award-box" data-aos="fade-up-left">
                <div class="box-img">
                    <Image src={Chap2Award23} alt="" class="img-fill"/>
                    <div class="border"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap2-award {
        padding-bottom: 8.2rem;
        @media screen and (max-width: 767px) {
            padding-bottom: 4.4rem;
        }
        &-title {
            text-align: center;
            margin-bottom: 7.8rem;
            color: var(--cl-blue);
            @media screen and (max-width: 767px) {
                font-size: 4.2rem;
                line-height: 1em;
                margin-bottom: 3.4rem;
            }
        }
        &-grid {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: var(--grid-gap);
            @media screen and (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }
        &-box {
            border-radius: 1.4rem;
            overflow: hidden;
            @media screen and (max-width: 767px) {
                grid-column: span 1 !important;
            }
            &:nth-child(1) {
                grid-column: span 5;
                background-color: var(--cl-green-dark);
                color: var(--cl-bg);
                .box-content {
                    padding-block: 2.9rem 2.5rem;
                    padding-inline: 2.4rem 3.5rem;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 767px) {
                        padding-block: 1.9rem 1rem;
                        padding-inline: 1.8rem 2rem;
                    }
                    .title {
                        margin-bottom: 4.3rem;
                        line-height: 6rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: .8rem;
                        }
                    }
                    img {
                        width: 18.5rem;
                        margin-top: -5.2rem;
                        pointer-events: none;
                        margin-left: auto;
                        @media screen and (max-width: 767px) {
                            width: 14.4rem;
                            margin-top: -4.8rem;
                        }
                    }
                }
            }
            &:nth-child(2) {
                grid-column: span 7;
                background-color: var(--cl-green-dark);
                color: var(--cl-bg);
                .box-content {
                    padding-block: 6rem 5.7rem;
                    padding-inline: 4.9rem 4rem;
                    display: flex;
                    @media screen and (max-width: 767px) {
                        padding-block: 2.5rem 1.6rem;
                        padding-inline: 2rem;
                        flex-direction: column;
                        align-items: center;
                    }
                    img {
                        width: 23.8rem;
                        pointer-events: none;
                        margin-right: 2rem;
                        @media screen and (max-width: 767px) {
                            margin-right: 0;
                            width: 12rem;
                        }
                    }
                    .list {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-block: 1.6rem;
                        @media screen and (max-width: 767px) {
                            padding-block: 2rem 0;
                            row-gap: 1.2rem;
                        }
                        .list-item {
                            display: flex;
                            align-items: start;
                            .dot {
                                flex: none;
                                width: 0.4rem;
                                height: 0.4rem;
                                background-color: currentColor;
                                border-radius: 50%;
                                margin-top: 1rem;
                                margin-inline: 1.2rem;
                            }
                        }
                    }
                }
            }
            &:nth-child(3) {
                grid-column: span 5;
                background-color: var(--cl-green);
                color: var(--cl-bg);
                .box-content {
                    padding-block: 2.6rem 3.2rem;
                    padding-inline: 2.4rem 3.5rem;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    @media screen and (max-width: 767px) {
                        padding-block: 2.6rem 1.8rem;
                        padding-inline: 2.4rem 8.4rem;
                    }
                    .title {
                        margin-bottom: 4.2rem;
                        line-height: 6rem;
                        max-width: 42rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 5.2rem;
                        }
                    }
                    img {
                        position: absolute;
                        width: 14.5rem;
                        right: 0;
                        bottom: 0;
                        pointer-events: none;
                    }
                }
                
            }
            &:nth-child(4) {
                grid-column: span 7;
                background-color: var(--cl-red-man);
                color: var(--cl-bg);
                .box-content {
                    padding-block: 2.6rem 3.2rem;
                    padding-inline: 4.2rem 4.2rem;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    @media screen and (max-width: 767px) {
                        padding-block: 16rem 1.5rem;
                        padding-inline: 2.5rem;
                    }
                    .title {
                        margin-bottom: 4.2rem;
                        line-height: 6rem;
                        max-width: 37rem;
                        @media screen and (max-width: 767px) {
                            max-width: 26.4rem;
                            margin-bottom: 1.2rem;
                        }
                    }
                    img {
                        position: absolute;
                        width: 20.8rem;
                        right: 5.7rem;
                        top: 1.4rem;
                        pointer-events: none;
                        @media screen and (max-width: 767px) {
                            top: 0;
                            width: 19.2rem;
                            right: 7.6rem;
                        }
                    }
                }
                
            }
            &:nth-child(5) {
                grid-column: span 5;
                background-color: var(--cl-pink-main);
                color: var(--cl-bg);
                .box-content {
                    padding-block: 4rem 3.4rem;
                    padding-inline: 2.4rem 4.4rem;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    @media screen and (max-width: 767px) {
                        padding-block: 2.6rem;
                        padding-inline: 2.4rem 5rem;
                    }
                    .label {
                        margin-bottom: 1.1rem; 
                    }
                    .title {
                        margin-bottom: 1.9rem;
                        line-height: 6rem;
                        max-width: 32rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 2rem;
                        }
                    }
                    .sub {
                        max-width: 30rem;
                        margin-bottom: 3.4rem;
                        @media screen and (max-width: 767px) {
                            max-width: none;
                            margin-right: -2rem;
                            margin-bottom: 2.2rem;
                        }
                    }
                    .body {
                        max-width: 42rem;
                    }
                    img {
                        position: absolute;
                        width: 15.9rem;
                        right: 0rem;
                        top: 1.4rem;
                        pointer-events: none;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 15rem;
                            top: 1rem;
                            width: 15rem;
                        }
                    }
                }
                
            }
            &:nth-child(6) {
                grid-column: span 7;
                background-color: var(--cl-pink-main);
                color: var(--cl-bg);
                .box-content {
                    padding-block: 2rem 3.2rem;
                    padding-inline: 3.2rem 2.4rem;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 767px) {
                        padding-block: 1.6rem;
                        padding-inline: 2rem;
                    }
                    img {
                        width: 100%;
                        max-width: 36.7rem;
                        border-radius: .8rem;
                        border: solid .4rem var(--cl-yellow);
                    }
                    .box-wrap {
                        display: grid;
                        grid-template-columns: 4.6fr 5.4fr;
                        @media screen and (max-width: 767px) {
                            grid-template-columns: 1fr;
                        }
                        .box-item {
                            margin-top: 1.2rem;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            @media screen and (max-width: 767px) {
                                margin-top: 2rem;
                            }
                            &:nth-child(1) {
                                padding-right: 2.5rem;
                                position: relative;
                                @media screen and (max-width: 767px) {
                                    padding-right: 0;
                                    padding-bottom: 1.7rem;
                                }
                                .line-ver {
                                    position: absolute;
                                    top: 1.2rem;
                                    bottom: -.7rem;
                                    right: 0;
                                    --angle: 0;
                                    --gap: 1rem;
                                    --stroke: 2rem;
                                    --cl: var(--cl-bg);
                                    @media screen and (max-width: 767px) {
                                        width: 100%;
                                        height: 1px;
                                        --angle: 90deg;
                                        bottom: 0;
                                        right: 0;
                                        top: auto;
                                    }
                                }
                                .label {
                                    margin-bottom: 1rem;
                                }
                                .title-wrap {
                                    display: flex;
                                    align-items: end;
                                    justify-content: start;
                                    margin-bottom: .6rem;
                                    @media screen and (max-width: 767px) {
                                        margin-bottom: 1.2rem;
                                    }
                                    .title {
                                        line-height: 6rem;
                                        @media screen and (max-width: 767px) {
                                            width: min-content;
                                            font-size: 4.8rem;
                                            line-height: 4.5rem;
                                        }
                                    }
                                    .title-unit {
                                        margin-bottom: .6rem;
                                        @media screen and (max-width: 767px) {
                                            margin-left: .8rem;
                                        }
                                    }
                                }
                                .sub {
                                    line-height: 1.2em;
                                    @media screen and (max-width: 767px) {
                                        max-width: 27rem;
                                    }
                                }
                            }
                            &:nth-child(2) {
                                padding-left: 4.6rem;
                                @media screen and (max-width: 767px) {
                                    padding-left: 0;
                                }
                                .label {
                                    margin-bottom: 1.2rem;
                                }
                                .title {
                                    line-height: 1em;
                                    margin-bottom: .8rem;
                                    @media screen and (max-width: 767px) {
                                        margin-bottom: 1rem;
                                    }
                                }
                                .title-unit {
                                    max-width: 24rem;
                                    margin-bottom: 1.2rem;
                                    @media screen and (max-width: 767px) {
                                        margin-bottom: 1rem;
                                    }
                                }
                                .sub {
                                    line-height: 1.2em;
                                }
                            }
                        }
                    }
                }
                
            }
            &:nth-child(7) {
                grid-column: span 8;
                background-color: var(--cl-pink-main);
                color: var(--cl-bg);
                @media screen and (max-width: 767px) {
                    grid-row: 6/7;
                }
                .box-content {
                    padding-block: 2rem 4.2rem;
                    padding-inline: 2rem 2rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media screen and (max-width: 767px) {
                        flex-direction: column-reverse;
                        padding-block: 2rem 2.8rem;
                    }
                    .list {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        margin-right: 4.7rem;
                        @media screen and (max-width: 767px) {
                            margin-right: 0;
                        }
                        .list-item {
                            padding-block: 1.5rem;
                            position: relative;
                            max-width: 45rem;
                            &:nth-child(1) {
                                @media screen and (max-width: 767px) {
                                    .title {
                                        max-width: 20.4rem;
                                    }
                                }
                            }
                            .title {
                                line-height: 1em;
                                margin-right: -1rem;
                                @media screen and (max-width: 767px) {
                                    font-size: 3.2rem;
                                    line-height: 1.2em;
                                    margin-right: 0;
                                }
                            }
                            .sub {
                                @media screen and (max-width: 767px) {
                                    max-width: 28rem;
                                }
                            }
                            .line {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                --angle: 90deg;
                                --gap: 1rem;
                                --stroke: 2rem;
                                --cl: var(--cl-bg);
                            }
                        }
                    }
                    img {
                        max-width: 24rem;
                        pointer-events: none;
                        margin-bottom: 2.2rem;
                        @media screen and (max-width: 767px) {
                            max-width: 12.2rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &:nth-child(8) {
                grid-column: span 4;
                background-color: var(--cl-pink-main);
                color: var(--cl-bg);
                min-height: 56.4rem;
                @media screen and (max-width: 767px) {
                    min-height: 48.7rem;
                }
                .box-content {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding-block: 0 3.4rem;
                    padding-inline: 3.7rem;
                    @media screen and (max-width: 767px) {
                        padding-block: 0 2.4rem;
                        padding-inline: 2.4rem;
                    }
                    .title {
                        line-height: 6rem;
                        margin-top: auto;
                    }
                    .img-1 {
                        position: absolute;
                        width: 17.7rem;
                        top: 0;
                        left: 2.4rem;
                    }
                    .img-2 {
                        position: absolute;
                        width: 13.1rem;
                        top: 15.1rem;
                        right: 2.3rem;
                        @media screen and (max-width: 767px) {
                            top: 7.6rem;
                            right: 1.8rem;
                            width: 12rem;
                        }
                    }
                }
            }
            &:nth-child(9) {
                grid-column: 1/-1;
                background-color: var(--cl-pink-main);
                color: var(--cl-bg);
                .box-content {
                    display: flex;
                    padding-block: 3.6rem 6.2rem;
                    padding-inline: 4.2rem 8.1rem;
                    @media screen and (max-width: 767px) {
                        flex-direction: column;
                        padding-block: 3.2rem 5rem;
                        padding-inline: 2.4rem 1.8rem;
                    }
                    .box-left {
                        margin-right: 11.6rem;
                        max-width: 67.6rem;
                        width: 100%;
                        @media screen and (max-width: 767px) {
                            margin-right: 0;
                        }
                        .label {
                            margin-bottom: 2.5rem;
                            @media screen and (max-width: 767px) {
                                margin-bottom: 1.6rem;
                            }
                        }
                    }
                    .box-right {
                        display: flex;
                        align-items: start;
                        align-self: stretch;
                        position: relative;
                        .number-value {
                            margin-top: -7rem;
                            @media screen and (max-width: 767px) {
                                margin-top: -2rem;
                                margin-left: 7.6rem;
                                font-size: 18.9rem;
                            }
                        }
                        .number-unit {
                            margin-left: 1.8rem;
                            margin-top: .8rem;
                            @media screen and (max-width: 767px) {
                                margin-top: 5.6rem;
                                margin-left: .8rem;
                                font-size: 5.6rem;
                            }
                        }
                        img {
                            position: absolute;
                            bottom: -6.2rem;
                            width: 32.8rem;
                            left: -6.9rem;
                            @media screen and (max-width: 767px) {
                                width: 23.8rem;
                                bottom: -4.4rem;
                                left: 2.6rem;
                            }
                        }
                    }
                }
            }
            &:nth-child(10) {
                grid-column: span 4;
                background-color: var(--cl-brown-1);
                color: var(--cl-bg);
                .box-content {
                    position: relative;
                    padding-block: 3.6rem 16.5rem;
                    padding-inline: 2.4rem 5.6rem;
                    height: 100%;
                    .title {
                        line-height: 6rem;
                        margin-bottom: 1.6rem;
                    }
                    .sub {
                        max-width: 25.2rem;
                    }
                    img {
                        position: absolute;
                        right: 2.7rem;
                        bottom: 1.3rem;
                        width: 21.7rem;
                        @media screen and (max-width: 767px) {
                            width: 20.6rem;
                        }
                    }
                }
            }
            &:nth-child(11) {
                grid-column: span 8;
                background-color: var(--cl-brown-2);
                color: var(--cl-bg);
                .box-content {
                    position: relative;
                    padding-block: 2.6rem 3.5rem;
                    padding-inline: 4.3rem;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-block: 2.8rem 19.5rem;
                        padding-inline: 3rem 2.5rem;
                    }
                    .body {
                        max-width: 42.7rem;
                    }
                    img {
                        position: absolute;
                        right: 4rem;
                        bottom: 2rem;
                        width: 26.7rem;
                        @media screen and (max-width: 767px) {
                            width: 21.7rem;
                            right: 7rem;
                            bottom: 1.6rem;
                        }
                    }
                }
            }
            &:nth-child(12) {
                grid-column: span 7;
                background-color: var(--cl-pink-rgb);
                color: var(--cl-bg);
                min-height: 33.6rem;
                @media screen and (max-width: 767px) {
                    min-height: auto;
                }
                .box-content {
                    position: relative;
                    padding-block: 2.6rem 3.5rem;
                    padding-inline: 4.3rem;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-block: 2.4rem;
                        padding-inline: 2.6rem 11.4rem;
                    }
                    .body {
                        max-width: 39.8rem;
                    }
                    img {
                        position: absolute;
                        right: .9rem;
                        bottom: 0;
                        width: 25.1rem;
                        @media screen and (max-width: 767px) {
                            width: 15rem;
                            right: 0;
                            bottom: 3.6rem;
                        }
                    }
                }
            }
            &:nth-child(13) {
                grid-column: span 5;
                background-color: var(--cl-yellow-dark);
                color: var(--cl-bg);
                .box-content {
                    position: relative;
                    padding-block: 2.2rem 2.4rem;
                    padding-inline: 4.3rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-inline: 1rem;
                    }
                    .title {
                        max-width: 39.8rem;
                        line-height: 1em;
                        margin-bottom: 1.9rem;
                        @media screen and (max-width: 767px) {
                            font-size: 3.6rem;
                            line-height: 4rem;
                        }
                    }
                    img {
                        width: 20.3rem;
                        margin-bottom: 1.6rem;
                    }
                }
            }
            &:nth-child(14) {
                grid-column: span 7;
                background-color: var(--cl-blue-3);
                color: var(--cl-bg);
                min-height: 33.6rem;
                @media screen and (max-width: 767px) {
                    min-height: auto;
                }
                .box-content {
                    position: relative;
                    padding-block: 5.9rem 4.7rem;
                    padding-inline: 4.1rem;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-block: 2rem 19.2rem;
                        padding-inline: 2rem 3.6rem;
                    }
                    .body {
                        margin-bottom: 1.8rem;
                        max-width: 44rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 1.2rem;
                        }
                    }
                    .sub {
                        max-width: 44rem;
                        line-height: 6rem;
                        @media screen and (max-width: 767px) {
                            margin-right: -1rem;
                        }
                    }
                    img {
                        position: absolute;
                        right: .9rem;
                        bottom: 3.6rem;
                        width: 22.3rem;
                        @media screen and (max-width: 767px) {
                            width: 16.4rem;
                            right: 10rem;
                            bottom: 1.6rem;
                        }
                    }
                }
            }
            &:nth-child(15) {
                grid-column: span 5;
                background-color: var(--cl-blue-3);
                color: var(--cl-bg);
                .box-content {
                    position: relative;
                    padding-block: 1.5rem;
                    padding-inline: 2.4rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-block: 1.5rem 2.6rem;
                    }
                    .title {
                        max-width: 42.9rem;
                        line-height: 1em;
                        margin-bottom: 1.6rem;
                    }
                    img {
                        width: 15.1rem;
                        margin-bottom: 1.6rem;
                    }
                }
            }
            &:nth-child(16) {
                grid-column: span 7;
                background-color: var(--cl-blue);
                color: var(--cl-bg);
                .box-content {
                    padding-block: 2.8rem 2.4rem;
                    padding-inline: 4.3rem;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-block: 2.7rem 3.4rem;
                        padding-inline: 2.4rem 1.8rem;
                    }
                    .title {
                        max-width: 54.1rem;
                        line-height: 1em;
                        margin-bottom: 1.3rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 2rem;
                        }
                    }
                    .body {
                        max-width: 54.1rem;
                    }
                }
            }
            &:nth-child(17) {
                grid-column: span 5;
                .box-img {
                    height: 100%;
                    border-radius: 1.4rem;
                    overflow: hidden;
                    position: relative;
                    .border {
                        position: absolute;
                        inset: 0;
                        border-radius: 1.4rem;
                        border: solid .4rem var(--cl-blue-3);
                    }
                }
            }
            &:nth-child(18) {
                grid-column: span 5;
                .box-img {
                    height: 100%;
                    border-radius: 1.4rem;
                    overflow: hidden;
                    position: relative;
                    .border {
                        position: absolute;
                        inset: 0;
                        border-radius: 1.4rem;
                        border: solid .4rem var(--cl-blue);
                    }
                }
            }
            &:nth-child(19) {
                grid-column: span 7;
                background-color: var(--cl-blue);
                color: var(--cl-bg);
                @media screen and (max-width: 767px) {
                    grid-row: 18/19;
                }
                .box-content {
                    padding-block: 3.4rem 3rem;
                    padding-inline: 4.3rem;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-block: 2.4rem 3.2rem;
                        padding-inline: 2.3rem 3.4rem;
                    }
                    .title {
                        max-width: 54.1rem;
                        line-height: 1em;
                        margin-bottom: 1.5rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 1.8rem;
                        }
                    }
                    .list {
                        display: flex;
                        flex-direction: column;
                        row-gap: 2.4rem;
                        max-width: 54.2rem;
                        .list-item {
                            display: flex;
                            align-items: start;
                            .dot {
                                width: 1rem;
                                height: 1rem;
                                margin: 1.9rem;
                                border-radius: 50%;
                                background-color: currentColor;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
            &:nth-child(20) {
                grid-column: span 7;
                grid-row: span 2;
                background-color: var(--cl-green);
                color: var(--cl-bg);
                @media screen and (max-width: 767px) {
                    grid-row: span 1;
                }
                .box-content {
                    position: relative;
                    padding-block: 3.3rem 2rem;
                    padding-inline: 4.3rem;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-block: 1.6rem 2rem;
                        padding-inline: 1.7rem 2rem;
                    }
                    .title {
                        max-width: 43.8rem;
                        line-height: 1em;
                        margin-bottom: 2.3rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 2.8rem;
                            max-width: 24rem;
                        }
                    }
                    .list {
                        display: flex;
                        flex-direction: column;
                        row-gap: 2.4rem;
                        max-width: 57.3rem;
                        .list-item {
                            display: flex;
                            align-items: start;
                            .dot {
                                flex: none;
                                width: 0.4rem;
                                height: 0.4rem;
                                background-color: currentColor;
                                border-radius: 50%;
                                margin-top: 1rem;
                                margin-inline: 1.2rem;
                            }
                        }
                    }
                    img {
                        position: absolute;
                        right: 4.6rem;
                        top: 1.2rem;
                        width: 11.1rem;
                        @media screen and (max-width: 767px) {
                            width: 9rem;
                            top: 1.6rem;
                            right: 1.3rem;
                        }
                    }
                }
            }
            &:nth-child(21) {
                grid-column: span 5;
                background-color: var(--cl-green);
                color: var(--cl-bg);
                .box-content {
                    position: relative;
                    padding-block: 2.2rem 2.8rem;
                    padding-inline: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-block: 3.2rem;
                        padding-inline: 2.4rem;
                    }
                    img {
                        width: 19.3rem;
                        margin-bottom: 1.4rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 1.1rem;
                        }
                    }
                    .label {
                        max-width: 42.9rem;
                        white-space: nowrap;
                        @media screen and (max-width: 767px) {
                            white-space: wrap;
                        }
                    }
                }
            }
            &:nth-child(22) {
                grid-column: span 7;
                background-color: var(--cl-blue);
                color: var(--cl-bg);
                .box-content {
                    position: relative;
                    padding-block: 2.7rem 2.1rem;
                    padding-inline: 4.3rem;
                    height: 100%;
                    @media screen and (max-width: 767px) {
                        padding-block: 2.7rem 14.2rem;
                        padding-inline: 3.2rem;
                    }
                    .label {
                        max-width: 40.6rem;
                        margin-bottom: 1.4rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: .9rem;
                        }
                    }
                    .title {
                        max-width: 38.6rem;
                        line-height: 1em;
                        margin-bottom: 1.6rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: .6rem;
                        }
                    }
                    .src {
                        max-width: 41rem;
                    }
                    img {
                        position: absolute;
                        right: 1rem;
                        top: 1.9rem;
                        width: 19.6rem;
                        @media screen and (max-width: 767px) {
                            width: 15.2rem;
                            right: 2rem;
                            top: auto;
                            bottom: 2rem;
                        }
                    }
                }
            }
            &:nth-child(23) {
                grid-column: 8/13;
                grid-row: 12/14;
                @media screen and (max-width: 767px) {
                    grid-row: span 1;
                }
                .box-img {
                    height: 100%;
                    border-radius: 1.4rem;
                    overflow: hidden;
                    position: relative;
                    .border {
                        position: absolute;
                        inset: 0;
                        border-radius: 1.4rem;
                        border: solid .4rem var(--cl-blue);
                    }
                }
            }
        }
    }
</style>
