---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import Chap1MemTop1 from '../../assets/Chap1MemTop1.jpg'
import Chap1MemTop2 from '../../assets/Chap1MemTop2.jpg'
import Chap1MemTop3 from '../../assets/Chap1MemTop3.jpg'
import Chap1MemTop4 from '../../assets/Chap1MemTop4.jpg'
import Chap1MemTop5 from '../../assets/Chap1MemTop5.jpg'
import Chap1MemTop6 from '../../assets/Chap1MemTop6.jpg'
import Chap1MemTop7 from '../../assets/Chap1MemTop7.jpg'
import Chap1MemTop8 from '../../assets/Chap1MemTop8.jpg'
import Chap1MemTop9 from '../../assets/Chap1MemTop9.jpg'
import Chap1MemTop10 from '../../assets/Chap1MemTop10.jpg'
import chap1MemBot1 from '../../assets/chap1MemBot1.jpg' 
import chap1MemBot2 from '../../assets/chap1MemBot2.jpg' 
import chap1MemBot3 from '../../assets/chap1MemBot3.jpg' 
import chap1MemBot4 from '../../assets/chap1MemBot4.jpg' 
import chap1MemBot5 from '../../assets/chap1MemBot5.jpg'
---
<div class="popup">
    <div class="popup-overlay">
        <div class="popup-wrap">
            <div class="popup-inner">
                <div class="box-left">
                    <div class="img-wrap">
                        <Image src={Chap1MemTop2} alt="" />
                    </div>
                    <div class="name-wrap">
                        <div class="heading txt-24 txt-bold label">
                            Ông
                        </div>
                        <div class="heading txt-36 txt-bold txt-up name">
                            NGUYỄN HẠNH PHÚC
                        </div>
                    </div>
                    <div class="txt txt-14 jobs">
                        Chủ tịch HĐQT độc lập <br>
                        Chủ tịch Ủy ban Nhân sự <br>
                        Thành viên Ủy ban Lương thưởng
                    </div>
                    <div class="line line-dash"></div>
                    <p class="txt txt-14 desc">
                        Ông sinh năm 1959. Ông là thành viên HĐQT của Vinamilk và đảm nhiệm vị trí Chủ tịch HĐQT từ tháng 4/2022. Ông có nhiều năm kinh nghiệm trong lĩnh vực quản lý Nhà nước.
                    </p>
                </div>
                <div class="box-right">
                    <div class="txt txt-14 box-richtxt">
                        <p class="txt-bold label">
                            Trình độ chuyên môn
                        </p>
                        <p>
                            Kỹ sư xây dựng, Trường Đại học Kiến trúc Hà Nội (năm 1981).
                        </p>
                        <p class="txt-bold label">
                            Kinh nghiệm
                        </p>
                        <p> 
                            • Từ năm 2011 đến 2021, ông là UVTW Đảng và nắm giữ nhiều vị trí quan trọng khác trong Quốc hội như Uỷ viên Đảng đoàn Quốc hội, Uỷ viên Uỷ ban Thường vụ Quốc hội, Tổng thư ký Quốc hội khóa XII - XIV, Chủ nhiệm văn phòng Quốc hội, Bí thư Đảng uỷ cơ quan văn phòng Quốc hội, Chánh văn phòng Đảng đoàn Quốc hội, Chánh văn phòng Hội đồng bầu cử Quốc gia, Chủ tịch nhóm Nghị sĩ Hữu nghị Việt Nam - Australia. <br><br>
                            • Từ năm 2005 đến 2011, ông là Bí thư Tỉnh uỷ Tỉnh Uỷ tỉnh Thái bình và nắm giữ nhiều chức vụ quan trọng khác tại tỉnh Thái Bình như Chủ tịch HĐND tỉnh, Trưởng đoàn ĐBQH khoá XII tỉnh Thái Bình tại Đại hội đại biểu toàn quốc lần thứ XI của Đảng, thành viên Ban chấp hành Trung ương Đảng, ĐBQH khoá XII. <br><br>
                            • Từ 2003 đến 2005, ông giữ các chức vụ Thường vụ Tỉnh uỷ, Bí thư thành ủy, chủ tịch HĐND thành phố Thái Bình. <br><br>
                            • Trước năm 2003, ông từng công tác tại Sở Công nghiệp Thái Bình, Sở Xây dựng Thái Bình, Công ty gạch ốp lát Thái Bình và Công trường xây dựng phía Nam Thái Bình.
                        </p>
                        <p class="txt-bold label">
                            Các khen thưởng
                        </p>
                        <p> 
                            • Huân chương Độc lập hạng Nhì. <br>
                            • Huân chương Lao động hạng Nhất. <br>
                            • Huân chương Lao động hạng Ba.<br>
                            • Huân chương Đại đoàn kết dân tộc.<br>
                            • Huân chương Tự do hạng Nhì của Nhà nước CHDCND Lào.<br>
                            • Bằng khen của Thủ tướng Chính phủ.
                        </p>
                    </div>
                </div>
            </div>
            <a href="#" class="popup-close">
                <div class="ic ic-16">
                    <svg width="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6567 13.6572L2.34303 2.34352" stroke="currentColor" stroke-width=".2rem" stroke-linecap="round"/>
                        <path d="M2.34326 13.6572L13.657 2.34352" stroke="currentColor" stroke-width=".2rem" stroke-linecap="round"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="hidden-data">
    <div class="data" data-mem="1">
        <div class="img">
            <Image src={Chap1MemTop1} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Alain Xavier Cany</div>
        <div class="jobs">
            Thành viên HĐQT không điều hành <br>
            Thành viên Ủy ban Chiến lược <br>
            Thành viên Ủy ban Kiểm toán
        </div>
        <div class="desc">
            Ông sinh năm 1949, là thành viên HĐQT không điều hành từ tháng 3/2018.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                Kỹ sư xây dựng, Trường Đại học Kiến trúc Hà Nội (năm 1981).
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Từ năm 2011 đến 2021, ông là UVTW Đảng và nắm giữ nhiều vị trí quan trọng khác trong Quốc hội như Uỷ viên Đảng đoàn Quốc hội, Uỷ viên Uỷ ban Thường vụ Quốc hội, Tổng thư ký Quốc hội khóa XII - XIV, Chủ nhiệm văn phòng Quốc hội, Bí thư Đảng uỷ cơ quan văn phòng Quốc hội, Chánh văn phòng Đảng đoàn Quốc hội, Chánh văn phòng Hội đồng bầu cử Quốc gia, Chủ tịch nhóm Nghị sĩ Hữu nghị Việt Nam - Australia. <br><br>
                • Từ năm 2005 đến 2011, ông là Bí thư Tỉnh uỷ Tỉnh Uỷ tỉnh Thái bình và nắm giữ nhiều chức vụ quan trọng khác tại tỉnh Thái Bình như Chủ tịch HĐND tỉnh, Trưởng đoàn ĐBQH khoá XII tỉnh Thái Bình tại Đại hội đại biểu toàn quốc lần thứ XI của Đảng, thành viên Ban chấp hành Trung ương Đảng, ĐBQH khoá XII. <br><br>
                • Từ 2003 đến 2005, ông giữ các chức vụ Thường vụ Tỉnh uỷ, Bí thư thành ủy, chủ tịch HĐND thành phố Thái Bình. <br><br>
                • Trước năm 2003, ông từng công tác tại Sở Công nghiệp Thái Bình, Sở Xây dựng Thái Bình, Công ty gạch ốp lát Thái Bình và Công trường xây dựng phía Nam Thái Bình.
            </p>
            <p class="txt-bold label">
                Các khen thưởng
            </p>
            <p> 
                • Huân chương Độc lập hạng Nhì. <br>
                • Huân chương Lao động hạng Nhất. <br>
                • Huân chương Lao động hạng Ba.<br>
                • Huân chương Đại đoàn kết dân tộc.<br>
                • Huân chương Tự do hạng Nhì của Nhà nước CHDCND Lào.<br>
                • Bằng khen của Thủ tướng Chính phủ.
            </p>
        </div>
    </div>
    <div class="data" data-mem="2">
        <div class="img">
            <Image src={Chap1MemTop2} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Nguyễn Hạnh Phúc</div>        
    </div>
    <div class="data" data-mem="3">
        <div class="img">
            <Image src={Chap1MemTop3} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Lee Meng Tat</div>        
    </div>
    <div class="data" data-mem="4">
        <div class="img">
            <Image src={Chap1MemTop4} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Lê Thành Liêm</div>      
    </div>
    <div class="data" data-mem="5">
        <div class="img">
            <Image src={Chap1MemTop5} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Hoàng Ngọc Thạch</div>
    </div>
    <div class="data" data-mem="6">
        <div class="img">
            <Image src={Chap1MemTop6} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Michael Chye Hin Fah</div>
    </div>
    <div class="data" data-mem="7">
        <div class="img">
            <Image src={Chap1MemTop7} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Đỗ Lê Hùng</div>
    </div>
    <div class="data" data-mem="8">
        <div class="img">
            <Image src={Chap1MemTop8} alt="" />
        </div>
        <div class="label">Bà</div>
        <div class="name">Đặng Thị Thu</div>
    </div>
    <div class="data" data-mem="9">
        <div class="img">
            <Image src={Chap1MemTop9} alt="" />
        </div>
        <div class="label">Bà</div>
        <div class="name">Mai Kiều Liên</div>
    </div>
    <div class="data" data-mem="10">
        <div class="img">
            <Image src={Chap1MemTop10} alt="" />
        </div>
        <div class="label">Bà</div>
        <div class="name">Tiêu Yến Trinh</div>  
    </div>
    <div class="data" data-mem="11">
        <div class="img">
            <Image src={chap1MemBot1} alt="" />
        </div>
        <div class="label">Bà</div>
        <div class="name">BÙI THỊ HƯƠNG</div>  
    </div>
    <div class="data" data-mem="12">
        <div class="img">
            <Image src={chap1MemBot2} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">NGUYỄN QUỐC KHÁNH</div>  
    </div>
    <div class="data" data-mem="13">
        <div class="img">
            <Image src={chap1MemBot3} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">NGUYỄN QUANG TRÍ</div>  
    </div>
    <div class="data" data-mem="14">
        <div class="img">
            <Image src={chap1MemBot4} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">LÊ HOÀNG MINH</div>  
    </div>
    <div class="data" data-mem="15">
        <div class="img">
            <Image src={chap1MemBot5} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">ĐOÀN QUỐC KHÁNH</div>  
    </div>
</div>
<style lang="scss">
    .hidden-data {
        display: none;
    }
    .popup {
        opacity: 0;
        pointer-events: none;
        transition: opacity 600ms ease;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        &.active {
            opacity: 1;
            pointer-events: auto;
            .popup-wrap {
                transform: none;
            }
        }
        &-overlay {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,.7);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-wrap {
            border-radius: 2rem;
            background-color: var(--cl-bg);
            padding-block: 2rem;
            padding-inline: 2.3rem;
            width: 99.4rem;
            max-width: calc(100vw - 16rem);
            height: 57.8rem;
            max-height: calc(100vh - 12rem);
            position: relative;
            transform: translateY(20%);
            transition: transform 600ms ease;
        }
        &-inner {
            height: 100%;
            display: grid;
            grid-template-columns: 4.66fr 5.34fr;
            column-gap: 5.9rem;
            position: relative;
            z-index: 1;
            color: var(--cl-txt);
            .box-left {
                height: 100%;
                .img-wrap {
                    border-radius: .8rem;
                    overflow: hidden;
                    margin-bottom: 1.8rem;
                }
                .name-wrap {
                    color: var(--cl-blue);
                    margin-bottom: 1rem;
                    .label {
                        margin-bottom: -.2rem;
                    }
                }
                .jobs {
                    color: var(--cl-blue);
                    margin-bottom: 2rem;
                }
                .line-dash {
                    margin-bottom: 2rem;
                }
            }
            .box-right {
                height: 100%;
                overflow-y: auto;
                padding-right: 3rem;
                .box-richtxt {
                    p {
                        margin-bottom: 1.7rem;
                    }
                    .txt-bold {
                        margin-top: 2.2rem;
                        margin-bottom: 1.7rem;
                    }
                }
            }
        }
        &-close {
            position: absolute;
            z-index: 2;
            top: .5rem;
            right: .5rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: solid max(.1rem, 1px) var(--cl-blue);
            color: var(--cl-blue);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 400ms ease;
            background-color: var(--cl-bg);
            &:hover {
                background-color: var(--cl-blue);
                color: var(--cl-bg);
            }
        }
    }
</style>
<script>
    document.querySelector('.popup-close').addEventListener('click', function(e) {
        e.preventDefault()
        document.querySelector('.popup').classList.remove('active')
    })
    let allMembers = document.querySelectorAll('[data-popup]');
    let allData = document.querySelectorAll('.hidden-data .data');
    let popup = document.querySelector('.popup-wrap')
    console.log(popup)
    allMembers.forEach((el, idx) => {
        el.addEventListener('click', function(e) {
            e.preventDefault()
            let target = parseInt(el.getAttribute('data-mem')) - 1;
            let data = allData[target]
            popup.querySelector('.box-left .img-wrap').innerHTML = data.querySelector('.img').innerHTML;
            popup.querySelector('.box-left .label').innerHTML = data.querySelector('.label').innerHTML;
            popup.querySelector('.box-left .name').innerHTML = data.querySelector('.name').innerHTML;
            document.querySelector('.popup').classList.add('active')
        })
    })
</script>