---
import { Image } from 'astro:assets'
import chap1BisIc1_1 from '../../assets/chap1BisIc1-1.png'
import chap1BisIc1_2 from '../../assets/chap1BisIc1-2.png'
import chap1BisIc1_3 from '../../assets/chap1BisIc1-3.png'
import chap1BisIc1_4 from '../../assets/chap1BisIc1-4.png'
import chap1BisIc1_5 from '../../assets/chap1BisIc1-5.png'
import chap1BisIc1_6 from '../../assets/chap1BisIc1-6.png'
import chap1BisIc2_1 from '../../assets/chap1BisIc2-1.png'
import chap1BisIc2_2 from '../../assets/chap1BisIc2-2.png'
import chap1BisIc2_3 from '../../assets/chap1BisIc2-3.png'
import chap1BisIc2_4 from '../../assets/chap1BisIc2-4.png'
import chap1BisIc3_1 from '../../assets/chap1BisIc3-1.png'
import chap1BisIc3_2 from '../../assets/chap1BisIc3-2.png'
import chap1BisIc3_3 from '../../assets/chap1BisIc3-3.png'
import chap1BisImg3_1 from '../../assets/chap1BisImg3-1.jpg'
import chap1BisImgLg1 from '../../assets/chap1BisImgLg1.jpg'
import chap1BisBox1 from '../../assets/chap1BisBox1.png'
import chap1BisBox2 from '../../assets/chap1BisBox2.png'
import chap1BisBox3 from '../../assets/chap1BisBox3.png'
import chap1BisBox4 from '../../assets/chap1BisBox4.png'
import chap1BisBox5 from '../../assets/chap1BisBox5.png'
---
<section class="chap1-bis">
    <div class="container">
        <h2 class="heading txt-78 txt-bold txt-blue chap1-bis-title">
            Mô hình kinh doanh của Vinamilk
        </h2>
        <div class="chap1-bis-main">
            <h3 class="txt txt-24 txt-med main-title">
                Nền tảng kinh doanh
            </h3>
            <div class="main-wrap">
                <div class="col-item">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-orange">
                            Các bên liên quan
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_1} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Nhà cung cấp và đối tác
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Chúng tôi đang hợp tác chặt chẽ với gần <span class="txt-bold">5.000</span> hộ nông dân chăn nuôi bò sữa và khai thác đàn bò với quy mô gần <span class="txt-bold">100.000</span> con.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_2} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Cộng đồng
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Năm 2023 đánh dấu cột mốc <span class="txt-bold">16</span> năm Quỹ sữa Vươn cao Việt Nam. Chúng tôi tiếp tục đồng hành cùng câu lạc bộ điều dưỡng trưởng và người cao tuổi trên cả nước, đồng thời đẩy mạnh triển khai đề án Sữa học đường.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_3} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Cổ đông/Nhà đầu tư
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Chúng tôi không bị giới hạn tỷ lệ sở hữu nước ngoài. Cơ cấu cổ đông được duy trì đa dạng với tỷ lệ nhà đầu tư (“NĐT”) nước ngoài/trong nước là 54%/46% và NĐT tổ chức/cá nhân là 92%/8% (tại ngày 28/12/2023).
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_4} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Người lao động
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Toàn tập đoàn có <span class="txt-bold">9.877</span> nhân sự tại ngày 31/12/2023.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_5} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Chính phủ và các hiệp hội ngành
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Chúng tôi cam kết phát triển kinh tế địa phương và ngành trên tinh thần thượng tôn pháp luật.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_6} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Khách hàng/Người tiêu dùng
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Chúng tôi cam kết cung cấp đến khách hàng và người tiêu dùng (“NTD”) các sản phẩm dinh dưỡng chất lượng cao, đa dạng, phù hợp với từng phân khúc khách hàng thông qua hệ thống phân phối gần <span class="txt-bold">200 nghìn</span> điểm bán trên cả nước. Thị trường xuất khẩu lũy kế bao gồm 60 quốc gia/vùng lãnh thổ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-item">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-pink">
                            Các nguồn lực
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc2_1} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-pink">
                                    Thiên nhiên
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Hoạt động của chúng tôi phụ thuộc vào các nguồn tài nguyên tái tạo và không thể tái tạo, đặc biệt là nước, rừng và đất.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc2_2} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-pink">
                                    Sản phẩm
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Chúng tôi hiện có <span class="txt-bold">250</span> SKUs trong danh mục sản phẩm với 04 ngành hàng chính gồm Sữa nước, Sữa chua, Sữa đặc và Sữa công thức.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc2_3} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-pink">
                                    Hạ tầng
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Chúng tôi đang vận hành hệ thống <span class="txt-bold">15</span> trang trại và <span class="txt-bold">16</span> nhà máy tại Việt Nam, Campuchia, Lào và Hoa Kỳ.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc2_4} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-pink">
                                    Sức khỏe tài chính và Quản trị doanh nghiệp
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Bảng cân đối kế toán minh bạch tại ngày 31/12/2023 với:
                                </p>
                                <div class="content-info cl-pink-bg">
                                    <div class="info-item">
                                        <div class="txt txt-20 info-label">
                                            Tổng tài sản
                                        </div>
                                        <div class="info-value-wrap">
                                            <div class="heading txt-64 txt-up txt-bold number-value">
                                                52.673
                                            </div>
                                            <div class="txt txt-20 number-unit">
                                                tỷ đồng
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div class="info-item">
                                        <div class="txt txt-20 info-label">
                                            Tổng vốn chủ sở hữu
                                        </div>
                                        <div class="info-value-wrap">
                                            <div class="heading txt-64 txt-up txt-bold number-value">
                                                35.026
                                            </div>
                                            <div class="txt txt-20 number-unit">
                                                tỷ đồng
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div class="info-item">
                                        <div class="txt txt-20 info-label">
                                            Tổng nợ
                                        </div>
                                        <div class="info-value-wrap">
                                            <div class="heading txt-64 txt-up txt-bold number-value">
                                                17.647
                                            </div>
                                            <div class="txt txt-20 number-unit">
                                                tỷ đồng
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <p class="txt txt-17 txt-inter">
                                    Duy trì hoạt động của 04 ủy ban trực thuộc HĐQT.
                                </p>
                                <ul class="txt txt-17">
                                    <li>Uỷ ban chiến lược</li>
                                    <li>Uỷ ban nhân sự</li>
                                    <li>Uỷ ban lương thưởng</li>
                                    <li>Uỷ ban kiểm toán</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-item">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-blue-2">
                            Tầm nhìn, sứ mệnh và chiến lược phát triển 5 năm
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc3_1} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-blue-2">
                                    Tầm nhìn
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Trở thành biểu tượng niềm tin hàng đầu Việt Nam về sản phẩm dinh dưỡng và sức khỏe phục vụ cuộc sống con người.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc3_2} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-blue-2">
                                    Sứ mệnh
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Vinamilk cam kết mang đến cho cộng đồng nguồn dinh dưỡng và chất lượng cao cấp hàng đầu bằng chính sự trân trọng, tình yêu và trách nhiệm cao của mình với cuộc sống con người và xã hội.
                                </p>
                                <div class="content-img">
                                    <Image src={chap1BisImg3_1} alt='' />
                                </div>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc3_3} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-blue-2">
                                    Chiến lược phát triển 5 năm 2022-2026
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Phát triển sản phẩm và trải nghiệm ưu  việt cho người tiêu dùng, củng cố vị thế dẫn đầu ngành sữa Việt Nam. <br/><br/>
                                    Đẩy mạnh ứng dụng công nghệ, triển khai thực hành các tiêu chuẩn quốc tế về phát triển bền vững. <br/><br/>
                                    Khởi tạo cơ hội kinh doanh mới thông qua các hoạt động mua bán sáp nhập, liên doanh và đầu tư mạo hiểm. <br/><br/>
                                    Trở thành đích đến của nhân tài, xây dựng văn hóa doanh nghiệp hướng đến đổi mới và sáng tạo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="txt txt-24 txt-med main-title">
                Kết quả mang lại trong năm 2023
            </h3>
            <div class="main-wrap">
                <div class="col-item row-2">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-orange">
                            Các bên liên quan
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_1} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Nhà cung cấp và đối tác
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Tổng sản lượng sữa tươi thu mua đạt trên <span class="txt-bold">240 nghìn tấn</span>.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_2} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Cộng đồng
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Tổng mức đóng góp cho xã hội đạt <span class="txt-bold">81 tỷ đồng</span> thông qua các chương trình tiêu biểu như Sữa học đường, Quỹ sữa Vươn cao Việt Nam, chăm sóc sức khỏe người cao tuổi.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_3} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Cổ đông/Nhà đầu tư
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    <span class="txt-bold">100%</span> nhà đầu tư tham gia khảo sát hài lòng với các cuộc họp cập nhật kết quả kinh doanh và <span class="txt-bold">96%</span> hài lòng với các tài liệu được công bố.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_4} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Người lao động
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Tỷ lệ Hài lòng của nhân viên được duy trì ở mức cao. Vinamilk đạt chứng nhận <span class="txt-bold">“Môi trường làm việc tốt”</span> từ cơ quan toàn cầu về văn hóa làm việc Great Place To Work.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_5} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Chính phủ và các hiệp hội ngành
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Mức đóng góp vào ngân sách Nhà nước đạt <span class="txt-bold">hơn 3.800 tỷ đồng</span>. Ngoài ra chúng tôi còn tham gia đóng góp ý kiến cho các văn bản pháp luật.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_6} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Khách hàng/Người tiêu dùng
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Tỷ lệ giao hàng đúng, đủ được cải thiện, nâng cao sự hài lòng và niềm tin của khách hàng; đồng thời, tỷ lệ hàng hư hỏng qua kho hoặc trong quá trình vận chuyển cũng giảm, đảm bảo chất lượng và an toàn của sản phẩm. <br/><br/>
                                    <span class="txt-bold">99%</span> khách hàng quốc tế hài lòng với dịch vụ xuất khẩu của Vinamilk. Phát triển thêm 12 khách hàng mới cho thị trường xuất khẩu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-item col-2">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-pink">
                            Các nguồn lực
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="col-cell">
                            <div class="content-item">
                                <div class="label-wrap">
                                    <div class="label-ic">
                                        <Image src={chap1BisIc2_1} alt='' />
                                    </div>
                                    <div class="txt txt-17 txt-inter label-txt cl-pink">
                                        Thiên nhiên
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <p class="txt txt-17 txt-inter">
                                        Sử dụng năng lượng xanh trong hoạt động sản xuất.
                                    </p>
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="label-wrap">
                                    <div class="label-ic">
                                        <Image src={chap1BisIc2_2} alt='' />
                                    </div>
                                    <div class="txt txt-17 txt-inter label-txt cl-pink">
                                        Sản phẩm
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <p class="txt txt-17 txt-inter">
                                        Tung mới và tái tung <span class="txt-bold">trên 10 sản phẩm</span>. Cải thiện bao bì và kiểu dáng cho nhiều sản phẩm chủ lực.
                                    </p>
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="label-wrap">
                                    <div class="label-ic">
                                        <Image src={chap1BisIc2_3} alt='' />
                                    </div>
                                    <div class="txt txt-17 txt-inter label-txt cl-pink">
                                        Hạ tầng
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <p class="txt txt-17 txt-inter">
                                        <span class="txt-bold">13 trang trại</span> đạt chứng nhận GlobalG.A.P và ISO 9001:2015. <br/><br/>
                                        <span class="txt-boldd">2 trang trại</span> đạt Organic EU. <br/><br/>
                                        <span class="txt-bold">15 nhà máy</span> đạt chứng nhận FSSC 22000 và/hoặc Halal và/hoặc ISO 9001.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-cell">
                            <div class="content-item">
                                <div class="label-wrap">
                                    <div class="label-ic">
                                        <Image src={chap1BisIc2_4} alt='' />
                                    </div>
                                    <div class="txt txt-17 txt-inter label-txt cl-pink">
                                        Sức khỏe tài chính và Quản trị doanh nghiệp
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <div class="content-info cl-pink-bg">
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Tổng doanh thu hợp nhất
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    60.479
                                                </div>
                                                <div class="txt txt-20 number-unit">
                                                    tỷ đồng
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Lợi nhuận sau thuế hợp nhất
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    9.019
                                                </div>
                                                <div class="txt txt-20 number-unit">
                                                    tỷ đồng
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Tỷ lệ chi trả cổ tức thêm (dự kiến)
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    91%
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Số lượng TV HĐQT độc lập
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    3/10
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Số lượng TV HĐQT là nữ
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    3/10
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-img col-2">
                    <Image src={chap1BisImgLg1} alt='' class='img-fill'/>
                </div>
            </div>
            <h3 class="txt txt-24 txt-med main-title">
                Chuỗi giá trị
            </h3>
            <div class="main-wrap">
                <div class="box-item top">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-blue-2">
                            Thượng nguồn
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="box-inner">
                        <div class="content-item">
                            <div class="img-wrap">
                                <Image src={chap1BisBox1} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Nghiên cứu phát triển
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    Đội ngũ tiếp thị và nghiên cứu phát triển của chúng tôi có sự hiểu biết sâu sắc về người tiêu dùng và trình độ chuyên môn để phát triển các sản phẩm phù hợp với nhu cầu của người tiêu dùng.
                                </div>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="img-wrap">
                                <Image src={chap1BisBox2} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Vùng nguyên liệu
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    Đội ngũ tiếp thị và nghiên cứu phát triển của chúng tôi có sự hiểu biết sâu sắc về người tiêu dùng và trình độ chuyên môn để phát triển các sản phẩm phù hợp với nhu cầu của người tiêu dùng.
                                </div>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="img-wrap">
                                <Image src={chap1BisBox3} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Sản xuất
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    Chúng tôi thực hiện một quy trình sản xuất an toàn được tiêu chuẩn hóa và phù hợp với các chuẩn mực quốc tế. Chúng tôi cũng cố gắng đạt được các quy trình hiệu quả về mặt sinh thái nhằm tối đa hóa hiệu suất mà không gây ô nhiễm môi trường.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item bot">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-blue-2">
                            Hạ nguồn
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="box-inner">
                        <div class="content-item">
                            <div class="img-wrap">
                                <Image src={chap1BisBox4} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Phân phối
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    Hệ thống và mạng lưới phân phối rộng khắp đảm bảo các sản phẩm của chúng tôi được phân phối hiệu quả đến người tiêu dùng. Trong các hoạt động của mình, chúng tôi cố gắng tiên phong triển khai các mô hình mới đáp ứng nhu cầu sản xuất trong nước và xuất khẩu một cách nhanh chóng, hiệu quả chi phí, tuân thủ luật định.
                                </div>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="img-wrap">
                                <Image src={chap1BisBox5} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Marketing và Bán hàng
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    Chúng tôi thể hiện trách nhiệm với người tiêu dùng và xã hội bằng cách cung các sản phẩm ngày càng tốt hơn về chất lượng và minh bạch hơn về thông tin trên bao bì. Chúng tôi cũng thu thập phản hồi từ khách hàng để tạo ra giá trị bền vững cho người tiêu dùng và cho doanh nghiệp của chúng tôi.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .chap1-bis {
        padding-bottom: 6.6rem;
        &-title {
            margin-bottom: 6rem;
            margin-inline: auto;
            text-align: center;
        }
        &-main {
            .main-title {
                color: var(--cl-green);
                margin-bottom: 2.6rem;
            }
            .main-wrap {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                column-gap: var(--grid-gap);
                margin-bottom: 4.2rem;
                .title-wrap {
                    position: relative;
                    background-color: var(--cl-purple-light);
                    margin-bottom: 1.4rem;
                    min-height: 5rem;
                    display: flex;
                    align-items: center;
                    .title-inner {
                        margin-bottom: .2rem;
                        margin-inline: 2.4rem;
                    }
                    .line-decor-css {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: .6rem;
                        height: 100%;
                    }
                }
                .col-item {
                    &.col-2 {
                        grid-column: span 2;
                        .col-inner {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            column-gap: var(--grid-gap);
                        }
                    }
                    &.row-2 {
                        grid-row: span 2;
                    }
                    .col-inner {
                        display: flex;
                        flex-direction: column;
                        row-gap: .8rem;
                        .content-item {
                            .label-wrap {
                                display: flex;
                                align-items: end;
                                column-gap: 1.6rem;
                                margin-bottom: .4rem;
                                .label-ic {
                                    width: 7.1rem;
                                }
                                .label-txt {
                                    margin-bottom: 1rem;
                                    max-width: 24.5rem;
                                    line-height: 1.2em;
                                }
                            }
                            .content-wrap {
                                p {
                                    margin-bottom: .8rem;
                                }
                                ul {
                                    li {
                                        margin-left: 2rem;
                                    }
                                }
                                .content-img {
                                    border-radius: 1.4rem;
                                    overflow: hidden;
                                    margin-block: 2.4rem;
                                }
                                .content-info {
                                    margin-block: 2.4rem;
                                    padding-block: 1rem;
                                    padding-inline: 2.2rem;
                                    color: var(--cl-bg);
                                    border-radius: 1.4rem;
                                    .info-item {
                                        position: relative;
                                        padding-block: 1.5rem .5rem;
                                        .info-label {
                                            margin-bottom: -1rem;
                                        }
                                        .info-value-wrap {
                                            display: flex;
                                            align-items: end;
                                            .number-value {
                                                line-height: 1.2em;
                                            }
                                            .number-unit {
                                                margin-left: 1.2rem;
                                                margin-bottom: 1.3rem;
                                            }
                                        }
                                        .line {
                                            position: absolute;
                                            left: 0;
                                            bottom: 0;
                                            background-color: var(--cl-bg);
                                        }
                                        &:last-child {
                                            .line {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .col-img {
                    border-radius: 1.4rem;
                    overflow: hidden;
                    &.col-2 {
                        grid-column: span 2;
                    }
                }
                .box-item {
                    grid-column: 1/-1;
                    &:not(:last-child) {
                        margin-bottom: 4.8rem
                    }
                    .title-wrap {
                        margin-bottom: 3.2rem;
                    }
                    &.top {
                        .box-inner {
                            display: grid;
                            grid-template-columns: repeat(12, 1fr);
                            column-gap: var(--grid-gap);
                            row-gap: 3rem;
                            .content-item {
                                border-radius: 1.4rem;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                color: var(--cl-bg);
                                .img-wrap {
                                    flex: none
                                }
                                .txt-wrap {
                                    .title {
                                        line-height: 2.8rem;
                                        margin-bottom: 1.6rem;
                                    }
                                }
                                &:nth-child(1) {
                                    grid-column: span 7;
                                    background-color: var(--cl-blue);
                                    .img-wrap {
                                        margin: 2.1rem 1.7rem 1.7rem 1.4rem;
                                        width: 17.6rem;
                                    }
                                    .txt-wrap {
                                        margin: 2.8rem 4.5rem 3.1rem 0;
                                        .title {
                                            color: var(--cl-blue-3);
                                        }
                                    }
                                }
                                &:nth-child(2) {
                                    grid-column: span 7;
                                    flex-direction: row-reverse;
                                    background-color: var(--cl-green);
                                    .img-wrap {
                                        margin: 1.7rem 1.8rem 1.5rem 3rem;
                                        width: 15.5rem;
                                    }
                                    .txt-wrap {
                                        margin: 3.4rem 0 2.6rem 3.4rem;
                                    }
                                }
                                &:nth-child(3) {
                                    grid-column: 8/-1;
                                    grid-row: 1/3;
                                    flex-direction: column;
                                    background-color: var(--cl-pink);
                                    .img-wrap {
                                        margin: 0 8.3rem 0 5.8rem;
                                        width: 34rem;
                                    }
                                    .txt-wrap {
                                        margin: .5rem 3.6rem 2.2rem 3.4rem;
                                        .title {
                                            color: var(--cl-blue)
                                        }
                                        .sub {
                                            color: var(--cl-txt);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.bot {
                        .box-inner {
                            display: flex;
                            flex-direction: column;
                            row-gap: 3rem;
                            .content-item {
                                border-radius: 1.4rem;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                .img-wrap {
                                    flex: none
                                }
                                .txt-wrap {
                                    .title {
                                        line-height: 2.8rem;
                                        margin-bottom: 1.6rem;
                                        color: var(--cl-blue);
                                    }
                                }
                                &:nth-child(1) {
                                    background-color: var(--cl-pink-3);
                                    .img-wrap {
                                        margin: 1.8rem 6rem .7rem 5.2rem;
                                        width: 18.8rem;
                                    }
                                    .txt-wrap {
                                        margin: 3.2rem 3.2rem 3.2rem 0;
                                    }
                                }
                                &:nth-child(2) {
                                    background-color: var(--cl-yellow-2);
                                    .img-wrap {
                                        margin: 1.6rem 3rem 1.9rem 2.8rem;
                                        width: 24.2rem;
                                    }
                                    .txt-wrap {
                                        margin: 3.2rem 3.2rem 3.2rem 0;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
</style>