---
import { Image } from "astro:assets";
import Chap1MemTop from '../../assets/Chap1MemTop.png' 
import chap1MemBot1 from '../../assets/chap1MemBot1.jpg' 
import chap1MemBot2 from '../../assets/chap1MemBot2.jpg' 
import chap1MemBot3 from '../../assets/chap1MemBot3.jpg' 
import chap1MemBot4 from '../../assets/chap1MemBot4.jpg' 
import chap1MemBot5 from '../../assets/chap1MemBot5.jpg'
---
<section class="chap1-mem">
    <div class="chap1-mem-top bg-stripe">
        <div class="line-decor-css"></div>
        <div class="line-decor-css bot"></div>
        <div class="container">
            <div class="heading txt-78 txt-bold title" data-aos="fade-up">
                Giới thiệu Hội đồng Quản trị
            </div>
            <div class="img-wrap" data-aos="fade-up">
                <div class="img-inner">
                    <Image src={Chap1MemTop} alt="" />
                </div>
                <div class="img-pin-wrap">
                    <div class="pin-item" style="--pos-top: 8.1%; --pos-left: 32%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="1">
                            <div class="txt txt-14 pin-txt">
                                01
                            </div>
                        </a>
                    </div>
                    <div class="pin-item" style="--pos-top: 8.1%; --pos-left: 55%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="2">
                            <div class="txt txt-14 pin-txt">
                                02
                            </div>
                        </a>
                    </div>
                    <div class="pin-item" style="--pos-top: 8.1%; --pos-left: 86.5%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="3">
                            <div class="txt txt-14 pin-txt">
                                03
                            </div>
                        </a>
                    </div>
                    <div class="pin-item" style="--pos-top: 25.8%; --pos-left: 20.6%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="4">
                            <div class="txt txt-14 pin-txt">
                                04
                            </div>
                        </a>
                    </div>
                    <div class="pin-item" style="--pos-top: 25.8%; --pos-left: 42.2%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="5">
                            <div class="txt txt-14 pin-txt">
                                05
                            </div>
                        </a>
                    </div>
                    <div class="pin-item" style="--pos-top: 25.8%; --pos-left: 68.9%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="6">
                            <div class="txt txt-14 pin-txt">
                                06
                            </div>
                        </a>
                    </div>
                    <div class="pin-item" style="--pos-top: 25.8%; --pos-left: 92.6%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="7">
                            <div class="txt txt-14 pin-txt">
                                07
                            </div>
                        </a>
                    </div>
                    <div class="pin-item" style="--pos-top: 41.5%; --pos-left: 38.2%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="8">
                            <div class="txt txt-14 pin-txt">
                                08
                            </div>
                        </a>
                    </div>
                    <div class="pin-item" style="--pos-top: 43.5%; --pos-left: 57%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="9">
                            <div class="txt txt-14 pin-txt">
                                09
                            </div>
                        </a>
                    </div>
                    <div class="pin-item" style="--pos-top: 41.5%; --pos-left: 78%">
                        <a href="#" class="pin-item-inner" data-popup data-mem="10">
                            <div class="txt txt-14 pin-txt">
                                10
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="chap1-mem-top-main">
            <a href="#" class="item-wrap" data-popup data-mem="1" data-aos="fade-up">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        01
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Ông Alain Xavier Cany
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
            <a href="#" class="item-wrap" data-popup data-mem="2" data-aos="fade-up" data-aos-delay="200">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        02
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Ông Nguyễn Hạnh Phúc
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
            <a href="#" class="item-wrap" data-popup data-mem="3" data-aos="fade-up" data-aos-delay="300">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        03
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Ông Lee Meng Tat
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
            <a href="#" class="item-wrap" data-popup data-mem="4" data-aos="fade-up">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        04
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Ông Lê Thành Liêm
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
            <a href="#" class="item-wrap" data-popup data-mem="5" data-aos="fade-up" data-aos-delay="200">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        05
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Ông Hoàng Ngọc Thạch
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
            <a href="#" class="item-wrap" data-popup data-mem="6" data-aos="fade-up" data-aos-delay="300">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        06
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Ông Michael Chye Hin Fah
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
            <a href="#" class="item-wrap" data-popup data-mem="7" data-aos="fade-up">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        07
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Ông Đỗ Lê Hùng
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
            <a href="#" class="item-wrap" data-popup data-mem="8" data-aos="fade-up" data-aos-delay="200">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        08
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Bà Đặng Thị Thu Hà
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
            <a href="#" class="item-wrap" data-popup data-mem="9" data-aos="fade-up" data-aos-delay="300">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        09
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Bà Mai Kiều Liên
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
            <a href="#" class="item-wrap" data-popup data-mem="10" data-aos="fade-up">
                <div class="ic-wrap">
                    <div class="txt txt-16 ic-txt">
                        10
                    </div>
                </div>
                <div class="heading txt-24 txt-bold name">
                    Bà Tiêu Yến Trinh
                </div>
                <div class="link-wrap">
                    <div class="heading txt-17 txt-med link-txt">Xem thêm</div>
                    <div class="ic">
                        <svg width="100%" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.5 2.13397C5.16667 2.51888 5.16667 3.48113 4.5 3.86603L1.5 5.59808C0.833332 5.98298 -2.84205e-07 5.50185 -2.50556e-07 4.73205L-9.91352e-08 1.26795C-6.54861e-08 0.498148 0.833333 0.0170235 1.5 0.401924L4.5 2.13397Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="line"></div>
            </a>
        </div>
    </div>
    <div class="chap1-mem-bot">
        <div class="container">
            <div class="heading txt-78 txt-bold title" data-aos="fade-up">
                Giới thiệu Ban điều hành
            </div>
            <div class="chap1-mem-bot-main">
                <div class="col">
                    <a href="#" class="item-wrap" data-popup data-mem="11" data-aos="fade-up-right">
                        <div class="img-wrap">
                            <Image src={chap1MemBot1} alt="" class='img-fill'/>
                            <div class="overlay">
                                <div class="ic">
                                    <svg width="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 1L8 15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                        <path d="M15 8L1 8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrap">
                            <div class="line-decor-css"></div>
                            <div class="name-wrap">
                                <div class="heading txt-24 txt-bold name-label">
                                    Bà
                                </div>
                                <div class="heading txt-36 txt-up txt-bold name-title">
                                    BÙI THỊ HƯƠNG
                                </div>
                            </div>
                            <div class="sub-wrap">
                                <div class="txt txt-17 sub">
                                    Giám đốc Điều hành Nhân sự - Hành chính & Đối ngoại
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item-wrap" data-popup data-mem="12" data-aos="fade-up-right">
                        <div class="img-wrap">
                            <Image src={chap1MemBot2} alt="" class='img-fill'/>
                            <div class="overlay">
                                <div class="ic">
                                    <svg width="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 1L8 15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                        <path d="M15 8L1 8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrap">
                            <div class="line-decor-css"></div>
                            <div class="name-wrap">
                                <div class="heading txt-24 txt-bold name-label">
                                    Ông
                                </div>
                                <div class="heading txt-36 txt-up txt-bold name-title">
                                    NGUYỄN QUỐC KHÁNH
                                </div>
                            </div>
                            <div class="sub-wrap">
                                <div class="txt txt-17 sub">
                                    Giám đốc Điều hành Nghiên cứu và Phát triển
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item-wrap" data-popup data-mem="13" data-aos="fade-up-right">
                        <div class="img-wrap">
                            <Image src={chap1MemBot3} alt="" class='img-fill'/>
                            <div class="overlay">
                                <div class="ic">
                                    <svg width="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 1L8 15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                        <path d="M15 8L1 8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrap">
                            <div class="line-decor-css"></div>
                            <div class="name-wrap">
                                <div class="heading txt-24 txt-bold name-label">
                                    Ông
                                </div>
                                <div class="heading txt-36 txt-up txt-bold name-title">
                                    NGUYỄN QUANG TRÍ
                                </div>
                            </div>
                            <div class="sub-wrap">
                                <div class="txt txt-17 sub">
                                    Giám đốc Điều hành Marketing
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="item-wrap" data-popup data-mem="14" data-aos="fade-up-left">
                        <div class="img-wrap">
                            <Image src={chap1MemBot4} alt="" class='img-fill'/>
                            <div class="overlay">
                                <div class="ic">
                                    <svg width="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 1L8 15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                        <path d="M15 8L1 8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrap">
                            <div class="line-decor-css"></div>
                            <div class="name-wrap">
                                <div class="heading txt-24 txt-bold name-label">
                                    Ông
                                </div>
                                <div class="heading txt-36 txt-up txt-bold name-title">
                                    LÊ HOÀNG MINH
                                </div>
                            </div>
                            <div class="sub-wrap">
                                <div class="txt txt-17 sub">
                                    Giám đốc Điều hành Sản xuất
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item-wrap" data-popup data-mem="15" data-aos="fade-up-left">
                        <div class="img-wrap">
                            <Image src={chap1MemBot5} alt="" class='img-fill'/>
                            <div class="overlay">
                                <div class="ic">
                                    <svg width="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 1L8 15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                        <path d="M15 8L1 8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrap">
                            <div class="line-decor-css"></div>
                            <div class="name-wrap">
                                <div class="heading txt-24 txt-bold name-label">
                                    Ông
                                </div>
                                <div class="heading txt-36 txt-up txt-bold name-title">
                                    ĐOÀN QUỐC KHÁNH
                                </div>
                            </div>
                            <div class="sub-wrap">
                                <div class="txt txt-17 sub">
                                    Giám đốc Điều hành Phát triển Vùng Nguyên Liệu
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .chap1-mem-top {
        position: relative;
        background-color: var(--cl-blue);
        padding-block: 6.2rem 4.5rem;
        .line-decor-css {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 1rem;
            --angle: 90deg;
            background: repeating-linear-gradient(
                var(--angle),
                var(--cl-blue-2),
                var(--cl-blue-2) 18rem,
                var(--cl-blue-3) 18rem,
                var(--cl-blue-3) 36rem,
            );
            &.bot {
                top: auto;
                bottom: 0;
            }
        }
        .title {
            margin-bottom: 4.2rem;
            text-align: center;
            margin-inline: auto;
            color: var(--cl-bg);
        }
        .img-wrap {
            display: grid;
            width: 100%;
            max-width: 79rem;
            margin-inline: auto;
            .img-inner {
                grid-column: 1/2;
                grid-row: 1/2;
                pointer-events: none;
            }
            .img-pin-wrap {
                grid-column: 1/2;
                grid-row: 1/2;
                pointer-events: none;
                position: relative;
                .pin-item {
                    position: absolute;
                    top: var(--pos-top);
                    left: var(--pos-left);
                    width: 0;
                    height: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .pin-item-inner {
                        pointer-events: auto;
                        position: absolute;
                        width: 2.8rem;
                        height: 2.8rem;
                        border-radius: 50%;
                        border: solid 1px var(--cl-blue-3);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .pin-txt {
                            color: var(--cl-bg);
                            text-align: center;
                        }
                    }
                }
            }

        }
        &-main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: var(--grid-gap);
            padding-block: 1.2rem 14.8rem;
            .item-wrap {
                display: flex;
                align-items: center;
                color: var(--cl-blue);
                position: relative;
                padding-block: 1.8rem;
                .ic-wrap {
                    width: 3.2rem;
                    height: 3.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: solid 1px var(--cl-blue);
                    color: var(--cl-blue);
                    flex: none;
                }
                .name {
                    margin-left: 1.6rem;
                }
                .link-wrap {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    transition: color 400ms ease;
                    .link-txt {
                        margin-right: .8rem;
                    }
                    .ic {
                        width: .8rem;
                        height: .8rem;
                    }
                }
                .line {
                    background-color: var(--cl-blue);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
                &:hover {
                    .link-wrap {
                        color: var(--cl-blue-2);
                    }
                }
            }
        }
    }
    .chap1-mem-bot {
        padding-bottom: 9rem;
        .title {
            margin-bottom: 7rem;
            text-align: center;
            margin-inline: auto;
            color: var(--cl-blue);
        }
        &-main {
            display: grid;
            column-gap: var(--grid-gap);
            grid-template-columns: repeat(2, 1fr);
            margin-inline: auto;
            .col {
                display: flex;
                flex-direction: column;
                row-gap: 3rem;
                &:nth-child(2) {
                    margin-top: 22rem;
                }
                .item-wrap {
                    border-radius: 1.2rem;
                    overflow: hidden;
                    &:hover {
                        .img-wrap {
                            .overlay {
                                opacity: 1;
                            }
                        }
                    }
                    .img-wrap {
                        height: 33rem;
                        position: relative;
                        .overlay {
                            position: absolute;
                            inset: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(0,0,0,.6);
                            opacity: 0;
                            transition: opacity 400ms ease;
                            .ic {
                                width: 4rem;
                                height: 4rem;
                                border-radius: .8rem;
                                background-color: var(--cl-bg);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                svg {
                                    width: 1.6rem;
                                    color: var(--cl-blue);
                                }
                            }
                        }
                    }
                    .content-wrap {
                        display: flex;
                        align-items: end;
                        padding-block: 3.2rem 2.8rem;
                        padding-inline: 2.6rem;
                        background-color: var(--cl-blue);
                        color: var(--cl-bg);
                        position: relative;
                        .name-wrap {
                            width: 50%;
                            .name-label {
                                margin-bottom: -.2rem;
                            }
                        }
                        .sub-wrap {
                            width: 50%;
                            padding-left: 2.4rem;
                            margin-bottom: .3rem;
                        }
                        .line-decor-css {
                            height: .7rem;
                            position: absolute;
                            bottom: 100%;
                            left: 0;
                            width: 100%;
                            --angle: 90deg;
                            background: repeating-linear-gradient(
                                var(--angle),
                                var(--cl-blue-3),
                                var(--cl-blue-3) 7.2rem,
                                var(--cl-blue-2) 7.2rem,
                                var(--cl-blue-2) 14.4rem
                            );
                        }
                    }
                }
            }
        }
    }
</style>
