---
import { Image } from 'astro:assets'
import chap1BisIc1_1 from '../../assets/chap1BisIc1-1.png'
import chap1BisIc1_2 from '../../assets/chap1BisIc1-2.png'
import chap1BisIc1_3 from '../../assets/chap1BisIc1-3.png'
import chap1BisIc1_4 from '../../assets/chap1BisIc1-4.png'
import chap1BisIc1_5 from '../../assets/chap1BisIc1-5.png'
import chap1BisIc1_6 from '../../assets/chap1BisIc1-6.png'
import chap1BisIc2_1 from '../../assets/chap1BisIc2-1.png'
import chap1BisIc2_2 from '../../assets/chap1BisIc2-2.png'
import chap1BisIc2_3 from '../../assets/chap1BisIc2-3.png'
import chap1BisIc2_4 from '../../assets/chap1BisIc2-4.png'
import chap1BisIc3_1 from '../../assets/chap1BisIc3-1.png'
import chap1BisIc3_2 from '../../assets/chap1BisIc3-2.png'
import chap1BisIc3_3 from '../../assets/chap1BisIc3-3.png'
import chap1BisImg3_1 from '../../assets/chap1BisImg3-1.jpg'
import chap1BisImgLg1 from '../../assets/chap1BisImgLg1.jpg'
import chap1BisBox1 from '../../assets/chap1BisBox1.png'
import chap1BisBox2 from '../../assets/chap1BisBox2.png'
import chap1BisBox3 from '../../assets/chap1BisBox3.png'
import chap1BisBox4 from '../../assets/chap1BisBox4.png'
import chap1BisBox5 from '../../assets/chap1BisBox5.png'
---
<section class="chap1-bis" id="Sc2">
    <div class="container">
        <h2 class="heading txt-78 txt-bold txt-blue chap1-bis-title" data-aos="fade-up">
            Vinamilk's business model
        </h2>
        <div class="chap1-bis-main">
            <h3 class="txt txt-24 txt-med main-title" data-aos="fade-up">
                What we depend on
            </h3>
            <div class="main-wrap">
                <div class="col-item" data-aos="fade-up">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-orange">
                            Stakeholders
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_1} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Suppliers and partners
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    We are working closely with nearly <span class="txt-bold">5,000</span> dairy farmers on a herd of about <span class="txt-bold">100,000</span> cow heads.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_2} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Community
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    The year 2023 marks the <span class="txt-bold">16</span> anniversary of the Stand Tall Vietnam milk fund. We continue to accompany the chief nursing club and the elderly across the country, while promoting the implementation of the School Milk project.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_3} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Shareholders
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    We are not subject to foreign ownership limit. The shareholder structure remains diversified with the ratio of foreign/domestic investors at 54%/46% and institutional/individual investors at 92%/8% (as of December 28, 2023).
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_4} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Employees
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    The whole group has <span class="txt-bold">9,877</span> employees as of December 31, 2023.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_5} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Regulators 
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    We are committed to developing the local economy and the industry in compliance with the law.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_6} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Customer and consumers
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    We are committed to providing customers and consumers with high-quality, diverse nutritional products suitable for each customer segment through a distribution system of nearly <span class="txt-bold">200,000</span> points of sale across Vietnam. The cumulative export market covers 60 countries/regions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-item" data-aos="fade-up" data-aos-delay="200">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-pink">
                            Resources
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc2_1} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-pink">
                                    Environment
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Our operations depend on renewable and non-renewable resources, especially soil, water and forests.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc2_2} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-pink">
                                    Product
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    We currently have <span class="txt-bold">250</span> SKUs in our product portfolio with 04 main categories including Liquid Milk, Yogurt, Condensed Milk and PowderedMilk
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc2_3} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-pink">
                                    Infrastructure
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    We are operating a system of <span class="txt-bold">15</span> farms and <span class="txt-bold">16</span> factories in Vietnam, Cambodia, Laos and the United States.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc2_4} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-pink">
                                    Financial health and Corporate governance
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    We maintained a healthy balance sheet as at December 31st, 2023 with:
                                </p>
                                <div class="content-info cl-pink-bg">
                                    <div class="info-item">
                                        <div class="txt txt-20 info-label">
                                            Total assets
                                        </div>
                                        <div class="info-value-wrap">
                                            <div class="heading txt-64 txt-up txt-bold number-value">
                                                <span data-counter>52,673</span>
                                            </div>
                                            <div class="txt txt-20 number-unit">
                                                billion VND 
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div class="info-item">
                                        <div class="txt txt-20 info-label">
                                            Total equity
                                        </div>
                                        <div class="info-value-wrap">
                                            <div class="heading txt-64 txt-up txt-bold number-value">
                                                <span data-counter>35,026</span>
                                            </div>
                                            <div class="txt txt-20 number-unit">
                                                billion VND
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div class="info-item">
                                        <div class="txt txt-20 info-label">
                                            Total liabilities
                                        </div>
                                        <div class="info-value-wrap">
                                            <div class="heading txt-64 txt-up txt-bold number-value">
                                                <span data-counter>17.647</span>
                                            </div>
                                            <div class="txt txt-20 number-unit">
                                                billion VND
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <p class="txt txt-17 txt-inter">
                                    We maintain the operation of 04 functional committees under the Board of Directors.
                                </p>
                                <ul class="txt txt-17 txt-inter">
                                    <li>Strategy committee</li>
                                    <li>Nomination committee</li>
                                    <li>Remuneration committee</li>
                                    <li>Audit committee</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-item" data-aos="fade-up" data-aos-delay="300">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-blue-2">
                            Vision, mission and 5-year development strategy 
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc3_1} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-blue-2">
                                    Vision
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    To become Vietnam’s proxy of trust in nutrition and health products for human life.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc3_2} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-blue-2">
                                    Mission
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    To provide the community with top-class nutrition and quality with respect, love and responsibility for human life and society.
                                </p>
                                <div class="content-img">
                                    <Image src={chap1BisImg3_1} alt='' />
                                </div>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc3_3} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-blue-2">
                                    Five-year development strategy 2022-2026
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    To develop superior products and experiences for consumers, and consolidate the leading position in Vietnam's dairy industry. <br/><br/>
                                    To step up technology application and implementation of international standards for sustainable development. <br/><br/>
                                    To create new business opportunities through mergers and acquisitions, joint ventures and venture capital. <br/><br/>
                                    To become a destination for talent, and nurture a corporate culture that values innovation and creativity.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="txt txt-24 txt-med main-title" data-aos="fade-up">
                The value created in 2023
            </h3>
            <div class="main-wrap">
                <div class="col-item row-2" data-aos="fade-up">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-orange">
                            Stakeholders
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_1} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Suppliers and partners
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    The total volume of purchased fresh milk reached over <span class="txt-bold">240 thousand tons</span>.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_2} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Community
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    The total contribution to society reached <span class="txt-bold">81 billion VND</span> through programs such as School Milk, Stand Tall Vietnam, and elderly health care.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_3} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Shareholders 
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    <span class="txt-bold">100%</span> of investors surveyed were satisfied with business results update meetings and <span class="txt-bold">96%</span> were satisfied with disclosed documents.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_4} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Employees
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    The Employee Satisfaction rate remained high. Vinamilk has been certified by <span class="txt-bold">Great Place To Work</span>.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_5} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Regulators
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Contribution to the State budget reached <span class="txt-bold">more than 3,800 billion VND</span>. We also gave comments and feedback on the development of legal documents.
                                </p>
                            </div>
                        </div>
                        <div class="content-item">
                            <div class="label-wrap">
                                <div class="label-ic">
                                    <Image src={chap1BisIc1_6} alt='' />
                                </div>
                                <div class="txt txt-17 txt-inter label-txt cl-orange">
                                    Customer and consumers
                                </div>
                            </div>
                            <div class="content-wrap">
                                <p class="txt txt-17 txt-inter">
                                    Sufficient delivery rate has been improved, enhancing satisfaction and trust of customer, the loss rate through storage or in process transportation is also reduced, ensuring product quality and safety. <br/><br/>
                                    <span class="txt-bold">99%</span> of international customers surveyed were satisfied with Vinamilk's export services. We won 12 more new export customers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-item col-2" data-aos="fade-up" data-aos-delay="200">
                    <div class="title-wrap">
                        <div class="txt txt-16 txt-med title-inner cl-pink">
                            Resources
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="col-inner">
                        <div class="col-cell">
                            <div class="content-item">
                                <div class="label-wrap">
                                    <div class="label-ic">
                                        <Image src={chap1BisIc2_1} alt='' />
                                    </div>
                                    <div class="txt txt-17 txt-inter label-txt cl-pink">
                                        Environment
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <p class="txt txt-17 txt-inter">
                                        The green energy use rate in production activities, recycled water level used for agriculture and reused animal waste was at a high level.
                                    </p>
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="label-wrap">
                                    <div class="label-ic">
                                        <Image src={chap1BisIc2_2} alt='' />
                                    </div>
                                    <div class="txt txt-17 txt-inter label-txt cl-pink">
                                        Product portfolio
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <p class="txt txt-17 txt-inter">
                                        Launched new and re-launched <span class="txt-bold">over 10 products</span>. Improved packaging and design for many flagship products.
                                    </p>
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="label-wrap">
                                    <div class="label-ic">
                                        <Image src={chap1BisIc2_3} alt='' />
                                    </div>
                                    <div class="txt txt-17 txt-inter label-txt cl-pink">
                                        Infrastructure
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <p class="txt txt-17 txt-inter">
                                        <span class="txt-bold">13 farms</span> are certified to GlobalG.A.P and ISO 9001:2015. <br/><br/>
                                        <span class="txt-boldd">2 farms</span> are certified to Organic EU. <br/><br/>
                                        <span class="txt-bold">15 factories</span> are certified to FSSC 22000 and/or Halal and/or ISO 9001.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-cell">
                            <div class="content-item">
                                <div class="label-wrap">
                                    <div class="label-ic">
                                        <Image src={chap1BisIc2_4} alt='' />
                                    </div>
                                    <div class="txt txt-17 txt-inter label-txt cl-pink">
                                        Financial health and Corporate governance
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <div class="content-info cl-pink-bg no-mg">
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Total consolidated revenue
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    <span data-counter>60,479</span>
                                                </div>
                                                <div class="txt txt-20 number-unit">
                                                    billion VND
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Consolidated profit after tax
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    <span data-counter>9,019</span>
                                                </div>
                                                <div class="txt txt-20 number-unit">
                                                    billion VND
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Dividend payout ratio (Expected)
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    <span data-counter>91</span>%
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Number of independent BOD members
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    <span data-counter>3</span>/10
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="txt txt-20 info-label">
                                                Number of female BOD members
                                            </div>
                                            <div class="info-value-wrap">
                                                <div class="heading txt-64 txt-up txt-bold number-value">
                                                    <span data-counter>3</span>/10
                                                </div>
                                            </div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-img col-2" data-aos="fade-up">
                    <Image src={chap1BisImgLg1} alt='' class='img-fill'/>
                </div>
            </div>
            <h3 class="txt txt-24 txt-med main-title" data-aos="fade-up">
                Value chain
            </h3>
            <div class="main-wrap">
                <div class="box-item top">
                    <div class="title-wrap" data-aos="fade-up">
                        <div class="txt txt-20 txt-med title-inner cl-blue-2">
                            Upstream
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="box-inner">
                        <div class="content-item" data-aos="fade-up-right">
                            <div class="img-wrap">
                                <Image src={chap1BisBox1} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Research and Development
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    Our marketing and R&D teams have a deep understanding of consumers and the expertise to develop products that match their needs.
                                </div>
                            </div>
                        </div>
                        <div class="content-item" data-aos="fade-up-right">
                            <div class="img-wrap">
                                <Image src={chap1BisBox2} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Raw material area
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    We work closely with our suppliers to ensure their goods and services meet quality, environmental and social requirements, in addition to our strict internal standards.
                                </div>
                            </div>
                        </div>
                        <div class="content-item" data-aos="fade-up-left">
                            <div class="img-wrap">
                                <Image src={chap1BisBox3} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Manufacture
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    We implement a safe, standardized manufacturing process in line with international standards. We also strive to achieve eco-efficient processes that maximize efficiency without polluting the environment.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item bot">
                    <div class="title-wrap" data-aos="fade-up">
                        <div class="txt txt-20 txt-med title-inner cl-blue-2">
                            Downstream
                        </div>
                        <div class="line-decor-css"></div>
                    </div>
                    <div class="box-inner">
                        <div class="content-item" data-aos="fade-up">
                            <div class="img-wrap">
                                <Image src={chap1BisBox4} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Distribution
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    An extensive distribution system and network ensures our products are effectively distributed to consumers. We strive to boldly adopt new operation models that meet the needs of domestic production and export quickly, cost-effectively, and in compliance with the law.
                                </div>
                            </div>
                        </div>
                        <div class="content-item" data-aos="fade-up">
                            <div class="img-wrap">
                                <Image src={chap1BisBox5} alt='' />
                            </div>
                            <div class="txt-wrap">
                                <div class="txt txt-32 title">
                                    Marketing and Sales
                                </div>
                                <div class="txt txt-17 txt-inter sub">
                                    We show responsibility to consumers and society by providing better products in terms of quality and more transparency in label information. We also obtain feedback from customers to create sustainable value for both consumers and the Company.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .chap1-bis {
        padding-bottom: 6.6rem;
        @media screen and (max-width: 767px) {
            padding-bottom: 1.8rem;
        }
        &-title {
            margin-bottom: 6rem;
            margin-inline: auto;
            text-align: center;
            @media screen and (max-width: 767px) {
                font-size: 4.2rem;
                line-height: 1em;
                margin-bottom: 2.8rem;
            }
        }
        &-main {
            .main-title {
                color: var(--cl-green);
                margin-bottom: 2.6rem;
                @media screen and (max-width: 767px) {
                    font-size: 2rem;
                    margin-bottom: 1.8rem;
                }
            }
            .main-wrap {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                column-gap: var(--grid-gap);
                margin-bottom: 4.2rem;
                @media screen and (max-width: 767px) {
                    grid-template-columns: 1fr;
                    row-gap: 2rem;
                }
                
                .title-wrap {
                    position: relative;
                    background-color: var(--cl-purple-light);
                    margin-bottom: 1.4rem;
                    min-height: 5rem;
                    display: flex;
                    align-items: center;
                    .title-inner {
                        margin-bottom: .2rem;
                        margin-inline: 2.4rem;
                    }
                    .line-decor-css {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: .6rem;
                        height: 100%;
                    }
                }
                .col-item {
                    &.col-2 {
                        grid-column: span 2;
                        .col-inner {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            column-gap: var(--grid-gap);
                            @media screen and (max-width: 767px) {
                                grid-template-columns: 1fr;
                                row-gap: 0;
                            }
                        }
                    }
                    &.row-2 {
                        grid-row: span 2;
                    }
                    .col-inner {
                        display: flex;
                        flex-direction: column;
                        row-gap: .8rem;
                        @media screen and (max-width: 767px) {
                            row-gap: 2rem;
                        }
                        .content-item {
                            .label-wrap {
                                display: flex;
                                align-items: end;
                                column-gap: 1.6rem;
                                margin-bottom: .4rem;
                                .label-ic {
                                    width: 7.1rem;
                                }
                                .label-txt {
                                    margin-bottom: 1rem;
                                    max-width: 24.5rem;
                                    line-height: 1.2em;
                                }
                            }
                            .content-wrap {
                                p {
                                    margin-bottom: .8rem;
                                    @media screen and (max-width: 767px) {
                                        margin-bottom: 1.4rem;
                                    }
                                }
                                ul {
                                    li {
                                        margin-left: 2rem;
                                    }
                                }
                                .content-img {
                                    border-radius: 1.4rem;
                                    overflow: hidden;
                                    margin-block: 2.4rem;
                                    @media screen and (max-width: 767px) {
                                        margin-block: 2rem;
                                    }
                                }
                                .content-info {
                                    margin-block: 2.4rem;
                                    padding-block: 1rem;
                                    padding-inline: 2.2rem;
                                    color: var(--cl-bg);
                                    border-radius: 1.4rem;
                                    &.no-mg {
                                        @media screen and (max-width: 767px) {
                                            margin-bottom: 0;
                                        }
                                    }
                                    .info-item {
                                        position: relative;
                                        padding-block: 1.5rem .5rem;
                                        .info-label {
                                            margin-bottom: -1rem;
                                        }
                                        .info-value-wrap {
                                            display: flex;
                                            align-items: end;
                                            .number-value {
                                                line-height: 1.2em;
                                            }
                                            .number-unit {
                                                margin-left: 1.2rem;
                                                margin-bottom: 1.3rem;
                                            }
                                        }
                                        .line {
                                            position: absolute;
                                            left: 0;
                                            bottom: 0;
                                            background-color: var(--cl-bg);
                                        }
                                        &:last-child {
                                            .line {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .col-img {
                    border-radius: 1.4rem;
                    overflow: hidden;
                    &.col-2 {
                        grid-column: span 2;
                    }
                }
                .box-item {
                    grid-column: 1/-1;
                    &:not(:last-child) {
                        margin-bottom: 4.8rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: .8rem;
                        }
                    }
                    .title-wrap {
                        margin-bottom: 3.2rem;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 2.7rem;
                        }
                    }
                    &.top {
                        .box-inner {
                            display: grid;
                            grid-template-columns: repeat(12, 1fr);
                            column-gap: var(--grid-gap);
                            row-gap: 3rem;
                            @media screen and (max-width: 767px) {
                                grid-template-columns: 1fr;
                                row-gap: 2rem;
                            }
                            .content-item {
                                border-radius: 1.4rem;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                color: var(--cl-bg);
                                .img-wrap {
                                    flex: none
                                }
                                .txt-wrap {
                                    .title {
                                        line-height: 2.8rem;
                                        margin-bottom: 1.6rem;
                                        @media screen and (max-width: 767px) {
                                            font-size: 2.8rem;
                                            line-height: 1em;
                                            margin-bottom: .7rem;
                                        }
                                    }
                                }
                                &:nth-child(1) {
                                    grid-column: span 7;
                                    background-color: var(--cl-blue);
                                    @media screen and (max-width: 767px) {
                                        grid-column: span 1;
                                        flex-direction: column;
                                    }
                                    .img-wrap {
                                        margin: 2.1rem 1.7rem 1.7rem 1.4rem;
                                        width: 17.6rem;
                                        @media screen and (max-width: 767px) {
                                            width: 12.5rem;
                                            margin-inline: auto;
                                            margin-block: 2.3rem 1.6rem;
                                        }
                                    }
                                    .txt-wrap {
                                        margin: 2.8rem 4.5rem 3.1rem 0;
                                        @media screen and (max-width: 767px) {
                                            margin-block: 0 1.5rem;
                                            margin-inline: 2rem 2rem;
                                        }
                                        .title {
                                            color: var(--cl-blue-3);
                                        }
                                    }
                                }
                                &:nth-child(2) {
                                    grid-column: span 7;
                                    flex-direction: row-reverse;
                                    background-color: var(--cl-green);
                                    @media screen and (max-width: 767px) {
                                        grid-column: span 1;
                                        flex-direction: column;
                                    }
                                    .img-wrap {
                                        margin: 1.7rem 1.8rem 1.5rem 3rem;
                                        width: 15.5rem;
                                        @media screen and (max-width: 767px) {
                                            width: 11.3rem;
                                            margin-inline: auto;
                                            margin-block: 1.6rem 1.6rem;
                                        }
                                    }
                                    .txt-wrap {
                                        margin: 3.4rem 0 2.6rem 3.4rem;
                                        @media screen and (max-width: 767px) {
                                            margin-block: 0 1.5rem;
                                            margin-inline: 2rem 2rem;
                                        }
                                    }
                                }
                                &:nth-child(3) {
                                    grid-column: 8/-1;
                                    grid-row: 1/3;
                                    flex-direction: column;
                                    background-color: var(--cl-pink);
                                    @media screen and (max-width: 767px) {
                                        grid-column: span 1;
                                        grid-row: span 1;
                                    }
                                    .img-wrap {
                                        margin: 0 8.3rem 0 5.8rem;
                                        width: 34rem;
                                        @media screen and (max-width: 767px) {
                                            width: 23.6rem;
                                            margin-inline: auto;
                                            margin-block: 0 1.2rem;
                                        }
                                    }
                                    .txt-wrap {
                                        margin: .5rem 3.6rem 2.2rem 3.4rem;
                                        @media screen and (max-width: 767px) {
                                            margin-block: 0 1.5rem;
                                            margin-inline: 2rem 2rem;
                                        }
                                        .title {
                                            color: var(--cl-blue)
                                        }
                                        .sub {
                                            color: var(--cl-txt);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.bot {
                        .box-inner {
                            display: flex;
                            flex-direction: column;
                            row-gap: 3rem;
                            @media screen and (max-width: 767px) {
                                row-gap: 2rem;
                            }
                            .content-item {
                                border-radius: 1.4rem;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                @media screen and (max-width: 767px) {
                                    flex-direction: column;
                                }
                                .img-wrap {
                                    flex: none
                                }
                                .txt-wrap {
                                    .title {
                                        line-height: 2.8rem;
                                        margin-bottom: 1.6rem;
                                        color: var(--cl-blue);
                                        @media screen and (max-width: 767px) {
                                            font-size: 2.8rem;
                                            line-height: 1em;
                                            margin-bottom: 1.6rem;
                                        
                                        }
                                    }
                                }
                                &:nth-child(1) {
                                    background-color: var(--cl-pink-3);
                                    .img-wrap {
                                        margin: 1.8rem 6rem .7rem 5.2rem;
                                        width: 18.8rem;
                                        @media screen and (max-width: 767px) {
                                            margin-inline: auto;
                                            width: 15.8rem;
                                            margin-block: 1.8rem 2rem;
                                        }
                                    }
                                    .txt-wrap {
                                        margin: 3.2rem 3.2rem 3.2rem 0;
                                        @media screen and (max-width: 767px) {
                                            margin-inline: 1.5rem 1.1rem;
                                            margin-block: 0 2.2rem;
                                        }
                                    }
                                }
                                &:nth-child(2) {
                                    background-color: var(--cl-yellow-2);
                                    .img-wrap {
                                        margin: 1.6rem 3rem 1.9rem 2.8rem;
                                        width: 24.2rem;
                                        @media screen and (max-width: 767px) {
                                            margin-inline: auto;
                                            width: 23.7rem;
                                            margin-block: 1.8rem .8rem;
                                        }
                                    }
                                    .txt-wrap {
                                        margin: 3.2rem 3.2rem 3.2rem 0;
                                        @media screen and (max-width: 767px) {
                                            margin-inline: 1.5rem 1.1rem;
                                            margin-block: 0 2.2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
</style>