---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import Chap1MemTop1 from '../../assets/Chap1MemTop1.jpg'
import Chap1MemTop2 from '../../assets/Chap1MemTop2.jpg'
import Chap1MemTop3 from '../../assets/Chap1MemTop3.jpg'
import Chap1MemTop4 from '../../assets/Chap1MemTop4.jpg'
import Chap1MemTop5 from '../../assets/Chap1MemTop5.jpg'
import Chap1MemTop6 from '../../assets/Chap1MemTop6.jpg'
import Chap1MemTop7 from '../../assets/Chap1MemTop7.jpg'
import Chap1MemTop8 from '../../assets/Chap1MemTop8.jpg'
import Chap1MemTop9 from '../../assets/Chap1MemTop9.jpg'
import Chap1MemTop10 from '../../assets/Chap1MemTop10.jpg'
import chap1MemBot1 from '../../assets/chap1MemBot1.jpg' 
import chap1MemBot2 from '../../assets/chap1MemBot2.jpg' 
import chap1MemBot3 from '../../assets/chap1MemBot3.jpg' 
import chap1MemBot4 from '../../assets/chap1MemBot4.jpg' 
import chap1MemBot5 from '../../assets/chap1MemBot5.jpg'
---
<div class="popup">
    <div class="popup-overlay">
        <div class="popup-wrap">
            <div class="popup-inner">
                <div class="box-left">
                    <div class="img-wrap">
                        <Image src={Chap1MemTop2} alt="" />
                    </div>
                    <div class="name-wrap">
                        <div class="heading txt-24 txt-bold label">
                            Ông
                        </div>
                        <div class="heading txt-36 txt-bold txt-up name">
                            NGUYỄN HẠNH PHÚC
                        </div>
                    </div>
                    <div class="txt txt-14 jobs">
                        Chủ tịch HĐQT độc lập <br>
                        Chủ tịch Ủy ban Nhân sự <br>
                        Thành viên Ủy ban Lương thưởng
                    </div>
                    <div class="line line-dash"></div>
                    <p class="txt txt-14 desc">
                        Ông sinh năm 1959. Ông là thành viên HĐQT của Vinamilk và đảm nhiệm vị trí Chủ tịch HĐQT từ tháng 4/2022. Ông có nhiều năm kinh nghiệm trong lĩnh vực quản lý Nhà nước.
                    </p>
                </div>
                <div class="box-right">
                    <div class="txt txt-14 box-richtxt">
                        <p class="txt-bold label">
                            Trình độ chuyên môn
                        </p>
                        <p>
                            Kỹ sư xây dựng, Trường Đại học Kiến trúc Hà Nội (năm 1981).
                        </p>
                        <p class="txt-bold label">
                            Kinh nghiệm
                        </p>
                        <p> 
                            • Từ năm 2011 đến 2021, ông là UVTW Đảng và nắm giữ nhiều vị trí quan trọng khác trong Quốc hội như Uỷ viên Đảng đoàn Quốc hội, Uỷ viên Uỷ ban Thường vụ Quốc hội, Tổng thư ký Quốc hội khóa XII - XIV, Chủ nhiệm văn phòng Quốc hội, Bí thư Đảng uỷ cơ quan văn phòng Quốc hội, Chánh văn phòng Đảng đoàn Quốc hội, Chánh văn phòng Hội đồng bầu cử Quốc gia, Chủ tịch nhóm Nghị sĩ Hữu nghị Việt Nam - Australia. <br><br>
                            • Từ năm 2005 đến 2011, ông là Bí thư Tỉnh uỷ Tỉnh Uỷ tỉnh Thái bình và nắm giữ nhiều chức vụ quan trọng khác tại tỉnh Thái Bình như Chủ tịch HĐND tỉnh, Trưởng đoàn ĐBQH khoá XII tỉnh Thái Bình tại Đại hội đại biểu toàn quốc lần thứ XI của Đảng, thành viên Ban chấp hành Trung ương Đảng, ĐBQH khoá XII. <br><br>
                            • Từ 2003 đến 2005, ông giữ các chức vụ Thường vụ Tỉnh uỷ, Bí thư thành ủy, chủ tịch HĐND thành phố Thái Bình. <br><br>
                            • Trước năm 2003, ông từng công tác tại Sở Công nghiệp Thái Bình, Sở Xây dựng Thái Bình, Công ty gạch ốp lát Thái Bình và Công trường xây dựng phía Nam Thái Bình.
                        </p>
                        <p class="txt-bold label">
                            Các khen thưởng
                        </p>
                        <p> 
                            • Huân chương Độc lập hạng Nhì. <br>
                            • Huân chương Lao động hạng Nhất. <br>
                            • Huân chương Lao động hạng Ba.<br>
                            • Huân chương Đại đoàn kết dân tộc.<br>
                            • Huân chương Tự do hạng Nhì của Nhà nước CHDCND Lào.<br>
                            • Bằng khen của Thủ tướng Chính phủ.
                        </p>
                    </div>
                </div>
            </div>
            <a href="#" class="popup-close">
                <div class="ic ic-16">
                    <svg width="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6567 13.6572L2.34303 2.34352" stroke="currentColor" stroke-width=".2rem" stroke-linecap="round"/>
                        <path d="M2.34326 13.6572L13.657 2.34352" stroke="currentColor" stroke-width=".2rem" stroke-linecap="round"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="hidden-data">
    <div class="data" data-mem="1">
        <div class="img">
            <Image src={Chap1MemTop1} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Alain Xavier Cany</div>
        <div class="jobs">
            Thành viên HĐQT không điều hành <br>
            Thành viên Ủy ban Chiến lược <br>
            Thành viên Ủy ban Kiểm toán
        </div>
        <div class="desc">
            Ông sinh năm 1949, là thành viên HĐQT không điều hành từ tháng 3/2018.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                Tú tài, Đại học Paris.
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Ông có nhiều kinh nghiệm trong lĩnh vực quản lý doanh nghiệp tại nhiều tổ chức tài chính.<br><br>
                • Từ năm 2007 - 2023, ông đảm nhiệm vị trí Trưởng Đại diện - Chủ tịch Tập đoàn Jardine Matheson Limited (Việt Nam). <br><br>
                • Trong khoảng thời gian từ năm 2000 đến năm 2003, ông đảm nhiệm vị trí Trưởng Bộ phận Phát triển Kinh doanh Châu Âu - Châu Á Thái Bình Dương tại HSBC khu vực Châu Á Thái Bình Dương, rồi sau đó giữ chức vụ Chủ tịch và Tổng Giám đốc Ngân hàng HSBC Việt Nam (2003 - 2007). <br><br>
                • Trong hơn 30 năm từ 1969 đến 2000, ông trải qua nhiều vị trí quản lý cấp cao tại tổ chức tài chính Credit Commercial de France và Banque Worms tại Pháp và Hồng Kông. <br><br>
                • Ngoài ra, ông còn đảm nhiệm nhiều vị trí cố vấn ngoại thương Chính phủ Pháp, Chủ tịch của Eurocham, Diễn đàn Kinh doanh Việt Nam và là thành viên HĐQT của Ngân hàng Á Châu. <br><br>
                • Ông từng được Chính phủ Pháp trao tặng Huân Chương Bội Tinh và Đệ Ngũ Đẳng Bắc Đẩu Bội Tinh từ Tổng thống Pháp và được Thủ tướng nước Cộng Hòa Xã Hội Chủ Nghĩa Việt Nam trao tặng Huân Chương Hữu Nghị. <br><br>
            </p>
        </div>
    </div>
    <div class="data" data-mem="2">
        <div class="img">
            <Image src={Chap1MemTop2} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Nguyễn Hạnh Phúc</div>
        <div class="jobs">
            Chủ tịch HĐQT độc lập <br>
            Chủ tịch Ủy ban Nhân sự <br>
            Thành viên Ủy ban Lương thưởng
        </div>
        <div class="desc">
            Ông sinh năm 1959. Ông là thành viên HĐQT của Vinamilk và đảm nhiệm vị trí Chủ tịch HĐQT từ tháng 4/2022. Ông có nhiều năm kinh nghiệm trong lĩnh vực quản lý Nhà nước.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                Kỹ sư xây dựng, Trường Đại học Kiến trúc Hà Nội (năm 1981).
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Từ năm 2011 đến 2021, ông là UVTW Đảng và nắm giữ nhiều vị trí quan trọng khác trong Quốc hội như Uỷ viên Đảng đoàn Quốc hội, Uỷ viên Uỷ ban Thường vụ Quốc hội, Tổng thư ký Quốc hội khóa XII - XIV, Chủ nhiệm văn phòng Quốc hội, Bí thư Đảng uỷ cơ quan văn phòng Quốc hội, Chánh văn phòng Đảng đoàn Quốc hội, Chánh văn phòng Hội đồng bầu cử Quốc gia, Chủ tịch nhóm Nghị sĩ Hữu nghị Việt Nam - Australia. <br><br>
                • Từ năm 2005 đến 2011, ông là Bí thư Tỉnh uỷ Tỉnh Uỷ tỉnh Thái bình và nắm giữ nhiều chức vụ quan trọng khác tại tỉnh Thái Bình như Chủ tịch HĐND tỉnh, Trưởng đoàn ĐBQH khoá XII tỉnh Thái Bình tại Đại hội đại biểu toàn quốc lần thứ XI của Đảng, thành viên Ban chấp hành Trung ương Đảng, ĐBQH khoá XII. <br><br>
                • Từ 2003 đến 2005, ông giữ các chức vụ Thường vụ Tỉnh uỷ, Bí thư thành ủy, chủ tịch HĐND thành phố Thái Bình. <br><br>
                • Trước năm 2003, ông từng công tác tại Sở Công nghiệp Thái Bình, Sở Xây dựng Thái Bình, Công ty gạch ốp lát Thái Bình và Công trường xây dựng phía Nam Thái Bình.
            </p>
            <p class="txt-bold label">
                Các khen thưởng
            </p>
            <p> 
                • Huân chương Độc lập hạng Nhì. <br>
                • Huân chương Lao động hạng Nhất. <br>
                • Huân chương Lao động hạng Ba.<br>
                • Huân chương Đại đoàn kết dân tộc.<br>
                • Huân chương Tự do hạng Nhì của Nhà nước CHDCND Lào.<br>
                • Bằng khen của Thủ tướng Chính phủ.
            </p>
        </div>  
    </div>
    <div class="data" data-mem="3">
        <div class="img">
            <Image src={Chap1MemTop3} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Lee Meng Tat</div>        
        <div class="jobs">
            Thành viên HĐQT không điều hành <br>
            Thành viên Ủy ban Chiến lược <br>
            Thành viên Ủy ban Nhân sự
        </div>
        <div class="desc">
            Ông sinh năm 1963, là thành viên HĐQT không điều hành từ tháng 9/2016.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Thạc sĩ Quản trị kinh doanh (MBA), Đại học Hoàng Gia, Anh Quốc (năm 1997). <br><br>
                • Kỹ sư cơ khí, Đại học Quốc gia Singapore (năm 1988). <br><br>
                • Chứng chỉ Chương trình Quản lý nâng cao, Đại học Harvard (năm 2005). <br><br>
                • Chứng chỉ Chương trình Giám đốc toàn cầu, INSEAD (năm 2017). <br><br>
                • Chứng chỉ Giám đốc cấp cao, Học viện Giám đốc Singapore (SID) (năm 2024). 
            </p>
            <p class="txt-bold label">
                Quá trình công tác
            </p>
            <p> 
                • Ông có nhiều kinh nghiệm trong lĩnh vực quản lý doanh nghiệp, quản lý kinh tế tại nhiều tổ chức tư nhân và cơ quan nhà nước <br><br>
                • Trong khoảng thời gian hơn 23 năm (1999 - 2022), ông đảm nhiệm nhiều vị trí quản lý cấp cao ở các công ty trong lĩnh vực Hàng tiêu dùng và Du lịch như Fraser & Neave, Heineken-APB (Trung Quốc), Công ty TNHH Dịch vụ Quản trị, Công ty TNHH Nhà máy bia Châu Á - Thái Bình Dương, và Tổ chức Bảo tồn Thiên nhiên Singapore. <br><br>
                • Từ năm 1994 đến năm 1996, ông giữ vị trí Phó Giám đốc, Phụ trách du lịch vùng thuộc Hội đồng Du lịch Singapore. <br><br>
                • Trước đó, ông là Trợ lý Trưởng Bộ phận Phát triển Kinh doanh Quốc tế - Hội đồng Phát triển Kinh tế Singapore từ năm 1993 đến năm 1994.
            </p>
        </div>  
    </div>
    <div class="data" data-mem="4">
        <div class="img">
            <Image src={Chap1MemTop4} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Lê Thành Liêm</div>
        <div class="jobs">
            Thành viên HĐQT điều hành <br>
            Thành viên Ủy ban Chiến lược <br>
            Giám đốc Điều hành Tài chính Kiêm Kế toán trưởng
        </div>
        <div class="desc">
            Ông sinh năm 1973, là thành viên HĐQT điều hành từ tháng 4/2017.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Thạc sĩ Tài chính và Thương mại Quốc tế, Đại học Leeds Metropolitan (Anh Quốc) (năm 2012).<br><br>
                • Cử nhân Kinh tế, Đại học Tài chính - Kế toán TP. HCM (năm 1994). <br><br>
                • Chứng chỉ Chương trình đào tạo chuyên sâu Thành viên HĐQT (DCP) - Viện Thành viên HĐQT Việt Nam (VIOD). <br><br>
                • Chứng nhận Chương trình đào tạo Lãnh đạo Toàn cầu (Global Leadership Program-GLP) - Học viện Quản lý PACE.
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Ông có hơn 27 năm kinh nghiệm trong lĩnh vực kế toán-tài chính và đảm nhiệm vị trí Giám đốc Điều hành Tài chính kiêm Kế toán trưởng từ năm 2015. <br><br>
                • Từ năm 2003-2015, ông đảm nhiệm các vị trí quản lý tại Phòng Tài chính - Kế toán của Vinamilk như: Phó Phòng Kế toán, Kế toán trưởng. <br><br>
                • Từ năm 1994 - 2003, ông trải qua nhiều vị trí khác nhau tại Phòng Tài chính - Kế toán của Vinamilk.
            </p>
            <p class="txt-bold label">
                Chức vụ tại các tổ chức khác
            </p>
            <p> 
                • Thành Viên HĐQT, Tổng Công ty Chăn nuôi Việt Nam - CTCP (Vilico). <br><br>
                • Thành viên HĐTV, Del Monte-Vinamilk Dairy Philippines, Inc. <br><br>
                • Phó Chủ tịch Câu lạc bộ Giám đốc Tài chính Việt Nam.
            </p>
        </div>  
    </div>
    <div class="data" data-mem="5">
        <div class="img">
            <Image src={Chap1MemTop5} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Hoàng Ngọc Thạch</div>
        <div class="jobs">
            Thành viên HĐQT không điều hành <br>
            Thành viên Ủy ban Kiểm toán <br>
            Thành viên Ủy ban Lương thưởng
        </div>
        <div class="desc">
            Ông sinh năm 1975, là thành viên HĐQT của Vinamilk từ tháng 4/2021.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Cử nhân chuyên ngành kế toán - Đại học Thương mại Hà Nội.<br><br>
                • Thạc sĩ Quản trị kinh doanh - Trường Kinh tế và Quản lý Solvay thuộc ĐHTH Brussels (Bỉ).
            </p>
            <p class="txt-bold label">
                Quá trình công tác
            </p>
            <p> 
                • Từ tháng 11/2009 - Nay: Phó trưởng Ban Quản lý rủi ro Tổng Công ty Đầu tư và Kinh doanh Vốn Nhà nước (SCIC). <br><br>
                • Từ tháng 9/1999 - 10/2009: Chuyên viên Cổ phần hóa doanh nghiệp Công ty Điện Lực 1.
            </p>
        </div>  
    </div>
    <div class="data" data-mem="6">
        <div class="img">
            <Image src={Chap1MemTop6} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Michael Chye Hin Fah</div>
        <div class="jobs">
            Thành viên HĐQT không điều hành <br>
            Thành viên Ủy ban Kiểm toán <br>
            Thành viên Ủy ban Lương thưởng
        </div>
        <div class="desc">
            Ông sinh năm 1959, là thành viên HĐQT không điều hành từ tháng 4/2017.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Thạc sĩ Kinh doanh (loại Xuất sắc) và Cử nhân Kinh doanh (loại Xuất sắc) chuyên ngành Tài chính - Kế toán, Đại học Massey, New Zealand.<br><br>
                • Thành viên của Singapore Institute of Directors (SID) từ năm 2013.<br><br>
                • Thành viên của Institute of Chartered Secretariats and Administrations (ACIS) từ năm 1990.<br><br>
                • Thành viên Chartered Secretaries Institute of Singapore (CSIS).
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Ông có hơn 15 năm kinh nghiệm tham gia vào HĐQT. Hiện ông là thành viên HĐQT và thành viên tiểu ban Kiểm toán và tiểu ban Quản trị rủi ro, Phát triển bền vững của Tổng CTCP Bia - Rượu - Nước giải khát Sài Gòn (SABECO). Ông còn là thành viên HĐQT dự khuyết của Fraser & Neave Ltd. và là thành viên HĐQT không điều hành tại các công ty trực thuộc tập đoàn ThaiBev.<br><br>
                • Ông có hơn 22 năm kinh nghiệm làm CEO các công ty tài chính và đầu tư. Ngoài ra, ông còn có kinh nghiệm làm việc ở nhiều quốc gia Châu Á. <br><br>
                • Trước đó, ông từng tham gia công tác giảng dạy, là giảng viên trẻ tại New Zealand.
            </p>
            <p class="txt-bold label">
                Chức vụ tại các tổ chức khác
            </p>
            <p> 
                • Tổng Giám đốc, BeerCo Limited.<br><br>
                • Thành viên Ủy ban Điều hành và Ủy ban Kiểm soát Rủi ro, Fraser & Neave Ltd và Fraser & Neave Holdings Berhad. <br><br>
                • Thành viên HĐQT không điều hành tại các tổ chức: Heritas Capital Management Pte Ltd, IMC Pan Asia Alliance Corporation, Prudence Holdings Ltd.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="7">
        <div class="img">
            <Image src={Chap1MemTop7} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">Đỗ Lê Hùng</div>
        <div class="jobs">
            Thành viên HĐQT độc lập <br>
            Chủ tịch Ủy ban Kiểm toán
        </div>
        <div class="desc">
            Ông sinh năm 1969, là thành viên HĐQT độc lập từ tháng 4/2017.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Thạc sĩ Quản lý công và Bằng tốt nghiệp Quản lý công, Trường Hành chính Quốc gia - Cộng hòa Pháp.<br><br>
                • Bằng Thanh tra Kho bạc, Trường Kho bạc Quốc gia - Cộng hòa Pháp.<br><br>
                • Cử nhân Tài chính - Kế toán, Trường Đại học Tài chính - Kế toán Hà Nội (nay là Học viện Tài chính).<br><br>
                • Chứng chỉ Quản lý Tài chính công, Chứng chỉ Kế toán, Kiểm toán.<br><br>
                • Chứng chỉ Chương trình Ủy ban Kiểm toán chuyên sâu được cấp bởi các tổ chức nước ngoài.<br><br>
                • Chứng chỉ Chương trình đào tạo chuyên sâu Thành viên HĐQT (DCP) - Viện Thành viên HĐQT Việt Nam (VIOD).
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                Hiện nay ông đang là Thành viên HĐQT độc lập đồng thời là Chủ tịch Ủy ban Kiểm toán của các công ty đang niêm yết tại Sở Giao dịch Chứng khoán TP. HCM (HOSE) sau đây:<br><br>
                • Công ty Cổ phần Sữa Việt Nam - Vinamilk (VNM).<br><br>
                • Công ty Cổ phần Dược Hậu Giang - DHG Pharma (DHG).<br><br>
                • Công ty Cổ phần Đầu tư & Phát triển Bất động sản An Gia - An Gia Group (AGG).<br><br>
                • Công ty Cổ phần Kho vận Miền Nam - Sotrans Group (STG).<br><br>
                • Công ty Cổ phần Cơ Điện Lạnh - REE Corp (REE).<br><br>
                • Ông có hơn 8 năm kinh nghiệm đảm nhiệm vị trí Giám đốc Kiểm toán và Kiểm soát Nội bộ tại Big C Việt Nam.<br><br>
                • Ông có gần 6 năm kinh nghiệm với vị trí Vụ phó Vụ Kế toán - Kho bạc Nhà nước Việt Nam - Bộ Tài chính.<br><br>
                • Trước đó, ông cũng có hơn 11 năm kinh nghiệm công tác tại Vụ Kế toán - Kho bạc Nhà nước Việt Nam ở cấp Chuyên viên, Chuyên viên chính.<br><br>
                • Ông được trao tặng Bằng khen của Thủ tướng Chính phủ và nhiều Bằng khen của Bộ trưởng Bộ Tài chính từ năm 1997 đến 2006.<br><br>
            </p>
        </div> 
    </div>
    <div class="data" data-mem="8">
        <div class="img">
            <Image src={Chap1MemTop8} alt="" />
        </div>
        <div class="label">Bà</div>
        <div class="name">Đặng Thị Thu Hà</div>
        <div class="jobs">
            Thành viên HĐQT không điều hành <br>
            Thành viên Ủy ban Chiến lược <br>
            Thành viên Ủy ban Nhân sự 
        </div>
        <div class="desc">
            Bà sinh năm 1973, là thành viên HĐQT không điều hành từ tháng 4/2017.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Thạc sĩ Quản trị Kinh doanh (MBA), Viện Quản trị Kinh doanh.<br><br>
                • Cử nhân Kinh tế Quản trị Kinh doanh, Đại học Kinh tế Quốc dân. <br><br>
                • Cử nhân Ngoại ngữ (Tiếng Anh), Đại học Quốc gia Hà Nội.<br><br>
                • Chứng chỉ hành nghề Tư vấn Tài chính Doanh nghiệp, Trung tâm Đào tạo Uỷ ban Chứng khoán Nhà nước.
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Bà bắt đầu công tác trong HĐQT các công ty từ năm 2013. Bà hiện là Chủ tịch HĐQT tại CTCP Dược Hậu Giang.<br><br>
                • Bà đã công tác tại Tổng Công ty Đầu tư và Kinh doanh Vốn Nhà nước (SCIC) được 15 năm và làm việc tại các vị trí khác nhau thuộc Ban Quản lý Vốn đầu tư. Bà hiện đang giữ chức Trưởng Ban Đầu tư 3.<br><br>
                • Trước đó, bà công tác hơn 8 năm trong lĩnh vực tư vấn tài chính và kế toán tuân thủ tại Công ty Cổ phần Chứng khoán Tràng An (2007 - 2008) và Ngân hàng Mizuho Hà Nội (2000 - 2007).<br><br>
                • Bà được trao tặng bằng khen của Bộ trưởng Bộ Tài chính năm 2015, Danh hiệu Chiến sỹ thi đua ngành Tài chính năm 2016.
            </p>
            <p class="txt-bold label">
                Chức vụ tại các tổ chức khác
            </p>
            <p> 
                • Chủ tịch HĐQT, CTCP Dược Hậu Giang.<br><br> 
                • Trưởng Ban Đầu tư 3, SCIC.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="9">
        <div class="img">
            <Image src={Chap1MemTop9} alt="" />
        </div>
        <div class="label">Bà</div>
        <div class="name">Mai Kiều Liên</div>
        <div class="jobs">
            Thành viên HĐQT điều hành <br>
            Chủ tịch Ủy ban Chiến lược <br>
            Thành viên Ủy ban Nhân sự <br>
            Tổng Giám đốc
        </div>
        <div class="desc">
            Bà sinh năm 1953. Bà là Chủ tịch HĐQT từ tháng 11/2003 đến năm 2015 và sau đó vẫn tiếp tục là thành viên HĐQT cho đến nay. Bà là Tổng Giám Đốc (“TGĐ”) Công ty Vinamilk từ tháng 12/1992. 
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Chứng chỉ Quản lý Kinh tế, Đại học Kỹ sư Kinh tế Leningrad, Nga.<br><br>
                • Chứng chỉ Quản lý Chính trị, Học viện Chính trị Quốc gia, Việt Nam. <br><br>
                • Kỹ sư công nghệ chế biến sữa và các sản phẩm từ sữa, Đại học Công nghiệp Chế biến thịt và sữa, Moscow, Nga.<br><br>
                • Chứng chỉ đào tạo về Quản trị Công ty.
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Bà có 30 năm kinh nghiệm trong vai trò Tổng Giám đốc (từ 1992 đến nay), lãnh đạo Vinamilk qua nhiều thời kỳ. Trong suốt quá trình đó, bà đã vinh dự nhận được nhiều giải thưởng trong nước và quốc tế như Huân chương lao động Hạng Nhất do Nhà nước trao tặng (2006); 4 lần được Forbes bình chọn là Một trong 50 nữ doanh nhân quyền lực nhất Châu Á (2012 – 2015); giải thưởng Nhà quản trị doanh nghiệp xuất sắc (2014) do Corporate Governance Asia bình chọn; giải thưởng Nikkei, giải New Zealand Asia cho những đóng góp của bà; giải thưởng “Thành tựu trọn đời” do Forbes lần đầu vinh danh (2018).<br><br>
                • Trước đó, bà có hơn 8 năm công tác (1984 - 1992) với vị trí Phó Tổng Giám đốc Vinamilk, phụ trách lĩnh vực kinh tế.<br><br>
                • Từ năm 1976 đến năm 1983, bà trải qua các vị trí tại nhiều bộ phận khác nhau ở nhiều nhà máy và trở thành Phó Giám đốc Kỹ thuật - nhà máy sữa Thống Nhất năm 1982.<br><br>
                • Bà được trao tặng bằng khen của Bộ trưởng Bộ Tài chính năm 2015, Danh hiệu Chiến sỹ thi đua ngành Tài chính năm 2016.
            </p>
            <p class="txt-bold label">
                Chức vụ tại các tổ chức khác
            </p>
            <p> 
                • Chủ tịch, Công ty TNHH Một Thành Viên Bò Sữa Việt Nam. <br><br> 
                • Chủ tịch, Công ty TNHH Một Thành Viên Bò Sữa Thống Nhất Thanh Hóa. <br><br> 
                • Thành viên HĐQT, Driftwood Dairy Holding Corporation. <br><br> 
                • Chủ tịch, HĐQT Lao-Jagro Development Xiengkhouang Co, Ltd.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="10">
        <div class="img">
            <Image src={Chap1MemTop10} alt="" />
        </div>
        <div class="label">Bà</div>
        <div class="name">Tiêu Yến Trinh</div>  
        <div class="jobs">
            Thành viên HĐQT độc lập <br>
            Chủ tịch Ủy ban Lương thưởng
        </div>
        <div class="desc">
            Bà sinh năm 1974, là thành viên HĐQT của Vinamilk từ tháng 4/2021.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Cử nhân
            </p>
            <p class="txt-bold label">
                Quá trình công tác
            </p>
            <p> 
                • Từ tháng 11/2007 - Nay: Nhà sáng lập & Tổng Giám đốc CTCP Kết Nối Nhân Tài (Talentnet Corp). <br><br>
                • Từ tháng 1/1996 - 9/2007: Trưởng phòng cao cấp bộ phận tư vấn nhân sự Công ty PricewaterhouseCoopers Việt Nam (PwC).
            </p>
            <p class="txt-bold label">
                Chức vụ tại các tổ chức khác
            </p>
            <p> 
                • Thành viên HĐQT độc lập CTCP Vàng Bạc Đá Quý Phú Nhuận (PNJ).
            </p>
        </div> 
    </div>
    <div class="data" data-mem="11">
        <div class="img">
            <Image src={chap1MemBot1} alt="" />
        </div>
        <div class="label">Bà</div>
        <div class="name">BÙI THỊ HƯƠNG</div>
        <div class="jobs">
            Giám đốc Điều hành Nhân sự - Hành chính & Đối ngoại 
        </div>
        <div class="desc">
            Bà sinh năm 1962 và gia nhập Vinamilk năm 2005.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Cử nhân Nga Văn, chuyên ngành Phiên dịch, Đại học Ngoại ngữ Quốc gia Orion, Liên Xô cũ (năm 1985). <br><br>
                • Cử nhân Kinh tế - Quản trị Kinh doanh và Công đoàn, Đại học Công đoàn (năm 2000). <br><br>
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Từ năm 2015, bà là Giám đốc Điều hành Nhân sự - Hành chính & Đối ngoại. <br><br>
                • Suốt gần 10 năm công tác (2005 - 2014), bà trải qua các vị trí: Quản lý Hoạt động Đối ngoại, Giám đốc Đối ngoại tại Bộ phận Đối ngoại - Vinamilk. <br><br>
                • Trước khi gia nhập Vinamilk, bà đã có hơn 17 năm kinh nghiệm công tác tại Công ty Bóng đèn Điện Quang và đảm nhiệm các chức vụ: Phó Phòng Kế hoạch Vật tư, Trưởng Phòng Tiêu thụ, Giám đốc Điều hành Kinh doanh, Phó Tổng Giám đốc Kinh doanh, thành viên HĐQT.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="12">
        <div class="img">
            <Image src={chap1MemBot2} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">NGUYỄN QUỐC KHÁNH</div>
        <div class="jobs">
            Giám đốc Điều hành Nghiên cứu và Phát triển
        </div>
        <div class="desc">
            Ông sinh năm 1964 và gia nhập Vinamilk năm 1988. 
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Kỹ sư, chuyên ngành Kỹ thuật Hoá học và Thực phẩm, Đại học Bách khoa TP. HCM (năm 1987). <br><br>
                • Cử nhân, chuyên ngành Quản trị Kinh doanh, Đại học Kinh tế TP. HCM (năm 1997). <br><br>
                • Cử nhân, chuyên ngành Ngữ văn Anh, Đại học Khoa học Xã hội và Nhân văn TP. HCM (năm 2001).
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Từ năm 2015, ông là Giám đốc Điều hành Nghiên cứu và Phát triển. <br><br>
                • Trong hơn 10 năm (2009 - nay) tại Vinamilk, ông đảm nhiệm các vị trí quản lý cấp cao như Giám đốc Điều hành Chuỗi Cung ứng, Giám đốc Điều hành Sản xuất và Nghiên cứu & Phát triển, và Giám đốc Điều hành Nghiên cứu & Phát triển. <br><br>
                • Trước đây, gần 22 năm công tác (1988 - 2009), ông trải qua nhiều vị trí thuộc các bộ phận khác nhau tại các Nhà máy Vinamilk như Nhà máy sữa Thống Nhất, Cần Thơ,… và trở thành Giám đốc - Nhà máy sữa Cần Thơ năm 2004.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="13">
        <div class="img">
            <Image src={chap1MemBot3} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">NGUYỄN QUANG TRÍ</div>
        <div class="jobs">
            Giám đốc Điều hành Marketing
        </div>
        <div class="desc">
            Ông sinh năm 1971, từng tham gia Vinamilk từ năm 2009 đến 2014 trước khi quay trở lại và được bổ nhiệm Giám đốc Điều hành Marketing từ tháng 7/2021.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Tiến sĩ Quản trị kinh doanh tại Viện Công nghệ Châu Á. <br><br>
                • Thạc sĩ Quản trị Kinh doanh tại Đại học Queensland, Úc. <br><br>
                • Kỹ sư Hóa học & Thực phẩm tại Đại học Bách khoa TP.HCM, Việt Nam.
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Ông được bổ nhiệm làm Giám đốc Điều hành Marketing từ tháng 7/2021 đến nay. <br><br>
                • Từ năm 2019 đến tháng 6/2021, ông làm Giám đốc Marketing của CTCP Masan Meatlife. <br><br>
                • Từ năm 2014 đến 2016, ông làm Giám đốc Marketing tại CTCP Masan Nutri-Science. <br><br>
                • Từ năm 2009 đến 2014, ông làm Giám đốc Marketing ngành hàng tại Vinamilk. <br><br>
                • Trước năm 2009, ông từng đảm nhiệm các vị trí Giám đốc Marketing tại Công ty thực phẩm Masan, Trưởng phòng Marketing ngành hàng tại Dutch Lady Việt Nam và Trợ lý nhãn hiệu tại P&G.
            </p>
            <p class="txt-bold label">
                Chức vụ đang nắm giữ ở các tổ chức khác
            </p>
            <p> 
                • Thành viên HĐQT, Công ty Cổ phần Giống Bò Sữa Mộc Châu.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="14">
        <div class="img">
            <Image src={chap1MemBot4} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">LÊ HOÀNG MINH</div>  
        <div class="jobs">
            Giám đốc Điều hành Sản xuất
        </div>
        <div class="desc">
            Ông sinh năm 1964 và gia nhập Vinamilk năm 1992.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Kỹ sư điện - Điều khiển tự động, Trường Đại học Bách Khoa Hà Nội.
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Ông được bổ nhiệm làm Giám đốc Điều hành Sản xuất từ tháng 2/2022 đến nay. <br><br>
                • Từ năm 2009 đến 2022, ông có kinh nghiệm đảm nhận các vị trí quản lý tại khối Dự án và khối Sản xuất của Vinamilk: Giám đốc Kỹ thuật nhà máy, Giám đốc quản lý Tài sản Khối Sản xuất, Giám đốc kỹ thuật cơ điện khối Dự án, Giám đốc Kỹ thuật cơ điện và Xây dựng Khối Sản xuất, Giám đốc sản xuất nhà máy, Giám đốc Nhà máy. <br><br>
                • Trước đó, từ năm 1992 đến 2009, ông trải qua nhiều vị trí khác nhau tại các Nhà máy và khối Dự án: Kỹ sư điện, Phó quản đốc Nhà máy, Trưởng dự án mở rộng Nhà máy Sữa Tiên Sơn.
            </p>
            <p class="txt-bold label">
                Chức vụ đang nắm giữ ở các tổ chức khác
            </p>
            <p> 
                • Thành viên HĐQT, Công ty Cổ phần Giống Bò Sữa Mộc Châu.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="15">
        <div class="img">
            <Image src={chap1MemBot5} alt="" />
        </div>
        <div class="label">Ông</div>
        <div class="name">ĐOÀN QUỐC KHÁNH</div>
        <div class="jobs">
            Giám đốc Điều hành Phát triển Vùng Nguyên Liệu
        </div>
        <div class="desc">
            Ông sinh năm 1974 và gia nhập Vinamilk năm 1999.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Trình độ chuyên môn
            </p>
            <p>
                • Kỹ sư chuyên ngành Tự động hóa, trường Đại Học Tổng Hợp Công Nghệ Sinh Học Ứng Dụng Moscow (năm 1998). <br><br>
                • Ông thuộc đợt du học sinh đầu tiên do Vinamilk cử đi học theo chương trình đào tạo, chuẩn bị đội ngũ.
            </p>
            <p class="txt-bold label">
                Kinh nghiệm
            </p>
            <p> 
                • Ông được bổ nhiệm vào vị trí Giám đốc điều hành Phát triển Vùng nguyên liệu từ tháng 9/2023. <br><br>
                • Từ năm 2016 đến 2023, ông là Tổng Giám đốc Angkormilk, công ty con do Vinamilk sở hữu 100% tại Campuchia, và đã giúp Angkormilk đạt mức tăng trưởng ấn tượng trong nhiều năm liên tiếp. <br><br>
                • Trước đó, từ năm 1999 đến 2016, ông trải qua nhiều vị trí khác nhau tại các Nhà máy và Khối Dự án bao gồm: Trưởng dự án Nhà máy sữa Angkor tại Campuchia; Trưởng ban Kỹ thuật, Tổ trưởng Tổ Điện - Ban Cơ Điện và điều phối dự án lắp đặt dây chuyền rót sữa bột tại Nhà máy sữa Dielac; phụ trách kỹ thuật, mua sắm, lắp đặt, đưa vào vận hành thiết bị dự án Nhà máy cà phê Sài Gòn.
            </p>
            <p class="txt-bold label">
                Chức vụ đang nắm giữ ở các tổ chức khác
            </p>
            <p> 
                • Tổng Giám đốc, Tổng Công ty Chăn nuôi Việt Nam - CTCP (Vilico). <br><br>
                • Thành viên HĐQT, Công ty Angkormilk.
            </p>
        </div>
    </div>
</div>
<style lang="scss">
    .hidden-data {
        display: none;
    }
    .popup {
        opacity: 0;
        pointer-events: none;
        transition: opacity 600ms ease;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        &.active {
            opacity: 1;
            pointer-events: auto;
            .popup-wrap {
                transform: none;
            }
        }
        &-overlay {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,.7);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-wrap {
            border-radius: 2rem;
            background-color: var(--cl-bg);
            padding-block: 2rem;
            padding-inline: 2.3rem;
            width: 99.4rem;
            max-width: calc(100vw - 16rem);
            height: 57.8rem;
            max-height: calc(100vh - 12rem);
            position: relative;
            transform: translateY(20%);
            transition: transform 600ms ease;
        }
        &-inner {
            height: 100%;
            display: grid;
            grid-template-columns: 4.66fr 5.34fr;
            column-gap: 5.9rem;
            position: relative;
            z-index: 1;
            color: var(--cl-txt);
            .box-left {
                height: 100%;
                .img-wrap {
                    border-radius: .8rem;
                    overflow: hidden;
                    margin-bottom: 1.8rem;
                    background-color: var(--cl-blue-2);
                }
                .name-wrap {
                    color: var(--cl-blue);
                    margin-bottom: 1rem;
                    .label {
                        margin-bottom: -.2rem;
                    }
                }
                .jobs {
                    color: var(--cl-blue);
                    margin-bottom: 2rem;
                }
                .line-dash {
                    margin-bottom: 2rem;
                }
            }
            .box-right {
                height: 100%;
                overflow-y: auto;
                padding-right: 3rem;
                .box-richtxt {
                    p {
                        margin-bottom: 1.7rem;
                    }
                    .txt-bold {
                        margin-top: 2.2rem;
                        margin-bottom: 1.7rem;
                    }
                }
            }
        }
        &-close {
            position: absolute;
            z-index: 2;
            top: .5rem;
            right: .5rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: solid max(.1rem, 1px) var(--cl-blue);
            color: var(--cl-blue);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 400ms ease;
            background-color: var(--cl-bg);
            &:hover {
                background-color: var(--cl-blue);
                color: var(--cl-bg);
            }
        }
    }
</style>
<script>
    document.querySelector('.popup-close').addEventListener('click', function(e) {
        e.preventDefault()
        document.querySelector('.popup').classList.remove('active')
    })
    let allMembers = document.querySelectorAll('[data-popup]');
    let allData = document.querySelectorAll('.hidden-data .data');
    let popup = document.querySelector('.popup-wrap')
    console.log(popup)
    allMembers.forEach((el, idx) => {
        el.addEventListener('click', function(e) {
            e.preventDefault()
            let target = parseInt(el.getAttribute('data-mem')) - 1;
            let data = allData[target]
            popup.querySelector('.box-left .img-wrap').innerHTML = data.querySelector('.img').innerHTML;
            popup.querySelector('.box-left .label').innerHTML = data.querySelector('.label').innerHTML;
            popup.querySelector('.box-left .name').innerHTML = data.querySelector('.name').innerHTML;
            popup.querySelector('.box-left .jobs').innerHTML = data.querySelector('.jobs').innerHTML;
            popup.querySelector('.box-left .desc').innerHTML = data.querySelector('.desc').innerHTML;
            popup.querySelector('.box-right .box-richtxt').innerHTML = data.querySelector('.richtxt').innerHTML;
            document.querySelector('.popup').classList.add('active')
        })
    })
</script>