---
import { Image } from "astro:assets";
import Chap1MemTop1 from '../../assets/Chap1MemTop1.jpg'
import Chap1MemTop2 from '../../assets/Chap1MemTop2.jpg'
import Chap1MemTop3 from '../../assets/Chap1MemTop3.jpg'
import Chap1MemTop4 from '../../assets/Chap1MemTop4.jpg'
import Chap1MemTop5 from '../../assets/Chap1MemTop5.jpg'
import Chap1MemTop6 from '../../assets/Chap1MemTop6.jpg'
import Chap1MemTop7 from '../../assets/Chap1MemTop7.jpg'
import Chap1MemTop8 from '../../assets/Chap1MemTop8.jpg'
import Chap1MemTop9 from '../../assets/Chap1MemTop9.jpg'
import Chap1MemTop10 from '../../assets/Chap1MemTop10.jpg'
import chap1MemBot1 from '../../assets/chap1MemBot1.jpg' 
import chap1MemBot2 from '../../assets/chap1MemBot2.jpg' 
import chap1MemBot3 from '../../assets/chap1MemBot3.jpg' 
import chap1MemBot4 from '../../assets/chap1MemBot4.jpg' 
import chap1MemBot5 from '../../assets/chap1MemBot5.jpg'
---
<div class="popup">
    <div class="popup-overlay">
        <div class="popup-wrap">
            <div class="popup-inner">
                <div class="box-left">
                    <div class="img-wrap">
                        <Image src={Chap1MemTop2} alt="" />
                    </div>
                    <div class="name-wrap">
                        <div class="heading txt-24 txt-bold label">
                            Ông
                        </div>
                        <div class="heading txt-36 txt-bold name">
                            Nguyễn Hạnh Phúc
                        </div>
                    </div>
                    <div class="txt txt-14 jobs">
                        Independent Chairman <br>
                        Head of the Nomination Committee <br>
                        Member of Remuneration Committee
                    </div>
                    <div class="line line-dash"></div>
                    <p class="txt txt-14 desc">
                        Ông sinh năm 1959. Ông là thành viên HĐQT của Vinamilk và đảm nhiệm vị trí Chủ tịch HĐQT từ tháng 4/2022. Ông có nhiều năm Experience trong lĩnh vực quản lý Nhà nước.
                    </p>
                </div>
                <div class="box-right">
                    <div class="txt txt-14 box-richtxt">
                        <p class="txt-bold label">
                            Professional qualifications
                        </p>
                        <p>
                            Kỹ sư xây dựng, Trường Đại học Kiến trúc Hà Nội (năm 1981).
                        </p>
                        <p class="txt-bold label">
                            Experience
                        </p>
                        <p> 
                            • Từ năm 2011 đến 2021, ông là UVTW Đảng và nắm giữ nhiều vị trí quan trọng khác trong Quốc hội như Uỷ viên Đảng đoàn Quốc hội, Uỷ viên Uỷ ban Thường vụ Quốc hội, Tổng thư ký Quốc hội khóa XII - XIV, Chủ nhiệm văn phòng Quốc hội, Bí thư Đảng uỷ cơ quan văn phòng Quốc hội, Chánh văn phòng Đảng đoàn Quốc hội, Chánh văn phòng Hội đồng bầu cử Quốc gia, Chủ tịch nhóm Nghị sĩ Hữu nghị Việt Nam - Australia. <br><br>
                            • Từ năm 2005 đến 2011, ông là Bí thư Tỉnh uỷ Tỉnh Uỷ tỉnh Thái bình và nắm giữ nhiều chức vụ quan trọng khác tại tỉnh Thái Bình như Chủ tịch HĐND tỉnh, Trưởng đoàn ĐBQH khoá XII tỉnh Thái Bình tại Đại hội đại biểu toàn quốc lần thứ XI của Đảng, thành viên Ban chấp hành Trung ương Đảng, ĐBQH khoá XII. <br><br>
                            • Từ 2003 đến 2005, ông giữ các chức vụ Thường vụ Tỉnh uỷ, Bí thư thành ủy, chủ tịch HĐND thành phố Thái Bình. <br><br>
                            • Trước năm 2003, ông từng công tác tại Sở Công nghiệp Thái Bình, Sở Xây dựng Thái Bình, Công ty gạch ốp lát Thái Bình và Công trường xây dựng phía Nam Thái Bình.
                        </p>
                        <p class="txt-bold label">
                            Awards
                        </p>
                        <p> 
                            • Huân chương Độc lập hạng Nhì. <br>
                            • Huân chương Lao động hạng Nhất. <br>
                            • Huân chương Lao động hạng Ba.<br>
                            • Huân chương Đại đoàn kết dân tộc.<br>
                            • Huân chương Tự do hạng Nhì của Nhà nước CHDCND Lào.<br>
                            • Bằng khen của Thủ tướng Chính phủ.
                        </p>
                    </div>
                </div>
            </div>
            <a href="#" class="popup-close">
                <div class="ic ic-16">
                    <svg width="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6567 13.6572L2.34303 2.34352" stroke="currentColor" stroke-width=".2rem" stroke-linecap="round"/>
                        <path d="M2.34326 13.6572L13.657 2.34352" stroke="currentColor" stroke-width=".2rem" stroke-linecap="round"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="hidden-data">
    <div class="data" data-mem="1">
        <div class="img">
            <Image src={Chap1MemTop1} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Alain Xavier Cany</div>
        <div class="jobs">
            Non-Executive BOD member <br>
            Member of Strategy Committee <br>
            Member of Audit Committee
        </div>
        <div class="desc">
            Born in 1949, he has been a non-Executive BOD member since March 2018.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                Baccalauréat - Academie de Paris.
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • He held many executive positions at various financial corporations: <br><br>
                • From 2007 to 2023  he has been Chief Representative - Group Country Chairman of Jardine Matheson Ltd. (Vietnam). <br><br>
                • From 2000 to 2003, he was Head of European Business Development - Asia Pacific at HSBC Asia Pacific Head Office and then became President and CEO of HSBC Vietnam from 2003 to 2007. <br><br>
                • From 1969 to 2000, he had held various executive positions at Credit Commercial de France and Banque Worms in France and Hong Kong. <br><br>
                • In addition, he also held some important positions including Advisor for Foreign Trade to the French Government and Chairman of EuroCham, Vietnam Business Forum and Director of Asia Commercial Bank. <br><br>
                • He was awarded Officer of The French National Merit Order and Knight of The Legion of Honor by the President of France and the Friendship Medal by the President of The Socialist Republic of Vietnam. <br><br>
            </p>
        </div>
    </div>
    <div class="data" data-mem="2">
        <div class="img">
            <Image src={Chap1MemTop2} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Nguyen Hanh Phuc</div>
        <div class="jobs">
            Independent Chairman <br>
            Head of the Nomination Committee <br>
            Member of Remuneration Committee
        </div>
        <div class="desc">
            He was born in 1959. He has been a member of the Board of Directors of Vinamilk and has been the Chairman since April 2022. He has many years of experience in the field of State management.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                Civil Engineer, Hanoi University of Architecture 1976-1981.
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • From 2011 to 2021, he was a member of the National Assembly (XI session, XII session), Member of the National Assembly of the XII, XIII, XIV, and held many other important positions in the National Assembly such as Member of the National Assembly Party Union, Member of the National Assembly Standing Committee, General Secretary of the National Assembly, Chairman of the National Assembly Office (XIII session, XIV), Secretary of the Party Committee of the National Assembly Office, Chief of the Party Office of the National Assembly, Chief of the National Election Council, Chairman of the Vietnam-Australia Friendship Parliamentary Group. <br><br>
                • From 2005 to 2011, he was Secretary of the Provincial Party Committee of Thai Binh Province and held many other important positions such as Deputy Permanent Secretary of Thai Binh Province, Chairman of the Provincial People's Council, Secretary of the Provincial People's Committee, Chairman of the Provincial People's Committee, Head of the XII National People's Delegation of Thai Binh Province. <br><br>
                • From 2003 to 2005, he held the positions of Standing Committee of the Provincial Committee, Secretary of the Party Committee, Chairman of the People's Council of Thai Binh City. <br><br>
                • Before 2003, he worked as Director of Thai Binh Department of Industry, Deputy Director of Department of Construction, Deputy Director of Construction Management Department, Director of Thai Binh Ceramic Tile Company.
            </p>
            <p class="txt-bold label">
                Awards
            </p>
            <p> 
                • Second Independence Medal. <br>
                • First Labor Medal. <br>
                • Third Labor Medal.<br>
                • Great National Unity Medal.<br>
                • Second Freedom Medal of the Lao PDR.<br>
                • Prime Minister's Certificate of Merit.
            </p>
        </div>  
    </div>
    <div class="data" data-mem="3">
        <div class="img">
            <Image src={Chap1MemTop3} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Lee Meng Tat</div>        
        <div class="jobs">
            Non-Executive BOD member <br>
            Member of Strategy Committee <br>
            Member of Nomination Committee
        </div>
        <div class="desc">
            Born in 1963, he has been a non-Executive BOD member since September 2016.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Master in Business Administration (MBA), Imperial College, London (1997). <br><br>
                • Bachelor of Engineering (Mechanical), National University of Singapore (1988). <br><br>
                • Advanced Management Programme (AMP), Harvard Business School (2005). <br><br>
                • International Directors Programme (IDP), INSEAD (2017). <br><br>
                • Senior Accredited Director, Singapore Institute of Directors (SID) (2024).
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • He has many years of experience in corporate and economics management at both private and public institutions. <br><br>
                • In 23 years (1999 - 2022), he held top management roles at consumer goods and tourism companies such as Fraser & Neave Ltd, Heineken-APB (China), Management Services Co. Ltd, Asia Pacific Breweries Ltd, Wildlife Reserves Singapore Group. <br><br>
                • From 1994 to 1996, he was Deputy Director, Regional Tourism, Singapore Tourism Board. <br><br>
                • Previously, he was Assistant Head, International Business Development, Singapore Economic Development Board from 1993 to 1994.
            </p>
        </div>  
    </div>
    <div class="data" data-mem="4">
        <div class="img">
            <Image src={Chap1MemTop4} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Le Thanh Liem</div>
        <div class="jobs">
            Executive BOD member <br>
            Member of Strategy Committee <br>
            Chief Financial Officer cum. Chief Accountant
        </div>
        <div class="desc">
            Born in 1973, he has been an Executive BOD member since April 2017.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Master in Finance and International Business, Leeds Metropolitan University, UK (2012).<br><br>
                • Bachelor in Economics, University of Finance - Accounting, Ho Chi Minh, Vietnam (1994). <br><br>
                • Certificate in Advanced Director Certification Program (DCP) conferred by Vietnam Institute of Directors (VIOD). <br><br>
                • Certificate of Global Leadership Program (GLP), PACE Institute of Management.
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • He has over 27 years of experience in the field of finance and accounting and has held the position of Chief Financial Officer cum Chief Accountant since 2015. <br><br>
                • From 2003 to 2015, he held managerial positions at Vinamilk's Finance - Accounting Division including Deputy Head of Accounting and Chief Accountant. <br><br>
                • From 1994 to 2003, he held different positions at Finance - Accounting Division of Vinamilk.
            </p>
            <p class="txt-bold label">
                Position at other entities
            </p>
            <p> 
                • BOD member, Vietnam Livestock Corporation JSC (Vilico). <br><br>
                • BOD member, Del Monte - Vinamilk Dairy, Philippines, Inc. <br><br>
                • Vice Chairman, Vietnam CFO Club.
            </p>
        </div>  
    </div>
    <div class="data" data-mem="5">
        <div class="img">
            <Image src={Chap1MemTop5} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Hoang Ngoc Thach</div>
        <div class="jobs">
            Non-Executive BOD member <br>
            Member of Audit Committee <br>
            Member of Remuneration Committee
        </div>
        <div class="desc">
            Born in 1975, he has been a non-executive BOD member since April 2021.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Bachelor of Accounting - Hanoi University of Commerce.<br><br>
                • Master of Business Administration - Solvay School of Economics and Management, University of Brussels (Belgium).
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • Since November 2009: Deputy Head of Risk Management Department of State Capital Investment Corporation (SCIC). <br><br>
                • From September 1999 to October 2009: Enterprise equitization specialist of Power Company 1.
            </p>
        </div>  
    </div>
    <div class="data" data-mem="6">
        <div class="img">
            <Image src={Chap1MemTop6} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Michael Chye Hin Fah</div>
        <div class="jobs">
            Non-Executive BOD member <br>
            Member of Audit Committee <br>
            Member of Remuneration Committee
        </div>
        <div class="desc">
            Born in 1959, he has been a non-Executive BOD member since April 2017.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • MBS (with Distinction in Accounting and Finance) and BBS (with First Class Honors in Accounting and Finance), Massey University, New Zealand.<br><br>
                • Fellow of Singapore Institute of Directors (SID) since 2013. <br><br>
                • Associate Member of Institute of Singapore Chartered Accountants (ISCA) since 2003.<br><br>
                • Member of Institute of Chartered Secretaries & Administrators (ACIS) since 1990. <br><br>
                • Associate Member of Chartered Secretaries Institute of Singapore (CSIS).
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • He has over 15 years of experience as a company director. He is currently a member of the Board of Directors, Audit Committee and Sustainability and Risk Management Committee of Saigon Beer- Alcohol-Beverage Corporation. He is also an Alternate Director at Fraser and Neave Limited and a director of many companies in ThaiBev Group.<br><br>
                • For over 22 years, he held senior positions at several financial and investment companies and has extensive international experience in many Asian countries. <br><br>
                • Prior to these roles, he was a university lecturer in New Zealand.
            </p>
            <p class="txt-bold label">
                Position at other entities
            </p>
            <p> 
                • CEO, BeerCo Limited.<br><br>
                • Member of the Board Executive Committee and Risk Management Committee of Fraser and Neave Ltd and Fraser & Neave Holdings Berhad. <br><br>
                • Non-Executive BOD member at: Heritas Capital Management Pte Ltd, IMC Pan Asia Alliance Corporation, Prudence Holdings Ltd.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="7">
        <div class="img">
            <Image src={Chap1MemTop7} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Do Le Hung</div>
        <div class="jobs">
            Independent BOD member <br>
            Head of Audit Committee
        </div>
        <div class="desc">
            Born in 1969, he has been an Independent BOD member since April 2017.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Master of Public Finance and Degree of Public Management, National School of Administration, France.<br><br>
                • Certificate in Treasury Inspection, National Treasury School, France.<br><br>
                • Bachelor of Finance - Accounting, University of Finance and Accountancy (Vietnam Academy of Finance now), Hanoi.<br><br>
                • Certificates in Public Financial Management, Accounting, Auditing.<br><br>
                • Certificates in Advanced Auditing conferred by international organizations.<br><br>
                • Certificate in Advanced Director Certification Program (DCP) conferred by Vietnam Institute of Directors (VIOD).
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                He is currently an independent member of the BOD and Audit Committee of the following companies listed on HOSE:<br><br>
                • Vietnam Dairy Products JSC (VNM).<br><br>
                • Hau Giang Pharmaceutical JSC (DHG).<br><br>
                • An Gia Real Estate Investment and Development JSC - An Gia Group (AGG).<br><br>
                • South Logistics JSC - Sotrans Group (STG).<br><br>
                • REE Corp (REE).<br><br>
                • He has been a BOD member of VIOD since April 2018.<br><br>
                • He had more than 8 years of working experience as Director of Auditing and Internal Control of Big C Vietnam.<br><br>
                • He had nearly 6 years of working experience as Deputy Head of Accounting - State Treasury of Vietnam - Ministry of Finance.<br><br>
                • Previously, he had more than 11 years of working at Accounting - State Treasury of Vietnam at Specialist and Executive level.<br><br>
                • He received merit certificates from Prime Minister and many from the Ministry of Finance from 1997 to 2006.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="8">
        <div class="img">
            <Image src={Chap1MemTop8} alt="" />
        </div>
        <div class="label">Ms.</div>
        <div class="name">Dang Thi Thu Ha</div>
        <div class="jobs">
            Non-Executive BOD member <br>
            Member of Strategy Committee <br>
            Member of Nomination Committee 
        </div>
        <div class="desc">
            Born in 1973, she has been a non-Executive BOD member since April 2017.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Master of Business Administrations (MBA), Institute of Business Administration<br><br>
                • Bachelor of Business Administrations, National Economics University. <br><br>
                • Bachelor of English Linguistics, Vietnam National University, Hanoi.<br><br>
                • Certificate of Corporate Finance Consulting, Securities Research and Training Center.
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • She has served as a BOD member in companies since 2013. She is currently a Chairwoman at Hau Giang Pharmaceutical JSC.<br><br>
                • She has been working in the Investment Department of SCIC for 15 years at different positions. She is currently Head of Investment Department No.3.<br><br>
                • Previously, she had 8 years of working experience in the field of Financial Consulting and Compliance Accounting at Trang An Securities JSC (2007 - 2008) and Mizuho Bank Hanoi (2000 - 2007).<br><br>
                • She was awarded a Merit Certificate from the Minister of Finance in 2015 and a Merit Award in Finance industry for her achievements in 2016.
            </p>
            <p class="txt-bold label">
                Position at other entities
            </p>
            <p> 
                • Chairwoman, Hau Giang Pharmaceutical JSC.<br><br> 
                • Head of Investment Department No.3, SCIC.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="9">
        <div class="img">
            <Image src={Chap1MemTop9} alt="" />
        </div>
        <div class="label">Ms.</div>
        <div class="name">Mai Kieu Lien</div>
        <div class="jobs">
            Executive BOD member <br>
            Head of Strategy Committee <br>
            Member of Nomination Committee <br>
            Chief Executive Officer (“CEO”)
        </div>
        <div class="desc">
            Born in 1953, she held the position of Chairwoman from November 2003 to 2015 and has been an Executive BOD member from 2015 to present. She has been the CEO since December 1992.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Certificate of Economics Management, Leningrad Institute of Engineering and Economics, Russia.<br><br>
                • Certificate of Government Management, National Academy of Politics, Vietnam. <br><br>
                • Engineer of Milk Dairy Processing technology.<br><br>
                • Moscow University of Meat and Dairy Processing (currently known as Moscow State University of Applied Biotechnology).<br><br>
                • Certificate of Corporate Governance.
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • She has more than 30 years of experience in the role of CEO (from 1992 to present) leading Vinamilk through many tenures. She has been honorably awarded many local and international prizes, such as First-class Labour Medal (2006); Asia's Top 50 Most Powerful Businesswomen awarded by Forbes for 4 consecutive times (2012 - 2015); The Excellent Businesswomen (2014) by Corporate Governance Asia; Nikkei and New Zealand prizes for all her brilliant contributions; and Lifetime Achievement award honored by Forbes for the first time (2018).<br><br>
                • Previously, she had more than 8 years (1984 - 1992) in the role of Deputy CEO - Economics at Vinamilk.<br><br>
                • From 1976 to 1983, she had experienced many positions in many different departments and then became Deputy Technical Director at Thong Nhat dairy factory in 1982.
            </p>
            <p class="txt-bold label">
                Position at other entities
            </p>
            <p> 
                • Chairwoman, Vietnam Dairy Cow One Member Co., Ltd. <br><br> 
                • Chairwoman, Thong Nhat -Thanh Hoa Dairy Cow One Member Co., Ltd. <br><br> 
                • BOD member, Driftwood Dairy Holding Corporation. <br><br> 
                • Chairwoman, Lao-Jagro Development XiengKhouang Co., Ltd. <br><br> 
                • BOD member, Miraka Holdings Limited. <br><br> 
                • Chairwoman, Vietnam Livestock Corporation JSC. <br><br> 
                • Chairwoman, Moc Chau Dairy Cattle Breeding JSC. <br><br> 
                • Chairwoman, Del Monte - Vinamilk Dairy Philippines, Inc.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="10">
        <div class="img">
            <Image src={Chap1MemTop10} alt="" />
        </div>
        <div class="label">Ms.</div>
        <div class="name">Tieu Yen Trinh</div>  
        <div class="jobs">
            Non-executive BOD member <br>
            Head of Remuneration Committee
        </div>
        <div class="desc">
            Born in 1974, she has been a non-executive BOD member since April 2021.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Bachelor.
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • Since November 2007: Founder & CEO of Connecting Human Resources JSC (Talentnet Corp). <br><br>
                • From January 1996 to September 2007: Senior Manager of Human Resources Consultancy Department at PricewaterhouseCoopers Vietnam (PwC).
            </p>
            <p class="txt-bold label">
                Position at other entities
            </p>
            <p> 
                • Independent BOD member at Phu Nhuan Jewelry JSC.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="11">
        <div class="img">
            <Image src={chap1MemBot1} alt="" />
        </div>
        <div class="label">Ms.</div>
        <div class="name">Bui Thi Huong</div>
        <div class="jobs">
            Executive Director - Human Resources, <br>Administration and Public Relations
        </div>
        <div class="desc">
            Born in 1962, she joined Vinamilk in 2005.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Bachelor of Russian language, major in interpretation, Orion Linguistics University, former Soviet Union (1985). <br><br>
                • Bachelor of Economics - Business Administration and Trade Union, Trade Union University (2000). <br><br>
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • She has been Executive Director - Human Resources, Administration and Public Relations since 2015. <br><br>
                • During over 10 years working at Vinamilk (2005 - 2014), she had held such positions as Public Relations Manager, Public Relations Director. <br><br>
                • Prior to joining Vinamilk, she had been working more than 17 years at Dien Quang Lamp Joint Stock Company, holding different executive positions such as Deputy Head of Material Planning Department, Head of Sales Department, Executive Director - Sales, Vice President of Sales, and a BOD member.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="12">
        <div class="img">
            <Image src={chap1MemBot2} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Nguyen Quoc Khanh</div>
        <div class="jobs">
            Executive Director - Production
        </div>
        <div class="desc">
            Born in 1964, he joined Vinamilk in 1988.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Engineer of Food and Chemistry, Ho Chi Minh city University of Technology, Vietnam (1987). <br><br>
                • Bachelor of Business Administration, University of Economics, Ho Chi Minh city, Vietnam (1997). <br><br>
                • Bachelor of English Linguistics and Literature, University of Social Science and Humanity, Ho Chi Minh city, Vietnam (2001).
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • Since 2015, he has been Executive Director - Research and Development. <br><br>
                • Over 10 years (2009 - present), he has held many senior management positions at Vinamilk, such as Executive Director - Supply Chain, Executive Director - Production and Research and Development, and Executive Director - Research and Development. <br><br>
                • Previously, in 22 years of working (1988 - 2009), he experienced different positions at Vinamilk's factories, for instance: Thong Nhat Dairy Factory, Can Tho Dairy Factory and became Director of Can Tho Dairy Factory in 2004.
            </p>
            <p class="txt-bold label">
                Positions at other entities
            </p>
            <p>
                • BOD member, Asia Coconut Processing JSC. <br><br>
                • BOD member, Driftwood Dairy Holding Corporation. <br><br>
                • Independent BOD member, Binh Thanh Import Export Production & Trade JSC (GILIMEX). <br><br>
                • Independent BOD member, Bamboo Capital JSC.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="13">
        <div class="img">
            <Image src={chap1MemBot3} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Nguyen Quang Tri</div>
        <div class="jobs">
            Executive Director - Marketing
        </div>
        <div class="desc">
            Born in 1971, he had joined Vinamilk for the period of 2009-2014 before he made a comeback as a Marketing executive director in July, 2021.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Doctor of Business Administration at Asian Institute of Technology. <br><br>
                • Master of Business Administration at the University of Queensland, Australia. <br><br>
                • Chemical & Food Engineer at Ho Chi Minh City University of Technology, Vietnam.
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • He has been appointed as Marketing Executive Director since July 2021. <br><br>
                • From 2019 to June 2021, he worked as Marketing Director of Masan MEATLife Corporation. <br><br>
                • From 2014 to 2016, he worked as Marketing Director at Masan Nutri-Science JSC. <br><br>
                • From 2009 to 2014, he worked as the Marketing Director at Vinamilk. <br><br>
                • Before 2009, he held the positions of Marketing Manager at Masan Food Corporation, Head of Marketing Department at Dutch Lady Vietnam and Assistant Brand Manager at P&G.
            </p>
            <p class="txt-bold label">
                Position at other entities
            </p>
            <p> 
                • BOD member, Moc Chau Dairy Cattle Breeding JSC.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="14">
        <div class="img">
            <Image src={chap1MemBot4} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Le Hoang Minh</div>  
        <div class="jobs">
            Executive Director - Production
        </div>
        <div class="desc">
            Born in 1964, he joined Vinamilk in 1992.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Mechatronics Engineering - Control and Automation, Ha Noi University of Science and Technology.
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • He has been appointed as Executive Director of Production since February 2022. <br><br>
                • During 13 years (2009-2022), he has experienced in management positions at Vinamilk such as: Technical Director of Factory, Asset Management Director, Technical and Construction Director of Production Department, Technical Director of Project Department, Production Planning Director and Director of Factory. <br><br>
                • From 1992 to 2009, he had held many different positions in the Production Department and Project Department such as: Technical Engineer, Production Assistant Manager, Project Manager of Tien Son Dairy Factory expansion project.
            </p>
            <p class="txt-bold label">
                Position at other entities
            </p>
            <p> 
                • BOD member, Moc Chau Dairy Cattle Breeding JSC.
            </p>
        </div> 
    </div>
    <div class="data" data-mem="15">
        <div class="img">
            <Image src={chap1MemBot5} alt="" />
        </div>
        <div class="label">Mr.</div>
        <div class="name">Doan Quoc Khanh</div>
        <div class="jobs">
            Acting Executive Director - Dairy Farm Development
        </div>
        <div class="desc">
            Born in 1974, he joined Vinamilk in 1999.
        </div>
        <div class="richtxt">
            <p class="txt-bold label">
                Professional qualifications
            </p>
            <p>
                • Engineer in Automation, Moscow State University of Applied Biotechnology (1998). <br><br>
                • He belonged to the first batch of international students sent by Vinamilk to study under the training program and prepare the leadership team.
            </p>
            <p class="txt-bold label">
                Experience
            </p>
            <p> 
                • He has been appointed to the position of Executive Director - Dairy Farm Development since September 2023. <br><br>
                • From 2016 to 2023, he is the CEO of Angkormilk, a subsidiary 100% owned by Vinamilk in Cambodia, and has helped Angkormilk achieve impressive growth for many consecutive years. <br><br>
                • Previously, from 1999 to 2016, he held various positions at factories and projects including: Project leader of Angkor Dairy Factory in Cambodia; Head of Technical Department, Head of Electrical Team - M&E Department and coordinate the project of installing powdered milk filling line at Dielac Dairy Factory; in charge of engineering, procurement, installation, putting into operation equipment of Saigon Coffee Factory project.
            </p>
            <p class="txt-bold label">
                Positions at other entities
            </p>
            <p> 
                • CEO, Vietnam Livestock Corporation - JSC. <br><br>
                • BOD member, Angkor Dairy Products Co., Ltd.
            </p>
        </div>
    </div>
</div>
<style lang="scss">
    .hidden-data {
        display: none;
    }
    .popup {
        opacity: 0;
        pointer-events: none;
        transition: opacity 600ms ease;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        &.active {
            opacity: 1;
            pointer-events: auto;
            .popup-wrap {
                transform: none;
            }
        }
        &-overlay {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,.7);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-wrap {
            border-radius: 2rem;
            background-color: var(--cl-bg);
            padding-block: 2rem;
            padding-inline: 2.3rem;
            width: 99.4rem;
            max-width: calc(100vw - 16rem);
            height: 57.8rem;
            max-height: calc(100vh - 12rem);
            position: relative;
            transform: translateY(20%);
            transition: transform 600ms ease;
            @media screen and (max-width: 767px) {
                padding: 0;
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                border-radius: 0;
            }
        }
        &-inner {
            height: 100%;
            display: grid;
            grid-template-columns: 4.66fr 5.34fr;
            column-gap: 5.9rem;
            position: relative;
            z-index: 1;
            color: var(--cl-txt);
            @media screen and (max-width: 767px) {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                padding-block: 4.5rem;
                padding-inline: 2rem;
            }
            .box-left {
                height: 100%;
                @media screen and (max-width: 767px) {
                    height: auto;
                }
                .img-wrap {
                    border-radius: .8rem;
                    overflow: hidden;
                    margin-bottom: 1.8rem;
                    background-color: var(--cl-blue-2);
                }
                .name-wrap {
                    color: var(--cl-blue);
                    margin-bottom: 1rem;
                    .label {
                        margin-bottom: -.2rem;
                    }
                }
                .jobs {
                    color: var(--cl-blue);
                    margin-bottom: 2rem;
                }
                .line-dash {
                    margin-bottom: 2rem;
                }
            }
            .box-right {
                height: 100%;
                overflow-y: auto;
                padding-right: 3rem;
                @media screen and (max-width: 767px) {
                    overflow: unset;
                    height: auto;
                }
                .box-richtxt {
                    p {
                        margin-bottom: 1.7rem;
                    }
                    .txt-bold {
                        margin-top: 2.2rem;
                        margin-bottom: 1.7rem;
                    }
                }
            }
        }
        &-close {
            position: absolute;
            z-index: 2;
            top: .5rem;
            right: .5rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: solid max(.1rem, 1px) var(--cl-blue);
            color: var(--cl-blue);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 400ms ease;
            background-color: var(--cl-bg);
            &:hover {
                background-color: var(--cl-blue);
                color: var(--cl-bg);
            }
        }
    }
</style>
<script>
    document.querySelector('.popup-close').addEventListener('click', function(e) {
        e.preventDefault()
        document.querySelector('.popup').classList.remove('active')
    })
    let allMembers = document.querySelectorAll('[data-popup]');
    let allData = document.querySelectorAll('.hidden-data .data');
    let popup = document.querySelector('.popup-wrap')
    console.log(popup)
    allMembers.forEach((el, idx) => {
        el.addEventListener('click', function(e) {
            e.preventDefault()
            let target = parseInt(el.getAttribute('data-mem')) - 1;
            let data = allData[target]
            popup.querySelector('.box-left .img-wrap').innerHTML = data.querySelector('.img').innerHTML;
            popup.querySelector('.box-left .label').innerHTML = data.querySelector('.label').innerHTML;
            popup.querySelector('.box-left .name').innerHTML = data.querySelector('.name').innerHTML;
            popup.querySelector('.box-left .jobs').innerHTML = data.querySelector('.jobs').innerHTML;
            popup.querySelector('.box-left .desc').innerHTML = data.querySelector('.desc').innerHTML;
            popup.querySelector('.box-right .box-richtxt').innerHTML = data.querySelector('.richtxt').innerHTML;
            document.querySelector('.popup').classList.add('active')
        })
    })
</script>